<%- include header.1.ejs %>
  
    <script src="/js/jquery.validate.js"></script>
    <style>
        
        .border {
          border: 2px solid #333333;
        }
        .toggles {
          width: 200px;
        }
        .controls {
              background: #ccc;
              padding: 1em;
              display: inline-block;
        }
        .checkbox {  width: 10px; }
        fieldset { border: 0; margin-left: 1px;}
        label {   text-align: left; display:inline-block;margin: 1px 0 5px 5px; width: 110px; color:009900}
        select { width: 190px; } 
        input {  width: 190px; }
        #dialog label, #dialog input { display:block; color:009900}
        #dialog label { margin-top: 0.5em;  width: 90px;}
        #dialog input, #dialog textarea { width: 95%; }
        #headerlogo {vertical-align:bottom}
        .newuserlabel {  width:75px; display: inline-flex;  color:black; }  
        .newuserlabelmust {  width:75px; display: inline-flex;  color:blue; }  
        .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF; }         
        .toolbar {
             font-size: .75em;
             position:relative; 
        }  
        #select-button {
            width: 45px;
        }             
        .block_button {
            position:absolute;   
            float: right;
            padding-right: 1px;
            padding-bottom:1px;
            padding-left: 1px;  
            bottom:1px;          
            right:1px;          
        }        
    </style>
    
    <script>
        var baseUrl = document.location.origin;
        var grid = "";
        var screenTimeout =5000
       

        $('#newuser-form').validate({
            messages:{
                email:"Please enter valid email",
                fname:"Please enter valid name",
                userid:"Please enter a valid userid",
                lname:"Please enter valid name"
            },
            fields:{
                aphone: {
                    validators: {
                        phone: {
                            message: 'The input is not a valid US phone number'
                        }
                    }
                },
            },
            rules: {
                'fname': {
                    required:true
                },
                'lname': {
                    required:true
                },
                'userid': {
                    required:true
                },
                'email': {
                    required:true,
                    email:true
                },               
            },
            highlight: function (input) {
                $(input).parents('.form-line').addClass('error');
            },
            unhighlight: function (input) {
                $(input).parents('.form-line').removeClass('error');
            },
            errorPlacement: function (error, element) {
                $(element).parents('.input-group').append(error);
            }
        });                
                     
        $( function() {
                var tokenid = 0;
                var form;
                var inc = increment();
                var PPpager = document.getElementById("adminuserspager").id + inc;
                document.getElementById("adminuserspager").id = PPpager;                
                var PPgrid = document.getElementById("adminuserslist").id + inc;
                document.getElementById("adminuserslist").id = PPgrid;
                var lastsel ;               
                var timer = 0;              
               
               //-----------------------------------------
               var setConfig = (key,callback)=>{
                    $.ajax({
                        type: "GET",
                        url: `/fhir/config/${key}`,
                        success: function( returnedData ) {
                            if(callback) {
                                callback(returnedData)            
                            }                        
                        },
                        error: function(jqXHR, textStatus, err){
                            Alert('text status '+textStatus+',\n err '+err);
                        }
                    });       
                }
                //--------------------
                $(window).bind("beforeunload", function() { 
                    closeWindows();
                })
                if (isEmpty(tokenid) ) {
                    tokenid = getURLParameter('tokenid') ;
                }                         
                verifytoken(tokenid,function(res){
                    if (! res){
                       // window.location = "/login/html?tokenid="+tokenid;
                        //$( '#mainprog' ).html( "" );
                    }
                });                      

                $('#submit-newuser').click(function(event){
                    event.preventDefault();   
                   // console.log("sudmit data",event)
                    if ( $('#newuser-form').valid() ){            
                        let newdata = { 
                            userid: $("#userid").val(),
                            group:$("#groups option:selected").text(),
                            email: $("#email").val(),
                            phone: $("#aphone").val(),
                            fname: $("#afname").val(),
                            lname: $("#alname").val()
                        } ;
                        console.log("New Data=",newdata)    
                        $.ajax({ 
                            url: "/login/register/user",
                            type: 'POST',
                            cache: false, 
                            data: newdata, 
                            success: function(data){
                                console.log("register user",data)  
                            },
                            error: function(jqXHR, textStatus, err){
                                alert(textStatus+', err: '+err);
                            }
                        });
                    }            
                });        
                function updateUser(){
                    let source = []
                    let data = {
                        userid: $("#userid").val(),
                        group:$("#groups option:selected").text(),
                        email: $("email").val(),
                        phone: $("#phone").val(),
                        fname: $("#fname").val(),    
                        lname: $("#fname").val(),
                        valid: $("#valid").val(),
                        use2Factor: $("#use2Factor").val(),
                        roles: $("#roles").val(),
                        
                    } ;
                    $('input[type=checkbox]').each((i,val)=>{
                        if(val.checked){
                            source.push(val.value);
                        }
                    })
                
                    if(isEmpty(source)) {
                        alert("At least one source needs to be selected")
                        return
                    }
                    data.source =  source.join(", ")
                    console.log(data);
                    let url = baseUrl+'/admin/update'
                   // alert(url)
                    $.ajax({
                        url :url,
                        type: "POST",
                        data : data,
                        dataType: "json",
                        crossDomain: true,
                        success: function(data, textStatus, jqXHR) {
                                grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                                $( "#ddialog-adminuser" ).dialog('close');                       
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                                grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                                $( "#dialog-adminuser" ).dialog('close');                       
                        }
                    });                             
                }                        
                $( "#dialog-adminuser").dialog({
                    autoOpen: false,
                    //minHeight: 385,
                    width: '450px',
                    //hieght:'500px',
                    modal: true,
                    draggable: true,
                    resizable: true,
                   
                    open: (event,ui) => {
                       // timer = setTimeout("$('#dialog-adminuser').dialog('close')",10000);
                        let type = $( "#dialog-adminuser").data('type')

                        let selRowId = grid.jqGrid ('getGridParam', 'selrow');
                        let userid = type=='edit' && grid.jqGrid ('getCell', selRowId, 'userid')?grid.jqGrid ('getCell', selRowId, 'userid'):""
                        let lname =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'lname')?grid.jqGrid ('getCell', selRowId, 'lname'):""
                        let fname =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'fname')?grid.jqGrid ('getCell', selRowId, 'fname'):""
                        let active =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'active')?grid.jqGrid ('getCell', selRowId, 'active'):""
                        let pwdReset =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'pwdReset')?grid.jqGrid ('getCell', selRowId, 'pwdReset'):""
                        let pwdExpire =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'pwdExpire')?grid.jqGrid ('getCell', selRowId, 'pwdExpire'):""
                        let use2Factor =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'use2Factor')?grid.jqGrid ('getCell', selRowId, 'use2Factor'):""
                        let email =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'email')? grid.jqGrid ('getCell', selRowId, 'email'):""
                        let phone =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'phone')?grid.jqGrid ('getCell', selRowId, 'phone'):""
                        let group =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'group')? grid.jqGrid ('getCell', selRowId, 'group'):""
                        let roles =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'roles')? grid.jqGrid ('getCell', selRowId, 'roles'):""
                        let source =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'source')? grid.jqGrid ('getCell', selRowId, 'source'):""

                        $('#userid').val(userid)
                        $('#fname').val(fname)
                        $('#lname').val(lname)
                        $('#use2Factor').val(use2Factor)
                        $('#email').val(email)
                        $('#phone').val(phone)
                        $('#group').val(group)
                        $('#roles').val(roles)
                        $('#source').val(source)          
                        
                    },              
                    close: () =>{
                        //$("#sendloader").css("display","none")
                    },
                    buttons: [

                        {
                            text: "Save",
                            click: () => {
                                updateUser()
                            }
                        },
                        {
                            text: "Close",
                            click: () => {
                                $( "#dialog-adminuser" ).dialog('close');
                            }
                        }
                    ]
                })    
      
                let editSettings = {
                    //recreateForm: true,
                    jqModal: true,
                    reloadAfterSubmit: false,
                    closeOnEscape: true,
                    savekey: [true, 13],
                    closeAfterEdit: true
                };
                addSettings = {
                    //recreateForm: true,
                    jqModal: true,
                    reloadAfterSubmit: true,
                    savekey: [true, 13],
                    closeOnEscape: true,
                    closeAfterAdd: true   
                };
                let cols = { 
                 url:'/admin/userlist', 
                // editurl:'/login/admin/update',
                 altRows: false, 
                 deepempty: true,
                 autowidth: true,
                 ignoreCase: true,
                 datatype: "json",
                 mtype: "GET",       
                 height:'auto',
                 width:'auto',
                 hidegrid: false,
                 multiselect:false,
                 jsonReader : {
                    root:"cargo",
                    repeatitems: false,
                    id: "userid"
                },
                 colModel:[
                     {label:'id',name:'userid', editable:false , width:115, editoptions:{size:26},formoptions:{label:'User ID'}, searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
                     {label:'active',name:'active', search:false,editable:false , width:45,formoptions:{label:'Active'}, 
                            edittype:'Text',
                            formatoptions: { disabled: false}
                    },
                    {label:'approved',name:'valid', search:false,editable:true , width:65,formoptions:{label:'Approve User'}, formatoptions: { disabled: false} },
                    {label:'pwd Reset',name:'pwdReset', search:false,editable:true , width:65,formoptions:{label:'Force Pwd Reset'}, formatoptions: { disabled: false} },
                     {label:'pwd expires',name:'pwdExpire',search:false, editable:true ,width:85,editoptions: {size:20, dataInit: function(el) { $(el).datepicker({ controlType: 'select', dateFormat: "yyyymmdd" } ) } }, formoptions:{label:'Password Expiry'} },
                     {label:'Use Two Factor',name:'use2Factor', search:false,editable:true , width:65,formoptions:{label:'Use Two Factor Auth'}, formatoptions: { disabled: false}, edittype: "checkbox", editoptions: {value: "1:0"} },
                     {label:'fname',name:'fname', editable:true , width:115, editoptions:{size:26},formoptions:{label:'First Name'}, searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
                     {label:'lname',name:'lname', editable:true , width:115, editoptions:{size:26},formoptions:{label:'Last Name'}, searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
                     {label:'email',name:'email', editable:true ,width:125,editoptions:{size:26},formoptions:{label:'Email'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                     {label:'phone',name:'phone', editable:true ,width:123,editoptions:{size:26},formoptions:{label:'Phone'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                     {label:'group',name:'group',search:false, editable:true ,width:85,editoptions:{size:26},
                        formoptions:{label:'group'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                    {label:'roles',name:'roles',search:false, editable:false,hidden: false,editrules: { required: true,edithidden:true} ,width:185,edittype:"textarea",editoptions:{size:285,rows:"1",cols:"20"},formoptions:{label:'roles'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                    {label:'source',name:'source',search:false, editable:false,hidden: false,editrules: { required: true,edithidden:true} ,width:185,edittype:"textarea",editoptions:{size:285,rows:"1",cols:"20"},formoptions:{label:'roles'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                     {label:'last Access',name:'lastAccess', search:false,editable:false ,width:85,editoptions:{size:26},formoptions:{label:'Last Access'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                     {label:'last MSG',name:'msg', search:false,editable:true ,width:85,editoptions:{size:26},formoptions:{label:'Last Message'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                     //{label:'notes',name:'notes',index:'notes', editable:true, hidden: true,,width:450, edittype:"textarea", editoptions:{size:400,rows:"12",cols:"100"},sortable:false,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                 ],
                 pagerpos:"right",
                 loadonce:true,
                 toppager:true,
                 rowNum: 25,
                 rowTotal:5000,
                 viewrecords: true,
                 gridview: true,
                 autoencode: false,            
                 caption: ""          
             }    
                     
                ///===================================================
                grid = $("#"+PPgrid);                
                cols.onSelectRow= function(id){
                    if(id && id!==lastsel){
                        grid.jqGrid('restoreRow',lastsel);
                        //grid.jqGrid('editRow',id,true);
                        lastsel=id;
                    }
                };
                //======================================================
                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:false,
                        add:false,
                        del:false,
                        search:false,
                        refresh:true,
                        cellEdit: false,
                        reloadGridOptions: { fromServer: true },
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        },
                        edittext:'Edit User',
                        deltext:'Delete',
                        addtext:'Add User',
                        refreshtext:'Refresh'
                    },
                    editSettings, 
                    addSettings
                ) ;             
                myAddButton = (options) => {
                    grid.jqGrid('navButtonAdd','#'+PPpager,options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };  
                // search in toolbar
                grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                grid.jqGrid('inlineNav',"#"+PPpager);
                myAddButton ({
                    caption: "New User",
                    title: "Create New User",
                    onClickButton : function (){
                        $( "#dialog-adminuser" ).data("type","update").dialog({title:"New User"}).dialog( "open" );
                    }
                });
                myAddButton ({
                    caption: "Edit User",
                    title: "Edit User",
                    onClickButton : function (){
                        let rowId = grid.jqGrid("getGridParam", "selrow") 
                        if (rowId)  {
                            $( "#dialog-adminuser" ).data("type","edit").dialog({title:"Edit User"}).dialog( "open" );
                        } else {
                                alert("please select a row")
                        }
                    }
                });
                myAddButton ({
                    caption: "Register  User",
                    title: "Register New User",
                    onClickButton : function (){
                        $( "#dialog-register-user").data("type","update").dialog( "open" );
                    }
                });
                myAddButton ({
                    caption: "Approve  User",
                    title: "Approve New User",
                    onClickButton : ()=> {
                        let selRowId = grid.jqGrid ('getGridParam', 'selrow');
                        if (selRowId)  {
                            let conf = false
                            let userid = grid.jqGrid ('getCell', selRowId, 'userid');
                            let valid = grid.jqGrid ('getCell', selRowId, 'valid');
                            let active = grid.jqGrid ('getCell', selRowId, 'active');
                            if( [1,'1','Yes'].includes(valid ) &&  [1,'1','Yes'].includes(active)){
                                conf = confirm( `account for ${userid} has been already approve .\n do you sure you want to continue`  )
                            }
                            if ( conf || confirm( `You are about to approve user account for ${userid}.\n Are you sure you want to continue`  ) ) {
                                let url = baseUrl+`/admin/approve/${userid} ` ;
                                $.ajax({
                                        type:'GET',     
                                        url: url,
                                        dataType: 'json',
                                        success: function( returnedData ) {

                                            alert("User Approved");     
                                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');                                                 
                                        },
                                        error: function(jqXHR, textStatus, errorThrown){
                                            alert("User Approval failed");                                            
                                        
                                        }
                                });   
                                grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                            }
                        } else {
                            alert("please select a user row first")
                        }
                    }
                });
                myAddButton ({
                    caption: "Reset Password",
                    title: "Reset AdminUser Password",
                    onClickButton : function (){
                        let $this = $(this) ;
                        let selRowId = $this.jqGrid ('getGridParam', 'selrow');
                        let userid = $this.jqGrid ('getCell', selRowId, 'userid');
                        let url = baseUrl+"/adminuser/pwdreset" ;
                        // console.log("reset pwd url= ",url);
                        let data = {userid:userid,tokenid:tokenid};
                        // console.log("data= "+JSON.stringify(data))
                        if ( confirm( "This will reset passsword for user: "+userid+"\n Are you sure you want to continue"  ) ) {
                            $.ajax({
                                    type:'POST',     
                                    url: url,
                                    data:data,
                                    dataType: 'json',
                                    success: function( returnedData ) {
                                        log("RESET PWD user  result="+returnedData);                                            
                                    },
                                    error: function(jqXHR, textStatus, errorThrown){
                                        log("ajax error "+textStatus +'-'+ errorThrown);
                                    }
                            });                        
                        }
                    }
                });     
                myAddButton ({
                    caption: "Disable User",
                    title: "Disable User",  
                    onClickButton : function (){
                        let selRowId = grid.jqGrid ('getGridParam', 'selrow');
                        if (selRowId)  {
                            let userid = grid.jqGrid ('getCell', selRowId, 'userid');
                            if ( confirm( "This will disable the user: "+userid+"\n Are you sure you want to continue"  ) ) {
                                let url = `/login/admin/disable/${userid}`
                                $.ajax({
                                    type:'GET',     
                                    url: url,
                                    success: function( returnedData ) {
                                        grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');                                                                  
                                    },
                                    error: function(jqXHR, textStatus, errorThrown){
                                        log("ajax error "+textStatus +'-'+ errorThrown);
                                    }
                                });                        
                            }
                        } else {
                            alert("please select a user row first")
                        }
                    }        
                })
               
                let msg1 =`This window has been inactive for ${screenTimeout} seconds and will autoclose in ${screenTimeout} seconds unless you hit 'Cancel.'  Would you like it to close?`
                $("h4.test").text(msg1);

              
        });                       
        
        var autoCloseTimer;
        var timeoutObject;
        function promptForClose()  {
            autoCloseDiv.style.display = 'block';
            autoCloseTimer = setTimeout("definitelyClose()",screenTimeout);
        }
        function autoClose(){
            autoCloseDiv.style.display = 'block'; //shows message on page
            autoCloseTimer = setTimeout("definitelyClose()",screenTimeout); //starts countdown to closure
        }
        function cancelClose() {
            clearTimeout(autoCloseTimer); //stops auto-close timer
            autoCloseDiv.style.display = 'none'; //hides message
        }
        function resetTimeout() {
            clearTimeout(timeoutObject); //stops timer
            clearTimeout(autoCloseTimer); //stops timer
            timeoutObject = setTimeout("promptForClose()",screenTimeout); //restarts timer from 0
        
        }
        function definitelyClose() {
           // alert("closing")
            top.opener = self;
            top.window.close();
           // $('#MainPage').html("closed")
            document.body.innerHTML = 'closed';
        }
      
    </script>
    <!--
    <body onkeydown="resetTimeout();" onmousedown='resetTimeout();' onload="timeoutObject=setTimeout('promptForClose()',5000);">
    -->
    <body >
        <div id="MainPage">
            <div id='autoCloseDiv'  class="ui-layout-center ui-widget-content ui-corner-all" style="display:none;height:auto;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:rgb(243, 190, 190);">        
                <h4 class="test">This window has been inactive for ${screenTimeout} seconds and will autoclose in 5 seconds unless you hit 'Cancel.'  Would you like it to close?</h4>
                <center><input type='button' value='Close' onclick='definitelyClose();' />
                        <input type='button' value='Cancel' onclick='cancelClose();' />
                </center>
            </div>
 
            <div id="dialog-adminuser" title='New User'  class="ui-layout-center ui-widget-content ui-corner-all" style="display:none">
                    <form id="newuserform" method="POST">
                        <div class="msg">All fields are required</div>    
                        <p></p>
                        <div >
                            <label> User ID </label>
                            <span class="ui-widget-content ui-corner-all">
                                <input autocomplete="off" type="text" value="" class="form-control" id='userid' minlength=2 name="userid" placeholder="User ID"  autofocus>
                            </span>
                        </div>
                        <div >
                            <label > First Name </label>
                            <span class="ui-widget-content ui-corner-all">
                                <input autocomplete="off" type="text" value=""  id='fname' minlength=2 name="fname" placeholder="First Name"  >
                            </span>
                        </div>
                        <div >
                            <label> Last Name</label>
                            <input autocomplete="off" type="text" value=""  id='lname' minlength=2 name="lname" placeholder="Last Name">
                        </div>
                        <div >
                            <label >Mail</label>
                            <input type="email" autocomplete="off"  value=""  id='email' minlength=2 name="email" placeholder="email" >
                        </div>
                        <div >
                            <label>Phone</label>
                            <input autocomplete="off" type="text" value="" class="form-control" id='phone' minlength=2 name="phone" placeholder="phone"  >
                        </div>
                        <div >
                            <label>Use 2 Factor</label>
                            <input autocomplete="off" type="text" value="" class="form-control" id='use2Factor' minlength=2 name="use2Factor" placeholder="use 2 factor"  >
                        </div>
                        <p></p>
                        <div class="input-group">
                            <label>Group</label>  
                    
                            <select name="groups" id="groups">
                                <option>PM_USER</option>
                                <option>PM_ADMIN</option>
                                <option>SYS_ADMIN</option>
                            </select> 
                        </div>
                        <div>
                            <label>Roles</label>
                        
                            <select name="roles" id="roles">
                                <option>PM_USER</option>
                                <option>PM_ADMIN</option>
                                <option>SYS_ADMIN</option>
                            </select>         
                        </div>   
                        <div>
                            <label><b>Source</b></label>
                            <div id="source" class="ui-widget-content ui-corner-all" >        
                                <div>
                                    <input class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="a_source" value="HIXNY">
                                    <lable>HIXNY</lable>
                                </div>
                                <div>
                                    <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="a_source" value="BRONX">
                                    <label>BRONX</label> 
                                </div>
                                <div > 
                                    <input  class="checkbox ui-widget-content ui-corner-all"  type="checkbox" name="a_source" value="HEALTHIX" >
                                    <lable>HEALTHIX</lable>
                                </div>
                                <div>
                                    <input  class="checkbox ui-widget-content ui-corner-all"  type="checkbox" name="a_source" value="HEALTHELINK" >
                                    <lable>HEALTHELINK</lable>
                                </div>
                                <div>
                                    <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="a_source" value="HEALTHECONN" >
                                    <label>HEALTHECONN</lable>
                                </div>
                                <div>
                                    <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="a_source" value="GRRHIO" >
                                    <label>GRRHIO</lable>
                                </div>
                                <div>
                                    <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="a_source" value="DOHMPI" >
                                    <label>DOHMPI</lable>
                                </div>
                                <div>
                                    <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="a_source" value="STATEWIDE" >
                                    <label>STATEWIDE</lable>
                                </div>    
                            </div> 
                        </div>   
                        <p></p>  
                                
                    </form>
            </div>
            
            <div class="toolbar" id="loginHeader" class="ui-widget-header:"  >     	     
                <table id="adminuserslist"></table> 
                <div id="adminuserspager"></div>                        
            </div>    
            <%- include registeruser.ejs %>
        </div>
    </body>
  
