<%- include header.1.ejs %>
    
    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            position: relative; 
            margin: 0em; 
            padding:0; 
            /*overflow: auto;*/ 
            overflow-x:hidden; 
            overflow-y:auto; 
            text-align:left;
        }
       
        /* Center the loader */
        #sendloader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 100px;
            height: 100px;
            margin: -75px 0 0 -75px;
            border: 16px solid #dcddee;
            border-radius: 50%;
            border-top: 16px solid #084f7e;
            width: 80px;
            height: 80px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
        .ui-BUTTONREQ {
	        border:blue;
            background:rgb(240, 233, 234) ;
            color:rgb(10, 10, 10);
        }               
        .ui-BUTTONRES {
	        border:blue;
            background:rgb(192, 180, 247) ;
            color:rgb(10, 10, 10);
        }         
        .ui-BUTTONRESULT {
	        border:blue;
            background:rgb(191, 192, 189) ;
            color:rgb(10, 10, 10);
        }         
        .ui-CONDITION {
	        border:blue;
            background:rgb(255, 240, 204) ;
            color:rgb(100, 17, 17);
        } 
    </style>
     
    <script>
        var baseUrl = document.location.origin;
        var grid;
        var subgrid;
        results = []
        tokenid = getURLParameter("tokenid")  
        //-----------------------------------------------------------
        let showlog = ()=>{
            let addshow = "showlog=1"
            let url = $('#sendfhirurl').val()
            if( ! url.includes(addshow )){
                addshow = url.includes("?")?addshow = "&"+addshow:addshow = "?"+addshow
                $('#sendfhirurl').val(url+addshow)
            }
        }
        //---------------------
        var showqeRequest = (id) =>{
            let url = `/audit/qerequest?tokenid=${tokenid}&type=request&id=${id}`
            openWindow(url,url); // will close on logout     
        }
        //---------------------------------------------------       
        var showqeResponse = (id) =>{
            let url = `/audit/qeresponse?tokenid=${tokenid}&type=response&id=${id}`
            openWindow(url,url); // will close on logout     
        }         
        //---------------------
        var showqeResult = (id) =>{
            let url = `/audit/qeresponse?tokenid=${tokenid}&type=result&id=${id}`
            openWindow(url,url); // will close on logout     
        }      
         //---------------------
         var showstateRequest = (id) =>{
            let url = `/audit/staterequest?tokenid=${tokenid}&type=url&id=${id}`
            console.log(url)
            openWindow(url,url); // will close on logout     
        }
        //---------------------
        var showstateResponse = (id) =>{
            let url = `/audit/stateresponse?tokenid=${tokenid}&type=result&id=${id}`
            openWindow(url,url); // will close on logout     
        }
        //---------------------
        $( ()=>{
            let PPpager = ("urlpager");
            grid = $("#urllist");                                
            let gridAddButton = (grid, options)=>{
                grid.jqGrid('navButtonAdd','#'+PPpager,options);
                grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
            };
            //-----------------------------------------------------------
            let getguid = ()=>{
                let S4 = () =>{
                    return (((1+Math.random())*0x10000)|0).toString(16).substring(1); 
                }
                guid = (S4() + S4() + "-" + S4() + "-4" + S4().substr(0,3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
                return guid
            }
            //----------------------------------------------------------
            let getSelected = ()=>{
                var result = [];
                let rowKey = grid.getGridParam("selrow");
                if (!rowKey){
                    Alert("No rows selected");
                }else {
                    var selectedIDs = grid.getGridParam("selarrrow");
                    for (var i = 0; i < selectedIDs.length; i++) {
                        let rowData = grid.jqGrid ('getRowData', selectedIDs[i]);
                        result.push( {type:rowData.type,url:rowData.url})
                    }
                }  
                return result    
            }      
            //-------------------------------------------------------
            let getProfile = (type,callback) =>{
                if(isEmpty(type)){
                    type="OperationOutcome"
                }
                let url = `/fhir/profile/${type}`
                $.ajax({
                    type:"GET",
                    url: url,
                    async:true,
                    success: ( returnedData ) =>{
                       callback(returnedData)                   
                    },
                    error: (jqXHR, textStatus, err) => {
                       callback("error")
                    },
                    timeout:1000
                });     
            }
            //------------------------------------------------------------
            let auditcols = { 
                "url":`/audit/staterequest?tokenid=${tokenid}&type=all`,  
                "datatype":"json",
                "altRows": false, 
                "deepempty": true,
                //"autowidth": true,
                "ignoreCase": true,
                "multiselect":false,
                "multiboxonly":true,
                "height":"500px",
                "width":"auto",
                "scrollOffset":0,
                "colModel":[
                    {"label":"resource","name":"resource", search:true,"editable":false ,"width":45 
                        ,cellattr: function(rowId, val, rawObject) {
                            if(['Conditions','Condition','Observations','Observation'].includes(val)  ){
                                return " class='ui-CONDITION'";
                            }
                        }   
                    },
                    {"label":"ID","name":"id", "editable":false,"width":25,hidden:false ,search:true},
                    {"label":"qe","name":"qe",sorttype:'string',"editable":false ,"width":50 },                   
                    {"label":"target","name":"target" ,search:true,"editable":false ,"width":50 }, 
                    {"label":"mpi","name":"mpi", "editable":false ,"width":40 },
                    {"label":"transaction ID","name":"transactionID", "editable":false ,"width":150},
                    {label:"seq",name:'seq', width:30,sortable:false},        
                    {label:"res time ms",name:'responseTime', width:30,sortable:true},                   
                    {label:"status",name:'status', width:30,sortable:true},
                    {label:"count",name:'resourcecount', width:30,sortable:true},
                    {label:"request",name:'request',search:false, width:45,sortable:false},         
                    {label:"response",name:'act', search:false,width:45,sortable:false},       
                    {label:"Result",name:'result', search:false,width:45,sortable:false},   
                              
                    {"label":"Timestamp","name":"timestamp", "editable":false ,"width":120 },
                ],
                "ondblClickRow": (rowid, iRow,iCol) => {		 
                    let url = grid.jqGrid ('getCell', rowid, 'url')                    
                    let type = grid.jqGrid ('getCell', rowid, 'type')
                    openWindow(url,url); // will close on logout  
                },
                "onclickSubmit": (response, postdata) => {
                    alert(postdata)
                   // AddPost(postdata);
                },
                "loadonce":true,
                "toppager":true,
                //"pager":'#'+PPpager,
                //"rowTotal": 5000,
                "rowList": [],        // disable page size dropdown leave empty array
                "pgbuttons": true,     // disable page control like next, back button
                "pgtext": null,         // disable pager text like 'Page 0 of 10'
                "viewrecords": true ,   // disable current view record text like 'View 1-10 of 100' 
                "gridview": true,
                "autoencode": false,        // true displays html in cell instead of button   
                "caption": "FHIR Audit" ,   
                "onCellSelect": (rowid, index, contents, event) => {    
                    let url = grid.jqGrid ('getCell', rowid, 'url')               
                    let type = grid.jqGrid ('getCell', rowid, 'type')      
                },
                "loadError": (a, c, d) => {
                    let msg = "There is a problem retrieving data from the server, it could be down, please contact your system administrator."
                    Alert(msg)
                },
                gridComplete: ()=>{
                    var ids = grid.jqGrid('getDataIDs');
                    for(var i=0;i < ids.length;i++){
                        var cl = ids[i];
                        let rowData = grid.jqGrid ('getRowData', cl);
                        let id = rowData.id
                        let resource = rowData.resource
                        if(resource == "sprl/PIX" || resource == 'Patient'){
                            $('tr#'+ids[i], grid)
                            .children("td.sgcollapsed")
                            .html("")
                            .removeClass('ui-sgcollapsed sgcollapsed');
                        }
                        brequest = "<input class='ui-BUTTONREQ' style='height:20px;width:70px;' type='button' value='Request' onclick=\"showstateRequest('"+id+"');\"  />"; 
                        bresult = "<input class='ui-BUTTONRESULT' style='height:20px;width:70px;' type='button' value='Result' onclick=\"showstateResult('"+id+"');\"  />"; 
                        bres = "<input class='ui-BUTTONRES' style='height:20px;width:70px;' type='button' value='Response' onclick=\"showstateResponse('"+id+"');\"  />"; 
                        grid.jqGrid('setRowData',ids[i],{request:brequest});
                        grid.jqGrid('setRowData',ids[i],{act:bres});                        
                        grid.jqGrid('setRowData',ids[i],{result:bresult});

                    }	
                },
                subGrid: true,
                subGridRowExpanded: (subgrid_id, rowid) => {
                    let subgrid_table_id = subgrid_id+"_t";
                    let transactionID = grid.jqGrid ('getCell', rowid, 'transactionID')                    
                    let id = grid.jqGrid ('getCell', rowid, 'id')
                    $("#"+subgrid_id).html("<table id='"+subgrid_table_id+"' class='scroll'></table>");
                    subgrid =  $("#"+subgrid_table_id)
                    subgrid.jqGrid({
                       // url:"/audit/view?type=qry&id="+id+"",
                        url:"/audit/view",
                        datatype: "json",
                        "colModel":[
                            
                        {label:"id",name:'ID', width:80,sortable:false,hidden:true},
                            {"label":"resource","name":"resource", "editable":false ,"width":65 },
                          // {"label":"url","name":"url", "editable":false ,"width":180 },
                           // {label:"request",name:'request', width:55,sortable:false},                            
                            {label:"url",name:'url', width:255,sortable:false},
                           {"label":"req ID","name":"qeRequestID", "editable":false,"width":50,hidden:true },
                        //   {"label":"transaction ID","name":"transactionID", "editable":false,"width":96 },               
                            {"label":"oid","name":"oid", "editable":false ,"width":180 },                            
                            {"label":"mpi","name":"mpi", "editable":false ,"width":80 }, 
                       
                            {label:"status",name:'status', width:55,sortable:false},
                            {label:"res ms",name:'responseTime', width:55,sortable:false},
                            {"label":"Timestamp","name":"timestamp", "editable":false ,"width":160 },
                            {label:"response",name:'response', width:55,sortable:false},
                        ],
                        //multiselect:true,
                        "autowidth": false,
                        "ignoreCase": true,
                        width:"100%",
                        height: '100%',
                        rowNum:20,
                        sortname: 'num',
                        sortorder: "asc",
                        gridComplete: ()=>{
                            var ids = subgrid.jqGrid('getDataIDs');
                          //  console.log(ids)
                            for(var i=0;i < ids.length;i++){
                                var cl = ids[i];
                                let rowData = subgrid.jqGrid ('getRowData', cl);
                                let qeRequestID = rowData.qeRequestID
                                let id= rowData.ID
                               // let breq = "<input class='ui-BUTTONREQ' style='height:22px;width:50px;' type='button' value='...' onclick=\"showstateRequest('"+id+"','"+id+"');\"  />"; 
                                let bres = "<input class='ui-BUTTONRES' style='height:20px;width:50px;' type='button' value='...' onclick=\"showstateResponse('"+id+"');\"  />";    
                                subgrid.jqGrid('setRowData',ids[i],{response:bres});
                                //subgrid.jqGrid('setRowData',ids[i],{request:breq});
                            }	
                        },
                    });
                }
            };
           
            grid.jqGrid(auditcols);   
            grid.jqGrid('gridResize',{minWidth:450,maxWidth:1400,minHeight:180, maxHeight:650});
            grid.jqGrid('navGrid', '#'+PPpager,{
                    cloneToTop:true,
                    edit:false,
                    add:false,
                    del:false,
                    search:false,
                    refresh:true,
                    position: "left", 
                    reloadGridOptions: { fromServer: true },             
                    beforeRefresh: ()=> {
                        grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    }                       
                },
                  // options for the Edit Dialog
                  {
                    editCaption: "Edit url",
                    recreateForm: true,
                   // height:250,
                    width:600,
                    reloadAfterSubmit:true,
                    closeAfterEdit: true,
					//checkOnUpdate : true,
                    //checkOnSubmit : true,
                   
            
                    onclickSubmit: (params) => {
                        let row = grid.getGridParam('selrow');
                        let sdata = grid.getRowData(row);
                        return sdata; 
                    },
					beforeSubmit : ( postdata, form , oper) =>{
                        //alert(JSON.stringify(postdata,null,3))
						if( confirm('Are you sure you want to update this row?') ) {
                            $.ajax({
    	                        type: 'POST',
                                url: "/urlhistory/edit?data=56",
                                async: false,
                                data:postdata,
                                success: function(data, textStatus, xhr) {
                                   
                                },
                                error: function(data, textStatus, xhr) {
                                    alert(data.responseText);
                                },
                                dataType: 'json'
                            });		
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
							return [false,''];
						} else {
							return [false, 'You can not submit!'];
						}
					},
                    errorTextFormat:  (data) =>{
                        return 'Error: ' + data.responseText
                    }
                },
                // options for the Add Dialog
                {
                    closeAfterAdd: true,
                    recreateForm: true,
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    }
                },
                {
                    reloadAfterSubmit:true,
                    width:400,
                    beforeSubmit : ( postdata) =>{
                        let selRowIds = grid.jqGrid ('getGridParam', 'selarrrow');
                        //let row = grid.getGridParam('selrow');
                        //let sdata = grid.getRowData(row);
                        let rows = []
                        selRowIds.forEach((elem)=>{
                            rows.push(grid.getRowData(elem))
                        })
						if( confirm('Are you sure you want to Delete record/s?\n\n'+JSON.stringify(rows,null,3)) ) {
                            $.ajax({
    	                        type: 'POST',
                                url: "/urlhistory/delete",
                                async: false,
                                data:{rows},
                                error: function(data, textStatus, xhr) {
                                    alert(data.responseText);
                                },
                                dataType: 'json'
                            });		
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid'); 
                            $(".ui-icon-closethick").trigger('click');
							return [false,''];
						} else {
                            $(".ui-icon-closethick").trigger('click');
							return [false, ''];
                        }
					},
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText  
                    }
                }
            );
           grid.jqGrid('filterToolbar',{searchOperators : false,autosearch:true,searchOnEnter:false});
          
           // setTheme('ui-lightness')
        });                
     
    </script>
 
    <table id="urllist"></table> 
    <div id="urlpager"></div>                        
 
  
  <div id="sendloader" style="display:none"></div>

    