<%- include header.1.ejs %>
<link href="/jsoneditor/dist/jsoneditor.css" rel="stylesheet" type="text/css">
<script src="/jsoneditor/dist/jsoneditor.js"></script>
<link href="/jsoneditor/dist/font-awesome.css" rel="stylesheet" type="text/css">

    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            position: relative; 
            margin: 0em; 
            padding:0; 
            /*overflow: auto;*/ 
            overflow-x:hidden; 
            overflow-y:auto; 
            text-align:left;
        }
       
        /* Center the loader */
        #sendloader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 100px;
            height: 100px;
            margin: -75px 0 0 -75px;
            border: 16px solid #dcddee;
            border-radius: 50%;
            border-top: 16px solid #084f7e;
            width: 80px;
            height: 80px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
        .ui-BUTTONREQ {
	        border:blue;
            background:rgb(240, 233, 234) ;
            color:rgb(10, 10, 10);
        }               
        .ui-BUTTONRES {
	        border:blue;
            background:rgb(192, 180, 247) ;
            color:rgb(10, 10, 10);
        }         
        .ui-BUTTONRESULT {
	        border:blue;
            background:rgb(191, 192, 189) ;
            color:rgb(10, 10, 10);
        }         
        .ui-CONDITION {
	        border:blue;
            background:rgb(255, 240, 204) ;
            color:rgb(100, 17, 17);
        } 
    </style>
     
    <style style="text/css">
        .ui-jqgrid .ui-jqgrid-sdiv{overflow:visible; }
        .ui-jqgrid .ui-jqgrid-hdiv{overflow:visible ;}
		.ui-jqgrid .ui-jqgrid-view {
			z-index: auto;
		}
		.ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-pg-table {
			font-size: 13px;
		}
		.ui-jqgrid .ui-jqgrid-title {
			float: left;
			margin: 8px;
		}
		.ui-jqgrid .ui-jqgrid-title-rtl {
			float: right;
			margin: 8px;
		}
		.ui-jqgrid-view>.ui-jqgrid-titlebar {
			height: 40px;
			line-height: 24px;
			color: #FFF;
			background: #307ECC;
			padding: 0;
			font-size: 15px;
		}
		.ui-jqgrid tr.jqgrow.ui-row-rtl td:last-child {
			border-right: none;
			border-left: 1px solid #E1E1E1;
		}
		.ui-jqgrid .ui-jqgrid-hdiv {
			background-color: #EFF3F8;
			border: 1px solid #D3D3D3;
			border-width: 1px 0 0 1px;
			line-height: 15px;
			font-weight: 700;
			color: #777;
			text-shadow: none;
		}
		.ui-jqgrid .ui-jqgrid-htable thead {
			background-color: #EFF3F8;
		}
		.ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
			height: 45px!important;
		}
		.ui-jqgrid .ui-jqgrid-htable th div {
			padding-top: 12px;
			padding-bottom: 12px;
			overflow: visible;
		}
		.ui-jqgrid-hdiv .ui-jqgrid-htable {
			border-top: 1px solid #E1E1E1;
		}
		.ui-jqgrid-titlebar {
			position: relative;
			top: 1px;
			z-index: 1;
		}
		.ui-jqgrid tr.jqgrow, .ui-jqgrid tr.ui-row-ltr, .ui-jqgrid tr.ui-row-rtl {
			border: none;
					height:auto;
					overflow:hidden;
					padding-right:4px;
					padding-top:2px;
					position:relative;
					vertical-align:text-top;
					white-space:normal !important;
		}
		.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td {
			border-bottom: 1px solid #E1E1E1;
			padding: 6px 4px;
			border-color: #E1E1E1 !important;
					white-space: normal !important;
					height:auto;
					vertical-align:text-top; 
					padding-top:2px;
		}
		.ui-jqgrid tr.ui-state-highlight.ui-row-ltr td {
			border-right-color: #C7D3A9;
		}
		.ui-jqgrid tr.ui-state-highlight.ui-row-rtl td {
			border-left-color: #C7D3A9;
		}
		.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary {
			background-image: none;
			background-color: #F9F9F9;
			opacity: 1;
		}
		.ui-jqgrid-btable .ui-widget-content.ui-state-hover {
			background-image: none;
			background-color: #EFF4F7;
			opacity: 1;
		}
		.ui-jqgrid-btable .ui-widget-content.ui-state-highlight {
			background-color: #E4EFC9;
		}
		.ui-jqgrid .ui-jqgrid-pager {
			line-height: 15px;
			height: 55px;
			padding-top: 10px!important;
			padding-bottom: 10px!important;
			background-color: #EFF3F8!important;
			border-bottom: 1px solid #E1E1E1!important;
			border-top: 1px solid #E1E1E1!important;
		}
		.ui-jqgrid .ui-pg-input {
			font-size: inherit;
			width: 24px;
			height: 20px;
			line-height: 16px;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			text-align: center;
			padding-top: 1px;
			padding-bottom: 1px;
		}
		.ui-jqgrid .ui-pg-selbox {
			display: block;
			height: 24px;
			width: 60px;
			margin: 0;
			padding: 1px;
			line-height: normal;
		}
		.ui-jqgrid .ui-pager-control {
			height: 50px;
			position: relative;
			padding-left: 9px;
			padding-right: 9px;
		}
		.ui-jqgrid .ui-jqgrid-toppager {
			height: auto!important;
			background-color: #EFF3F8;
			border-bottom: 1px solid #E1E1E1!important;
		}
		.ui-pg-table .navtable .ui-corner-all {
			border-radius: 0;
		}
		.ui-jqgrid .ui-pg-button .ui-separator {
			margin-left: 4px;
			margin-right: 4px;
			border-color: #C9D4DB;
		}
		.ui-jqgrid .ui-jqgrid-btable {
			border-left: 1px solid #E1E1E1;
		}
		.ui-jqgrid .ui-jqgrid-bdiv {
			border-top: 1px solid #E1E1E1;
			overflow-x: hidden;
		}
		.ui-jqgrid .loading {
			position: absolute;
			top: 45%;
			left: 45%;
			width: auto;
			height: auto;
			z-index: 111;
			padding: 6px;
			margin: 5px;
			text-align: center;
			font-weight: 700;
			font-size: 12px;
			background-color: #FFF;
			border: 2px solid #8EB8D1;
			color: #E2B018;
		}
		 
		.ui-jqgrid .ui-jqgrid-labels {
			border-bottom: none;
			background: repeat-x #F2F2F2;
			background-image: -webkit-linear-gradient(top, #F8F8F8 0, #ECECEC 100%);
			background-image: -o-linear-gradient(top, #F8F8F8 0, #ECECEC 100%);
			background-image: linear-gradient(to bottom, #F8F8F8 0, #ECECEC 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',  endColorstr='#ffececec',  GradientType=0);
			padding: 0!important;
			border-left: 1px solid #E1E1E1!important;
		}
		.ui-jqgrid .ui-jqgrid-labels th {
			border-right: 1px solid #E1E1E1!important;
			text-align: left!important;
		}
		.ui-jqgrid-labels th[id*="_cb"]:first-child>div {
			padding-top: 0;
			text-align: center!important;
		}
		.ui-jqgrid-sortable {
			padding-left: 4px;
			font-size: 13px;
			color: #777;
			font-weight: 700;
		}
		.ui-jqgrid-sortable:hover {
			color: #547EA8;
		}
		th[aria-selected=true] {
			background-image: -webkit-linear-gradient(top, #EFF3F8 0, #E3E7ED 100%);
			background-image: -o-linear-gradient(top, #EFF3F8 0, #E3E7ED 100%);
			background-image: linear-gradient(to bottom, #EFF3F8 0, #E3E7ED 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8',  endColorstr='#ffe3e7ed',  GradientType=0);
		}
		th[aria-selected=true] .ui-jqgrid-sortable {
			color: #307ECC;
		}
		.ui-jqgrid .ui-icon {
			text-indent: 0;
			color: #307ECC;
			float: none;
			right: 2px;
		}
		.rtl .ui-jqgrid .ui-icon {
			right: auto;
			left: 2px;
		}
		.ui-jqgrid .ui-icon.ui-state-disabled {
			color: #BBB;
		}
		.ui-jqgrid .ui-icon.ui-state-disabled:hover {
			padding: 0;
		}
		.ui-grid-ico-sort:before {
			display: inline;
			font-size: 12px;
		}
		.ui-icon-asc:before {
			content: "\f0d8"}
		.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon {
			display: inline-block;
			padding: 0;
			width: 24px;
			height: 24px;
			line-height: 22px;
			text-align: center;
			position: static;
			float: none;
			margin: 0 2px!important;
			color: grey;
			border: 1px solid #CCC;
			background-color: #FFF;
			border-radius: 100%}
		.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:hover {
			color: #699AB5;
			border-color: #699AB5;
		}
		.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:before {
			width: 20px;
			text-align: center;
			display: inline-block;
		}
		.ui-pg-table>tbody>tr>.ui-pg-button.ui-state-disabled .ui-icon {
			color: #B0B0B0;
			background-color: #F7F7F7;
			border-color: #DDD;
			-moz-transform: scale(.9);
			-webkit-transform: scale(.9);
			-o-transform: scale(.9);
			-ms-transform: scale(.9);
			transform: scale(.9);
		}
		.ui-jqgrid-btable input, .ui-jqgrid-btable select, .ui-jqgrid-btable textarea {
			padding: 2px;
			width: auto;
			max-width: 100%;
			margin-bottom: 0;
		}
		.ui-jqgrid-btable select {
			padding: 1px;
			height: 25px;
			line-height: 25px;
		}
		 
		.ui-pg-div .ui-icon {
			display: inline-block;
			width: 18px;
			float: none;
			position: static;
			text-align: center;
			opacity: .85;
			-webkit-transition: all .12s;
			-o-transition: all .12s;
			transition: all .12s;
			margin: 0 1px;
			vertical-align: middle;
			cursor: pointer;
			font-size: 17px;
		}
		.ui-pg-div .ui-icon:hover {
			-moz-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-o-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
			opacity: 1;
			position: static;
			margin: 0 1px;
		}
		.ui-pg-div .ui-icon:before {
			font-family: FontAwesome;
			display: inline;
		}
		 
		 
		.ui-jqgrid .ui-pg-button:hover, .ui-jqgrid .ui-state-disabled:hover {
			padding: 0 1px;
					border-style: none !important;
		}
		.ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover>.ui-pg-div>.ui-icon, .ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover>.ui-separator {
			margin-left: 4px;
			margin-right: 4px;
		}
		@media only screen and (max-width:767px) {
			.ui-jqgrid .ui-jqgrid-pager {
			height: 90px;
		}
		.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control {
			height: 85px;
			padding-top: 10px!important;
		}
		.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td {
			vertical-align: top;
		}
		.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center {
			width: 0!important;
			position: static;
		}
		.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center>.ui-pg-table {
			margin: 36px auto 0;
			position: absolute;
			right: 0;
			left: 0;
			text-align: center;
		}
		.ui-jqgrid .ui-jqgrid-pager .navtable {
			height: auto;
		}
		}.dd
     
    </style>
      
    <script>
        var baseUrl = document.location.origin;
        var grid;
        var subgrid;
        results = []
        tokenid = getURLParameter("tokenid")  
        //--------------------------------------------------------
        var viewJSON = (_data) => {
                    let url = baseUrl + '/json/viewer?data={}'
                    let popup = openWindow(url)
                    setTimeout(() => {
                        if (popup) {
                            popup.postMessage(_data, "*")
                            popup.focus()
                        }
                    }, 1000)
                }   
        //-----------------------------------------------------------
        let showlog = ()=>{
            let addshow = "showlog=1"
            let url = $('#sendfhirurl').val()
            if( ! url.includes(addshow )){
                addshow = url.includes("?")?addshow = "&"+addshow:addshow = "?"+addshow
                $('#sendfhirurl').val(url+addshow)
            }
        }
        //---------------------------------------------------       
        var showResponse = (id) =>{
            let url = `/audit/auditViewResponse?tokenid=${tokenid}&type=response&id=${id}`
            $.ajax({
                type: "GET",
                url: url,
                timeout: 1800,
                crooDomain:true,
                success: function( returnedData ) {
                    console.log("returned Data",returnedData)
                    viewJSON(JSON.parse(returnedData)  )                                             
                },
                error: function(jqXHR, textStatus, err){
                    
                    results ={"error":"cross domain error",textStatus, jqXHR}  
                    viewJSON(results)      
                }
            });        
            //openWindow(url,url); // will close on logout     
        }         
        //---------------------
        var showResult = (id) =>{
            let url = `/audit/auditViewResult?tokenid=${tokenid}&type=request&id=${id}`
            $.ajax({
                type: "GET",
                url: url,
                timeout: 1800,
                crooDomain:true,
                success: function( returnedData ) {
                    if(returnedData=='n/a'){
						returnedData = '{"notice":"No Data Available"}'
					}
                    console.log("returned Data",returnedData)
					if (returnedData.includes('<SOAP') ) {
						openWindow(url,url);
					}else{
						viewJSON(JSON.parse(returnedData))         
					}                                      
                },
                error: function(jqXHR, textStatus, err){
                    
                    results ={"error":"cross domain error",textStatus, jqXHR}  
                    viewJSON(JSON.parse(results))      
                }
            });        
           	//openWindow(url,url); // will close on logout     
        }      
         //---------------------
         var showRequest = (id) =>{
            let url = `/audit/auditViewRequest?tokenid=${tokenid}&type=request&id=${id}`
            $.ajax({
                type: "GET",
                url: url,
                timeout: 1800,
                crooDomain:true,
                success: function( returnedData ) {
                    
                    console.log("returned Data",returnedData)
                    viewJSON(JSON.parse(returnedData) )                                              
                },
                error: function(jqXHR, textStatus, err){
                    
                    results ={"error":"cross domain error",textStatus, jqXHR}  
                    viewJSON(results)      
                }
            });        
            console.log(url)
          //  openWindow(url,url); // will close on logout     
        }
        //---------------------
        $( ()=>{
            let PPpager = ("urlpager");
            grid = $("#urllist");      
            //-----------------------------------------------------------
            $("#chngroup").change(function(){
                var vl = $(this).val();
                if(vl) {
                    if(vl == "clear") {
                        grid.jqGrid('groupingRemove',true);
                    } else {
                        grid.jqGrid('groupingGroupBy',vl);
                    }
                }
            });                          
            let gridAddButton = (grid, options)=>{
                grid.jqGrid('navButtonAdd','#'+PPpager,options);
                grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
            };
            //-------------------------------
            $(window).bind('resize', function () {
                grid.setGridWidth($(window).width() - 25);
                //grid.setGridWidth( $('#urllist').width());
            }).trigger('resize');
            //-----------------------------------------------------------
            let getguid = ()=>{
                let S4 = () =>{
                    return (((1+Math.random())*0x10000)|0).toString(16).substring(1); 
                }
                guid = (S4() + S4() + "-" + S4() + "-4" + S4().substr(0,3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
                return guid
            }
            //----------------------------------------------------------
            let getSelected = ()=>{
                var result = [];
                let rowKey = grid.getGridParam("selrow");
                if (!rowKey){
                    Alert("No rows selected");
                }else {
                    var selectedIDs = grid.getGridParam("selarrrow");
                    for (var i = 0; i < selectedIDs.length; i++) {
                        let rowData = grid.jqGrid ('getRowData', selectedIDs[i]);
                        result.push( {type:rowData.type,url:rowData.url})
                    }
                }  
                return result    
            }      
            //-------------------------------------------------------
            let getProfile = (type,callback) =>{
                if(isEmpty(type)){
                    type="OperationOutcome"
                }
                let url = `/fhir/profile/${type}`
                $.ajax({
                    type:"GET",
                    url: url,
                    async:true,
                    success: ( returnedData ) =>{
                       callback(returnedData)                   
                    },
                    error: (jqXHR, textStatus, err) => {
                       callback("error")
                    },
                    timeout:1000
                });     
            }
            //------------------------------------------------------------
            let auditcols = { 
                "url":`/audit/view?tokenid=${tokenid}&type=all`,  
                "datatype":"json",
                "altRows": false, 
                "deepempty": true,
                "autowidth": true,
                shrinkToFit: true,
                "ignoreCase": true,
                "multiselect":false,
                "multiboxonly":true,
                "height":"auto",
                "width":"auto",
                "scrollOffset":0,
                "colModel":[
				{"label":"transaction ID","name":"transactionID", "editable":false ,hidden:false,"width":85},
                    {"label":"resource","name":"resource", search:true,"editable":false ,"width":120 ,
						stype: 'select',
                        searchoptions:{ sopt:['cn'], 
                            value: ":All;Patient:Patient;Condition:Condition;Observation:Observation;Encounter:Encounter;Procedure:Procedure;Immunization:Immunization;Medication:Medication"
                        }, 
                        cellattr: function(rowId, val, rawObject) {
                            if(['Condition','Observation','Encounter','Procedure','Immunization'].includes(val)  ){
                                return " class='ui-CONDITION'";
                            }
                        }   
                    },
                    {"label":"seq","name":"seq", "editable":false,"width":25,hidden:false ,search:true},
                    {"label":"type","name":"type", "editable":false,"width":85,hidden:false ,search:true,
						stype: 'select',
                        searchoptions:{ sopt:['eq'], 
                            value: ":All;REQUEST:REQUEST;RESPONSE:RESPONSE"
                        }, 
					},
                    {"label":"qe","name":"source",sorttype:'string',"editable":false ,"width":100,
						stype: 'select',
                        searchoptions:{ sopt:['eq'], 
                            value: ":All;HEALTHIX:HEALTHIX;HEALTHECONN:HEALTHECONN;BRONX:BRONX;HIXNY:HIXNY;HEALTHELINK:HEALTHELINK;GRRHIO:GRRHIO;STATEWIDE:STATEWIDE;SMPI:SMPI"
                        }, 
					},                   
                    {"label":"target","name":"target" ,search:true,"editable":false ,"width":100 ,
					stype: 'select',
							searchoptions:{ sopt:['eq'], 
                            value: ":All;HEALTHIX:HEALTHIX;HEALTHECONN:HEALTHECONN;BRONX:BRONX;HIXNY:HIXNY;HEALTHELINK:HEALTHELINK;GRRHIO:GRRHIO;STATEWIDE:STATEWIDE;SMPI:SMPI"
                        }, 
					}, 
                    {"label":"url","name":"url", "editable":false ,hidden:false,"width":150},
                    {label:"res time ms",name:'responsetime', width:50,sortable:true},                   
                    {label:"status",name:'status', width:50,sortable:true},
                  //  {label:"request",name:'request',search:false, width:65,sortable:false},         
                    {label:"response",name:'act', search:false,width:65,sortable:false},       
                    {label:"Result",name:'result', search:false,width:65,sortable:false},   
                    {"label":"mpi","name":"mpi", "editable":false ,"width":90 },
                           
                    {"label":"Timestamp","name":"timestamp", "editable":false ,"width":120 },
                    {"label":"ID","name":"id", "editable":false,"width":25,hidden:true ,search:true},
                 
                ],
                "loadonce":true,
                "toppager":true,
                //"pager":'#'+PPpager,
                "rowTotal": 50000,
                "rowNumbers":true,
				"rowNum":50000,
                "rowList": [],        // disable page size dropdown leave empty array
                "pgbuttons": false,     // disable page control like next, back button
                "pgtext": null,         // disable pager text like 'Page 0 of 10'
                "viewrecords": false ,   // disable current view record text like 'View 1-10 of 100' 
                "gridview": true,
                "autoencode": false,        // true displays html in cell instead of button   
                "caption": "FHIR Query Audit" ,   
                "grouping":true,
                "groupingView" : {
                    "groupField" : ['transactionID'],
                    "groupColumnShow" : [true],
                    "groupText" : ['Transaction ID <b>{0} </b>- {1} Item(s)'],
                    "groupCollapse" : false,
		            "groupOrder": ['asc']   	
                },
                "onCellSelect": (rowid, index, contents, event) => {    
                    let url = grid.jqGrid ('getCell', rowid, 'url')               
                    let type = grid.jqGrid ('getCell', rowid, 'type')      
                },
                "loadError": (a, c, d) => {
                    let msg = "There is a problem retrieving data from the server, it could be down, please contact your system administrator."
                    Alert(msg)
                },
                gridComplete: ()=>{
                    setTimeout(()=>{
                        var ids = grid.jqGrid('getDataIDs');
                        for(var i=0;i < ids.length;i++){
                            var cl = ids[i];
                            let rowData = grid.jqGrid ('getRowData', cl);
                            let id = rowData.id
                            let resource = rowData.resource
                            let type = rowData.type
                            let reqq = `showRequest(${id}) `
                            let resp = `showResponse(${id}) `
                          //  brequest = `<input class='ui-BUTTONREQ' style='height:20px;width:110px;' type='button' value='Request' onclick='showRequest(${id})'; />`; 
                            bresult = `<input class='ui-BUTTONRESULT' style='height:20px;width:110px;' type='button' value='Result' onclick='showResult(${id})';/>`; 
                            bres = `<input class='${type=="REQUEST"?"ui-BUTTONREQ":"ui-BUTTONRES"}' style='height:20px;width:110px;'
                             type='button' value='${type=="REQUEST"?"Request":"Response"}' onclick='${type=="REQUEST" ? reqq :resp }';/> `; 
                           // grid.jqGrid('setRowData',ids[i],{request:brequest});
                            grid.jqGrid('setRowData',ids[i],{act:bres});                        
                            grid.jqGrid('setRowData',ids[i],{result:bresult});
                        }	
                    },50)
                }
            };
           
            grid.jqGrid(auditcols);   
           // grid.jqGrid('gridResize',{minWidth:450,maxWidth:1400,minHeight:180, maxHeight:650});
            grid.jqGrid('navGrid', '#'+PPpager,{
                cloneToTop:true,
                edit:false,
                add:false,
                del:false,
                search:false,
                refresh:true,
                position: "left", 
                reloadGridOptions: { fromServer: true },             
                beforeRefresh: ()=> {
                    grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                }                       
            });
           grid.jqGrid('filterToolbar',{searchOperators : false,autosearch:true,searchOnEnter:false});
           grid.setGridWidth($(window).width() - 25);
           // setTheme('ui-lightness')
        });                
     
    </script>
    Group By: <select id="chngroup">
        <option value="transactionID">Transaction ID</option>
        <option value="resource">Resource</option>
        <option value="source">Source QE</option>
        <option value="target">target QE</option>
        <option value="clear">Remove Grouping</option>	
    </select>
    <table id="urllist"></table> 
    <div id="urlpager"></div>                        
 
  
  <div id="sendloader" style="display:none"></div>

    