<%- include header.1.ejs %>  
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/js/xterm.css" /> 
<script src="/js/xterm.js"></script>

<script>
                var baseUrl = document.location.origin;
                var grid;
                var qelist = []
                results = []
                var term = new Terminal();
                var term1 = new Terminal();
                const socket = io.connect()

                socket.on('TERM',(data)=> {
                    //alert("ON message = \n\n"+JSON.stringify(data));
                 //   beep()
                    //console.log(data)
                    term.write(data)
                });           
                //-----------------------------------------------------------
                let showTerminal = ()=>{
                   // let url = baseUrl+'/shell/["ps2 imonit","exit"]'
                    let url = baseUrl+ "/shell/[`sudo su`,  `pm2 log`,'exit', 'exit' ]"     
                    term.clear()
                    $.get( url, ( data ) => {
                        term.clear()
                        term.write( data );
                    });
                }
                
                //-----------------------------------------------------------------------
                let showTerminal1 = ()=>{
                    let url = baseUrl+'/shell'
                  
                    $.get( url, ( data ) => {
                        term1.clear()
                        term1.write( data );
                    });
                }
                //-----------------------------------------------------------------------
                $( ()=>{
               
                    term.open(document.getElementById('terminal'));
                    term1.open(document.getElementById('terminal1'));
                    term.write('Hello from \x1B[1;3;31mxterm.js\x1B[0m $ ')
                    //-----------------------------------------------------------
                    let getguid = ()=>{
                        let S4 = () =>{
                            return (((1+Math.random())*0x10000)|0).toString(16).substring(1); 
                        }
                        guid = (S4() + S4() + "-" + S4() + "-4" + S4().substr(0,3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
                        return guid
                    }


                })
</script>
<table border="1" style="border:1px;" >
    <tr  style="border-top:1px solid darkblue;">
        <td class="ui-widget ui-corner-all ">
                <div id="terminal" >
                 
                </div>
                <div class="ui-layout-bottom">
                    <button class="ui-button ui-widget ui-corner-all" id="go" onclick="showTerminal()">
                        show1
                    </button>  
                    <button class="ui-button ui-widget ui-corner-all" id="go" onclick="showTerminal1()">
                        show2
                    </button>  
                    <button class="ui-button ui-widget ui-corner-all" id="go" onclick="resetForm()">
                        Reset
                    </button>  
                </div>
        
        </td>
        <td class="ui-widget ui-corner-all ">
                <div id ="terminal1">
                  
                </div>
                <div class="ui-layout-bottom">
                    <button class="ui-button ui-widget ui-corner-all" id="go" onclick="showTerminal()">
                        show1
                    </button>  
                    <button class="ui-button ui-widget ui-corner-all" id="go" onclick="showTerminal1()">
                        show2
                    </button>  
                    <button class="ui-button ui-widget ui-corner-all" id="go" onclick="resetForm()">
                        Reset
                    </button>  
                </div>
        </td>
    </tr>
    <tr>
        
            <%- include fhirquery.ejs %>
    </tr> 
</table>