<html><head><title>403 Permission Denied</title>
 
</head>
<style>
    div {
        background-color: rgb(238, 188, 165);
        height: 200px;
        width: 500px;
    }
    div p {
        margin-left: 5px;
    }
</style>
<body bgcolor=white>
    <div>
        <h1>403 Permission Denied</h1>
        <p> Your token has expired or yo do not have permission for this request.</p>
        <p id="countdown" > You wil be rdirected to NYeC FHIR Page in 3 seconds or:</p>
        <p>Please follow <a href="javascript:hreflink()">this link to login or create an account</a>.</p>
        </div>
    <script type="text/javascript">
        let timeout = 5
        hreflink = ()=>{
            let host =window.location.origin
            window.location = host
        }
        let ready = (callbackFunction)=>{
            if(document.readyState != 'loading') {
                callbackFunction(event)
            } else {
                document.addEventListener("DOMContentLoaded", callbackFunction)
            }
        }
        ready(event => {
            setTimeout(function () {
                hreflink()
            }, timeout*1000);
        })
        let countdown = (count,txt) => {
            if(count >=0) {
                let txt = `You wil be rdirected to NYeC FHIR Page in ${count} seconds or:`
                document.getElementById("countdown").innerHTML = txt;
                setTimeout(() => {
                    countdown(count-=1)
                }, 1000);
            }
        }
        countdown(timeout)
    </script>
</body>
   
</html>
