<%- include header.1.ejs %>  

    <style>

        .header {
            left: 0;
            padding:30px;
            text-align: center;
            background: #2588f8;
            color: white;
            font-size: 30px;
        }

        .footer {
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgb(185, 184, 184);
            color: white;
            text-align: center;
            padding:15px
        }

        body {
        font-family: Arial;
        margin: 0;
        }

        .container {
            position: relative;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px 0 30px 0;
        } 
        * {
        box-sizing: border-box;
        }

        /* style the container */
        .container {
        position: relative;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px 0 30px 0;
        } 

        /* style inputs and link buttons */
        input,
        .btn {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 4px;
            margin: 5px 0;
            opacity: 0.85;
            display: inline-block;
            font-size: 17px;
            line-height: 20px;
            text-decoration: none; /* remove underline from anchors */
        }

        input:hover,
        .btn:hover {
        opacity: 1;
        }

        /* style the submit button */
        input[type=submit] {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        }

        input[type=submit]:hover {
        background-color: #45a049;
        }

        /* Two-column layout */
        .col {
        float: left;
        width: 50%;
        margin: auto;
        padding: 5px 60px;
        margin-top: 6px;
        }
        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }

        /* vertical line */
        .vl {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        border: 2px solid #ddd;
        height: 75%;
        }

        /* text inside the vertical line */
        .vl-innertext {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        border-radius: 50%;
        padding: 8px 10px;
        }

        /* hide some text on medium and large screens */
        .hide-md-lg {
        display: none;
        }

        /* bottom container */
        .bottom-container {
        text-align: center;
        background-color: #666;
        border-radius: 0px 0px 4px 4px;
        }

        #btn-login, #btn-fcs, #btn-logout, #btn-verifycode, #btn-loginAccess{
            background-color: #187ddb!important;
            color: white!important;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        input[type=email], input[type=text], select, input[type=password] {
            width: 100%!important; /* Full width */
            padding: 12px; /* Some padding */ 
            border: 1px solid #ccc; /* Gray border */
            border-radius: 4px; /* Rounded borders */
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
        }

        /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 650px) {
            .col {
                width: 100%;
                margin-top: 0;
            }
            /* hide the vertical line */
            .vl {
                display: none;
            }
            /* show the hidden text on small screens */
            .hide-md-lg {
                display: block;
                text-align: center;
            }
        }
        
        .imgcontainer {
            text-align: center;
            margin: 12px 0 12px 0;
        }
    </style>

<script> 
    var tokenid = ""
    registerCode ='<%-registerCode%>';
    
    //--------------------------------------------------------------------
    let getToken = (tokenid,callback) =>{
            let url = `/token/token/${tokenid}`
            console.log("getToken url",url)
            $.ajax({
                type:'GET',     
                url: url,
                success: ( _token ) => {
                    callback(_token)                
                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log("ajax error "+textStatus +'-'+ errorThrown);
                    callback({"error":errorThrown})
                }
            });      
    }
    //---------------------------------------------------------------------
    let loginAccess =() =>{
        $('#login-panel').show()
        $('#btn-loginAccess').hide()
        $('#login-screen').show()
        $('#btn-login').show()
    }
                          
    //-------------------------------------------------------------------
    let verifycode=(tokenid) => {
        let code = $('#asacode_enter').val()
        getToken(tokenid,(token) =>{
            if(token){
                if(token.passcode == code){
                    // show fsc button
                    //fcs(tokenid)
                    $('#btn-fcs').prop("disabled",false);
                    $('#btn-fcs').show()
                    //clearall()
                    showmessage("Logged in OK")
                    $('#asacode').hide()
                    $('#login_btn').show()
                    $('#btn-login').hide()
                    $('#btn-logout').show()
                    $('#login-scrn').show()
                    $('#login-scrn').html("<b>Welcome "+token.fname + " "+token.lname+"</b")
                    $('#login-screen').hide()
                    $('#login-input').hide()
                } else {
                    let msg ="invalid code" 
                    showmessage(msg)
                    $('#asacode').hide()
                    $('#login_btn').show()
                }
            } else {
                showmessage("invalid userid or password for token")
            }
        })
    }
    //---------------------------------------------------------------------------------
    let verify = (tokenid,callback)=>{
        if(tokenid == 'n/a') {
            callback("invalid userid or password") 
        } else{
            getToken(tokenid,(user) =>{
                if(user){
                    if(user.asasent ){
                        $('#asacode').show()
                        $('#login_btn').hide()
                        $('#asacode_enter').focus()
                        showmessage(user.status+" \n"+user.passcode)
                    }
                
                    if(user.status == "USER OK"){
                    
                    }  else if (user.status == "VERIFIED") {
                    // fcs(tokenid)
                    $('#btn-fcs').prop("disabled",false);
                        $('#btn-fcs').show()
                    
                        showmessage("Logged in OK")
                        $('#asacode').hide()
                        $('#login_btn').show()
                        $('#btn-login').hide()
                        $('#btn-logout').show()
                        $('#login-scrn').show()
                        $('#login-scrn').html("<b>Welcome "+user.fname + " "+user.lname+"</b")
                        $('#login-screen').hide()
                        $('#login-input').hide()
                    }  else if (user.status == "ACCOUNT INVALID") {
                    } else if (user.status == "INVALID TOKEN") {
                    } else if (user.status == "RESET PASSWORD") {
                        showmessage(" Please Change Password")
                        changePassword()
                    }  else if (user.status == "EXPIRED PASSWORD") {
                        owmessage("Password Expired Please Change Password")
                        changePassword()
                    }  else if (user.status == "ASA CODE SENT") {
                    } else if (user.status ==  "PASSWORD NOT VERIFIED") {
                    } else if (user.status ==  "USER NOT FOUND") {
                    }
                } else {
                    showmessage("user or password do not match")
                }
                callback(user.msg) 
            })                                        
        }                                                           
    }
    //---------------------------------------------------------------------------------
    let logout = ()=>{
        let url = `/logout?tokenid=${tokenid}`
        $('#btn-loginAccess').show()
        $('#btn-login').hide()
        $('#login-scrn').hide()  
        $('#btn-fcs').hide()
        $('#btn-logout').hide()
        tokenid = ""
        closeWindows()
        $('#login-panel').hide()
        showmessage("",false)
        $.get(url,(result)=>{
            
        })
    }
    //---------------------------------------------------------------------------------
    let login = ()=>{
        let userid = $('#uid_enter').val()
        let password = $('#pwd_enter').val()
        let source = $("#source option:selected").text()
        let url = `/login`
        console.log("regCode:%s\nsource=%s\nurl=%s",registerCode,source,url)
        if(! isEmpty(registerCode)) {
            url = `/slogin/${registerCode}`
            console.log(url)
            $.get(url,(_tokenid)=>{
                console.log("reg tokenid",_tokenid)
                verify(_tokenid,(msg)=>{
                    showmessage(msg)
                    fcs(_tokenid,source)
                })
             })
        } else {
            if(isEmpty(userid) || isEmpty(password)){
                let msg = 'please enter a valid userid and password'
                showmessage(msg)
                return
            }
         
            $.post(url,{userid,password,source},(_tokenid)=>{
                tokenid = _tokenid
                verify(tokenid,(msg)=>{
                    showmessage(msg)
                })
                console.log("login-result : "+tokenid)                     
            })
         }
    } 
    //---------------------------------------------------------------
    let verifyAccess = (tokenid,role,callback) =>{
        let url = `/access/verify?tokenid=${tokenid}&role=${role} `
        $.ajax({
            type:'GET',     
            url: url,
            success: ( result ) => {
                callback(result)                
            },
            error: (jqXHR, textStatus, errorThrown) => {
                callback(false)
            }
        });     
    }
    //--------------------------------------
    let fcs = (_tokenid,reqqe)=>{
        let role = 'FCS_VIEW'
        _tokenid = _tokenid?_tokenid:tokenid
        console.log("FCS Token",_tokenid,tokenid)
        if(! isEmpty( _tokenid) ) {
            verifyAccess(_tokenid,role,(verified)=>{
                let url = `/ `
                if(verified){
                    url = `/FCS/${_tokenid}?reqqe=${reqqe} `
                }
                showmessage("",false)  
               window.location = url
              //  openWindow(url,'_blank')
            }) 
        } else {
            let msg = "Invalid token: A valid token is required to access this Application\nPlease login to access"
            $('#uid_enter').focus()
            showmessage(msg)
        }
    }
    //----------------------
    if(!isEmpty(registerCode)){
        let url = `/register/token/${registerCode}`
        $.get(url,(result)=>{
            tokenid = result.tokenid
           login()
            console.log("regcode res:",result)
        })
    }
    //------------------------------------------------------
    let register = ()=>{
        $( "#dialog-register-user").dialog( "open" );
    }
    let changePassword = ()=>{
        $( "#dialog-change-password").dialog( "open" );
    }
    let forgotPassword = ()=>{
        $( "#dialog-forgot-password").dialog( "open" );
    }
    let showhtml = (file)=>{
        if(isEmpty(file)) {
            file = 'FHIR Central Services Home Page'
        }
        let url = `/loadhtml?file=${file}`
        window.open(url ,'_blank', "resizable=1,scrollbars=no,width=850,height=750");
    }
    $( ()=>{  
        $(window).bind("beforeunload", function() { 
            closeWindows();
        })
        $('#btn-fcs').prop("disabled",true);
        $('#btn-fcs').hide()
        $('#btn-logout').hide()
        $('#login-scrn').hide()
        showmessage("",false)
        
    })
</script>


    <div class="header">
        <h1>FHIR Central Services</h1>
    </div>
    <div id="home_page" >        
        <div class="container">
           <div class="row">
            <h2 style="text-align:center">Welcome to FHIR Central Services</h2>
            <div class="vl">
                <span class="vl-innertext">or</span>
            </div>

            <div class="col">
                <p>
                    FHIR Central Services allows trusted entities (QEs) to exchange clinical data securely over the SHIN-NY using HL 7 FHIR standards-based specifications. 
                    FCS is a patient-centric API, based on the patient MPI ID. FCS has the capability to aggregate the responses from the multiple sources and serve them to the other entities within the SHIN-NY community. 
                    This also enables public health entities (DOH) to collect data from the SHIN-NY for data analysis, or other public health purposes. 
                </p>
                <p>
                    All transactions are logged which allows for troubleshooting and customized queries to the data
                </p>
                <p>
                    FHIR Central services (FCS) offers two options:<br>
                    • You can query the FCS to determine where one patient’s data exists in the SHIN-NY (PIXm).Then you can choose whichever source you need or want to pull the data from.<br>
                    • You can query the FCS to pull the data from all sources where the patient exists.
                </p>
                <a href="#" class="readDoc" onclick="javascript:showhtml('FHIRsupportedParameters')"> Click on the link to find out the supported resources and parameters</a>
            </div>

            <div class="col">
                <div class="hide-md-lg">
                    <hr>
                </div>
                <div class="imgcontainer">
                    <div id="statusbar" style="display:none ;height:auto;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:5px; background:#e7949b;"></div>
                    <a href="HTTP://nyehealth.org/sshin-ny/what-is-the-shin-ny/" target="_blank" >    
                        <img id="headerlogo" height="100px"  width='160px' src="/images/nyec-logo.png" alt="NYeC Logo" vertical-align="none"/>
                    </a> 
                    <div id="login-scrn" style="display:none">
                        Logged in
                    </div>
                </div>
                <button id="btn-loginAccess" onclick="loginAccess()">
                    Login to FHIR Central Services
                </button>
                  
                <div id="login-panel"style="display:none">
                    <div id="login-input">
                    <div><b>UID:</b>  
                        <input  id="uid_enter" type="text"  placeholder="Enter UID">
                    </div>
                    <div><b>PW  :</b>
                        <input id="pwd_enter" type="password"  placeholder="Enter Password">
                    </div>
                    <label for="source"><b>Source:</b></label>
                    <select name="source" id="source">
                        <option>HIXNY</option>
                        <option>BRONX</option>
                        <option>HEALTHIX</option>
                        <option>HEALTHELINK</option>
                        <option>HEALTHECONN</option>
                        <option>GRRHIO</option>
                        <option>DOH</option>
                        <option>STATEWIDE</option>
                    </select>
                    </div>
                    <div id="asacode" style="display:none">ASA code :
                        <input id="asacode_enter" type="password"  placeholder="Enter Passcode" >
                        <button id="btn-verifycode" onclick="verifycode(tokenid)">
                            verify code
                        </button> 
                    </div>
                    <div id="login_btn" >
                        <button id="btn-login" onclick="login()">
                            Login
                        </button>  
                        <button id="btn-logout" onclick="logout()">
                            Logout
                        </button>
                        <button id="btn-fcs" onclick="fcs()">
                            FCS
                        </button>  
                    </div>
                </div>
                <div class="bottom-container">
                    <div class="row">
                        <div class="col">
                            <a href="#" style="color:white" onclick="javascript:forgotPassword()" class="btn">Forgot Password</a>
                        </div>
                        <div class="col">
                            <a href="#" style="color:white" onclick="javascript:changePassword()" class="btn">Change Password</a>
                        </div>
                        <hr  style="color:white">
                        <a href="#" style="color:white" onclick="javascript:register()" class="btn">Click Here to Register</a>
                    </div>
                    </div>
            </div>
            
            </div>
        </div>
    </div>
    <div class="footer">
        <a href="http://hl7.org/fhir/" target="_blank">    
            <img width="70px"  src="/images/FHIR.png" alt="FHIR Logo"/>
        </a>
    </div>
    <%- include registeruser.ejs %>






