


    <style>
   
        /* Center the loader */
        #sendloader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 100px;
            height: 100px;
            margin: -75px 0 0 -75px;
            border: 16px solid #dcddee;
            border-radius: 50%;
            border-top: 16px solid #084f7e;
            width: 80px;
            height: 80px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
      
    </style>
   
    <style >
    
        .ui-jqgrid .ui-jqgrid-view {
            z-index: auto;
          
        }
        .ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-pg-table {
            font-size: 13px;
        }
        .ui-jqgrid .ui-jqgrid-title {
            float: left;
            margin: 8px;
        }
        .ui-jqgrid .ui-jqgrid-title-rtl {
            float: right;
            margin: 8px;
        }
     
        .ui-jqgrid tr.jqgrow.ui-row-rtl td:last-child {
            border-right: none;
            border-left: 1px solid #E1E1E1;
        }
        .ui-jqgrid .ui-jqgrid-hdiv {
            background-color: #EFF3F8;
            border: 1px solid #D3D3D3;
            border-width: 1px 0 0 1px;
            line-height: 15px;
            font-weight: 700;
            color: #777;
            width: var( --grid-width)!important;
            text-shadow: none;
        }
        .ui-jqgrid .ui-jqgrid-htable thead {
            background-color: #EFF3F8;
        }
        .ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
            height: 45px!important;
        }
        .ui-jqgrid .ui-jqgrid-htable th div {
            padding-top: 12px;
            padding-bottom: 12px;
            overflow: visible;
        }
        .ui-jqgrid-hdiv .ui-jqgrid-htable {
            border-top: 1px solid #E1E1E1;
            width: var( --grid-width) !important;
        }
        .ui-jqgrid-titlebar {
            position: relative;
            top: 1px;
            z-index: 1;
        }
        .ui-jqgrid tr.jqgrow, .ui-jqgrid tr.ui-row-ltr, .ui-jqgrid tr.ui-row-rtl {
            border: none;
                    height:auto;
                    overflow:hidden;
                    padding-right:4px;
                    padding-top:2px;
                    position:relative;
                    vertical-align:text-top;
                    white-space:normal !important;
        }
        .ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td {
            border-bottom: 1px solid #E1E1E1;
            padding: 6px 4px;
            border-color: #E1E1E1 !important;
                    white-space: normal !important;
                    height:auto;
                    vertical-align:text-top; 
                    padding-top:2px;
        }
        .ui-jqgrid tr.ui-state-highlight.ui-row-ltr td {
            border-right-color: #C7D3A9;
        }
        .ui-jqgrid tr.ui-state-highlight.ui-row-rtl td {
            border-left-color: #C7D3A9;
        }
        .ui-jqgrid-btable .ui-widget-content.ui-priority-secondary {
            background-image: none;
            background-color: #F9F9F9;
            opacity: 1;
        }
        .ui-jqgrid-btable .ui-widget-content.ui-state-hover {
            background-image: none;
            background-color: #EFF4F7;
            opacity: 1;
        }
        .ui-jqgrid-btable .ui-widget-content.ui-state-highlight {
            background-color: #E4EFC9;
        }
        .ui-jqgrid .ui-jqgrid-pager {
            line-height: 15px;
            height: 55px;
            padding-top: 10px!important;
            padding-bottom: 10px!important;
            background-color: #EFF3F8!important;
            border-bottom: 1px solid #E1E1E1!important;
            border-top: 1px solid #E1E1E1!important;
            
            
        }
        .ui-jqgrid .ui-pg-input {
            font-size: inherit;
            width: 24px;
            height: 20px;
            line-height: 16px;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            text-align: center;
            padding-top: 1px;
            padding-bottom: 1px;
        }
        .ui-jqgrid .ui-pg-selbox {
            display: block;
            height: 24px;
            width: 60px;
            margin: 0;
            padding: 1px;
            line-height: normal;
        }
        .ui-jqgrid .ui-pager-control {
            height: 30px;
            position: relative;
            padding-left: 9px;
            padding-right: 9px;
            
        }
      
        .ui-pg-table .navtable .ui-corner-all {
            border-radius: 0;
        }
        .ui-jqgrid .ui-pg-button .ui-separator {
            margin-left: 4px;
            margin-right: 4px;
            border-color: #C9D4DB;
        }
        .ui-jqgrid .ui-jqgrid-btable {
            border-left: 1px solid #E1E1E1;
        }
      
        .ui-jqgrid .loading {
            position: absolute;
            top: 5%;
            left: 45%;
            width: auto;
            height: auto;
            z-index: 111;
            padding: 6px;
            margin: 5px;
            text-align: center;
            font-weight: 700;
            font-size: 12px;
            background-color: #FFF;
            border: 2px solid #8EB8D1;
            color: #E2B018;
        }
        
        .ui-jqgrid .ui-jqgrid-labels {
            border-bottom: none;
            background: repeat-x #F2F2F2;
            background-image: -webkit-linear-gradient(top, #F8F8F8 0, #ECECEC 100%);
            background-image: -o-linear-gradient(top, #F8F8F8 0, #ECECEC 100%);
            background-image: linear-gradient(to bottom, #F8F8F8 0, #ECECEC 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',  endColorstr='#ffececec',  GradientType=0);
            padding: 0!important;
            border-left: 1px solid #E1E1E1!important;
        }
        .ui-jqgrid .ui-jqgrid-labels th {
            border-right: 1px solid #E1E1E1!important;
            text-align: left!important;
        }
        .ui-jqgrid-labels th[id*="_cb"]:first-child>div {
            padding-top: 0;
            text-align: center!important;
        }
        .ui-jqgrid-sortable {
            padding-left: 4px;
            font-size: 13px;
            color: #777;
            font-weight: 700;
        }
        .ui-jqgrid-sortable:hover {
            color: #547EA8;
        }
        th[aria-selected=true] {
            background-image: -webkit-linear-gradient(top, #EFF3F8 0, #E3E7ED 100%);
            background-image: -o-linear-gradient(top, #EFF3F8 0, #E3E7ED 100%);
            background-image: linear-gradient(to bottom, #EFF3F8 0, #E3E7ED 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8',  endColorstr='#ffe3e7ed',  GradientType=0);
        }
        th[aria-selected=true] .ui-jqgrid-sortable {
            color: #307ECC;
        }
        .ui-jqgrid .ui-icon {
            text-indent: 0;
            color: #307ECC;
            float: none;
            right: 2px;
        }
        .rtl .ui-jqgrid .ui-icon {
            right: auto;
            left: 2px;
        }
        .ui-jqgrid .ui-icon.ui-state-disabled {
            color: #BBB;
        }
        .ui-jqgrid .ui-icon.ui-state-disabled:hover {
            padding: 0;
        }
        .ui-grid-ico-sort:before {
            display: inline;
            font-size: 12px;
        }
        .ui-icon-asc:before {
            content: "\f0d8"}
        .ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon {
            display: inline-block;
            padding: 0;
            width: 24px;
            height: 24px;
            line-height: 22px;
            text-align: center;
            position: static;
            float: none;
            margin: 0 2px!important;
            color: grey;
            border: 1px solid #CCC;
            background-color: #FFF;
            border-radius: 100%}
        .ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:hover {
            color: #699AB5;
            border-color: #699AB5;
        }
        .ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:before {
            width: 20px;
            text-align: center;
            display: inline-block;
        }
        .ui-pg-table>tbody>tr>.ui-pg-button.ui-state-disabled .ui-icon {
            color: #B0B0B0;
            background-color: #F7F7F7;
            border-color: #DDD;
            -moz-transform: scale(.9);
            -webkit-transform: scale(.9);
            -o-transform: scale(.9);
            -ms-transform: scale(.9);
            transform: scale(.9);
        }
        .ui-jqgrid-btable input, .ui-jqgrid-btable select, .ui-jqgrid-btable textarea {
            padding: 2px;
            width: auto;
            max-width: 100%;
            margin-bottom: 0;
        }
        .ui-jqgrid-btable select {
            padding: 1px;
            height: 25px;
            line-height: 25px;
        }
        
        .ui-pg-div .ui-icon {
            display: inline-block;
            width: 18px;
            float: none;
            position: static;
            text-align: center;
            opacity: .85;
            -webkit-transition: all .12s;
            -o-transition: all .12s;
            transition: all .12s;
            margin: 0 1px;
            vertical-align: middle;
            cursor: pointer;
            font-size: 17px;
        }
        .ui-pg-div .ui-icon:hover {
            -moz-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 1;
            position: static;
            margin: 0 1px;
        }
        .ui-pg-div .ui-icon:before {
            font-family: FontAwesome;
            display: inline;
        }
        
        
        .ui-jqgrid .ui-pg-button:hover, .ui-jqgrid .ui-state-disabled:hover {
            padding: 0 1px;
                    border-style: none !important;
        }
        .ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover>.ui-pg-div>.ui-icon, .ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover>.ui-separator {
            margin-left: 4px;
            margin-right: 4px;
        }
        @media only screen and (max-width:767px) {
            
           
            .ui-jqgrid .ui-jqgrid-pager {
            height: 90px;
            width:var( --grid-width)!important;
            }
            .ui-jqgrid .ui-jqgrid-pager {
            
                width:var( --grid-width)!important;
            }
            .ui-jqgrid .ui-jqgrid-pager>.ui-pager-control {
                height: 85px;
                padding-top: 10px!important;
            }
            .ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td {
                vertical-align: top;
            }
            .ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center {
                width: 0!important;
                position: static;
            }
            .ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center>.ui-pg-table {
                margin: 36px auto 0;
                position: absolute;
                right: 0;
                left: 0;
                text-align: center;
            }
            .ui-jqgrid .ui-jqgrid-pager .navtable {
                height: auto;
                
            width:var( --grid-width)!important;
                
            }
            
        }.dd


    </style>
      
    <script>
        var baseUrl = document.location.origin;
        var grid;
        var qelist = []
        results = []
      
        //-----------------------------------------------------------
        let showlog = ()=>{
            let addshow = "showlog=1"
            let url = $('#sendfhirurl').val()
            if( ! url.includes(addshow )){
                addshow = url.includes("?")?addshow = "&"+addshow:addshow = "?"+addshow
                $('#sendfhirurl').val(url+addshow)
            }
        }

        //-----------------------------------------------------------------------
        $( ()=>{
            $( ".widget input[type=submit], .widget a, .widget button" ).button();
            $( "button, input, a" ).click( function( event ) {
                event.preventDefault();
            } );
          //  var inc = increment();
           // var _PPpager = document.getElementById("fhirquerypager").id + inc;
          //  document.getElementById("fhirquerypager").id = _PPpager;                
          //  var PPgrid = document.getElementById("fhirquerylist").id + inc;
         //   document.getElementById("fhirquerylist").id = PPgrid;
            PPpager = "fhirquerypager";
            grid = $("#fhirquerylist");            
                                
            let gridAddButton = (grid, options)=>{
                grid.jqGrid('navButtonAdd','#'+PPpager,options);
                grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
            };
            //-----------------------------------------------------------
            let getguid = ()=>{
                let S4 = () =>{
                    return (((1+Math.random())*0x10000)|0).toString(16).substring(1); 
                }
                guid = (S4() + S4() + "-" + S4() + "-4" + S4().substr(0,3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
                return guid
            }

            ///--------------------------------------------------------
            let ViewAudit = ()=>{
                let url = baseUrl+`/audit/qerequest`
                openWindow(url,'sPRL FHIR Audit'); // will close on logout      
            }
            //----------------------------------------------------------
            let getSelected = ()=>{
                var result = [];
                let rowKey = grid.getGridParam("selrow");
                if (!rowKey){
                    Alert("No rows selected");
                }else {
                    var selectedIDs = grid.getGridParam("selarrrow");
                    for (var i = 0; i < selectedIDs.length; i++) {
                        let rowData = grid.jqGrid ('getRowData', selectedIDs[i]);
                        result.push( {type:rowData.type,url:rowData.url})
                    }
                }  
                return result    
            }      
            //-------------------------------------------------------
            let getProfile = (type,callback) =>{
                if(isEmpty(type)){
                    type="OperationOutcome"
                }
                let url = `/fhir/profile/${type}`
                $.ajax({
                    type:"GET",
                    url: url,
                    async:true,
                    success: ( returnedData ) =>{
                       callback(returnedData)                   
                    },
                    error: (jqXHR, textStatus, err) => {
                       callback("error")
                    },
                    timeout:1000
                });     
            }
            //-------------------------------------------------------
            var container = document.getElementById("jsoneditor");
            var options = {
                mode: 'view',
                modes: ['code','text','view'], // allowed modes
                search:true,
                onError:  (err) => {
                    console.log(err.toString());
                },
                onModeChange:  (newMode, oldMode) => {
                    log('Mode switched from '+ oldMode+ ' to '+ newMode);
                }	
            };
            editor = new JSONEditor(container, options);
            //-----------------------------------------------------------
            gridEdit = (rowNumber)=>{
                let rowData = grid.jqGrid("getRowData",rowNumber);
                grid.jqGrid('editGridRow', rowNumber,
                    {
                        position:'center',
                        jqModal : true,
                        checkOnUpdate : false,
                        savekey : [ true, 13 ],
                        navkeys : [ true, 38, 40 ],
                        checkOnSubmit : false,
                        reloadAfterSubmit : true,
                        closeOnEscape : true,
                        //bottominfo : "Fields marked with (*) are required",
                        afterSubmit:function(data,postd){
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid'); 
                            return {0:true};
                        },
                    }
                 );
            }
            //-------------------------------------------------------
            gridDelete = (rowNumber)=>{
                let rowData = grid.jqGrid("getRowData",rowNumber);
                let rows = []
                rows.push(rowData)
                console.log(rows)
                if( confirm('Are you sure you want to Delete service?\n\n'+JSON.stringify(rowData.url,null,3)) ) {
                    $.ajax({
                        type: 'POST',
                        url: "/fhir/query/delete",
                        async: false,
                        data:{rows},
                        error: function(data, textStatus, xhr) {
                            Alert(data.responseText);
                        },
                        dataType: 'json'
                    });		
                    grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid'); 
                    // $(".ui-icon-closethick").trigger('click');
                    //$('#delmodhbmlist').hide()
                }
            }
            //----------------------------------------
            gridExecute = (rowid)=>{
                sendURL(rowid)
            }
            //-----------------------------------------------------------
            let sendURL= (rowid)=>{
                console.log("send url from query window")
                if(isEmpty(rowid)) {
                  rowid = grid.jqGrid("getGridParam", "selrow")
                }
                let rowData = grid.jqGrid("getRowData",rowid);
                let url = rowData.url +"/"+tokenid                   
                let type = rowData.type
                let reqqe = rowData.reqqe
                let targetqe = rowData.target
                console.log("sendurl url = %s",url)
                let send = (url,token) =>{
                    document.getElementById("sendloader").style.display = "block";
                    $.ajax({
                        type: "GET",
                        url: url,
                        timeout: 10000,
                        crooDomain:true,
                        beforeSend:(request)=>{
                            request.setRequestHeader("Authorization", "Bearer "+token);
                            request.setRequestHeader("Access-Control-Allow-Origin", "*");
                            //request.setRequestHeader("Access-Control-Allow-Methods", "GET,POST,HEAD,PUT");
                        },
                        success: function( returnedData ) {
                            document.getElementById("sendloader").style.display = "none";
                            // veiw json
                            console.log("returned Data",returnedData)
                            viewJSON(returnedData)                                               
                        },
                        error: function(jqXHR, textStatus, err){
                            document.getElementById("sendloader").style.display = "none";     
                            results ={"error":"cross domain error",textStatus, jqXHR}  
                            viewJSON(results)      
                        }
                    });        
                }
                if(url.includes('sprl')) {
                    send(url)
                } else {
                    getJWTtoken(url,reqqe,targetqe,(token)=>{
                        decodeToken(token,(decoded)=>{
                            //console.log(decoded)
                            send(url,token)
                        })
                    })
                }
            }
            //------------------------------------------------------------
            let FHIRQueryOptions = { 
                "url":"/fhir/query",      
                "editurl":"/fhir/query/edit",
                "datatype":"json",
                "altRows": false, 
                "deepempty": true,
                "autowidth": true,
                "shrinkToFit": true,
                "ignoreCase": true,
                "multiselect":false,
                "multiboxonly":false,
                "height":"500px",
                "width":"250px",
                "scrollOffset":0,
                "colModel":[
                 
                    {label:'Requestor',name:'reqqe', editable:true ,width:80,edittype:"select",search:true,
                        stype: 'select',
                        editoptions:{
                             dataUrl:baseUrl+"/fhir/qelist/ssource",editrules:{required:true}
                        },
                        searchoptions:{ sopt:['eq'], 
                            value: ":All;HEALTHIX:HEALTHIX;HEALTHECONN:HEALTHECONN;BRONX:BRONX;HIXNY:HIXNY;HEALTHELINK:HEALTHELINK;GRRHIO:GRRHIO;DOHMPI:DOHMPI"
                        },                                 
                    },
                    {"label":"Target","name":"target", "editable":true ,"width":80 ,edittype:"select",search:true,
                        stype: 'select',
                        editoptions:{
                            dataUrl:baseUrl+"/fhir/qelist/starget",editrules:{required:true}
                        },
                        searchoptions:{ sopt:['eq'], 
                            value: ":All;HEALTHIX:HEALTHIX;HEALTHECONN:HEALTHECONN;BRONX:BRONX;HIXNY:HIXNY;HEALTHELINK:HEALTHELINK;GRRHIO:GRRHIO;STATEWIDE:STATEWIDE;SMPI:SMPI"
                        },
                    },

                    {"label":"Query","name":"url", "editable":true ,edittype:"textarea","width":300 ,search:true,
                             editrules: { edithidden: false }   
                            ,editoptions:{"rows":2,"cols":5,"wrap":"on","style":"width:400px; "},
                    },
                    {"label":"Actions",name:'act',index:'act', width:152,sortable:false,search:false,hidden:false
                    },
                    {"label":"Time Stamp","name":"timestamp", "editable":true ,"width":75,hidden: true
                    , editrules: { edithidden: false } 
                    ,formatoptions: { srcformat: "ISO8601Long", newformat: 'Y/m/d H:i:s:ud'} 
                    } ,
                    {"label":"Resource","name":"resource", "width":75,hidden: true
                         , editable:true,edittype:"select",search:true, editoptions:{value:"Patient:Patient;Patient/PIXm:Patient/PIXm;Condition:Condition;Observation:Observation;Conditions:Conditions;Observations:Observations;PIXm:PIXm"}
                    },
                  
                ],
                "ondblClickRow": (rowid, iRow,iCol) => {		           
                    //sendURL(rowid)
                    let rowData = grid.jqGrid("getRowData",rowid);
                    let url = rowData.url                    
                    let reqqe = rowData.reqqe
                    let targetqe = rowData.target
                    pastedata(url,reqqe,targetqe)
                },
                gridComplete: function(){
                    var ids = grid.jqGrid('getDataIDs');
                    for(var i=0;i < ids.length;i++){
                        var cl = ids[i];
                        be = "<input class='ui-button ' style='height:18px;width:40px;' type='button'  value='Edit' onclick=\"gridEdit('"+cl+"');\"  />"; 
                        se = "<input class='ui-button '  style='height18px;width:48px;' type='button' value='Delete' onclick=\"gridDelete('"+cl+"');\"  />"; 
                        ce = "<input class='ui-button '  style='height:18px;width:56px;' type='button' value='Execute' onclick=\"gridExecute('"+cl+"');\" />"; 
                        grid.jqGrid('setRowData',ids[i],{act:be+se+ce});
                    }	
                },
               pagerpos:"right",
                "loadonce":true,
                "toppager":false,
               // "pager":"#"+PPpager,
                "rowTotal": 5000,
                "rowNum":5000,
                "rowList": [],        // disable page size dropdown leave empty array
                "pgbuttons": false,     // disable page control like next, back button
                "pgtext": null,         // disable pager text like 'Page 0 of 10'
                "viewrecords": false ,   // disable current view record text like 'View 1-10 of 100' 
                "gridview": false,
                "autoencode": false,           
                "caption": "" ,   
                "onCellSelect": (rowid, index, contents, event) => {    
                    let url = grid.jqGrid ('getCell', rowid, 'url')               
                    let type = grid.jqGrid ('getCell', rowid, 'type')      
                },
                "loadError": (a, c, d) => {
                    grid.jqGrid("displayErrorMessage","There is a problem retrieving data from the server, it could be down, please contact your system administrator.")
                }
            };
            grid.jqGrid(FHIRQueryOptions);   
          
         /*   grid.jqGrid('gridResize',{minWidth:250,maxWidth:450,minHeight:180, maxHeight:650});    */
           
        /*    grid.jqGrid('navGrid', '#'+PPpager, { add: true, edit: true, del: true } , { position: 'center' }); */
         
            grid.jqGrid('navGrid', '#'+PPpager,{
                    cloneToTop:true,
                    view:false,
                    edit:false,
                    add:false,
                    del:false,
                    search:false,
                    refresh:false,
                    cellEdit: true,
                    reloadGridOptions: { fromServer: true },
                 
                    edittext:'Edit URL',
                    deltext:'Delete',
                    addtext:'Add User',
                    refreshtext:'Refresh',
                    reloadAfterSubmit: true,
                  
                },
                
                {
                    position:'center',
                    jqModal : true,
                    checkOnUpdate : false,
                    savekey : [ true, 13 ],
                    navkeys : [ true, 38, 40 ],
                    checkOnSubmit : false,
                    reloadAfterSubmit : true,
                    closeOnEscape : true,
                 //   bottominfo : "Fields marked with (*) are required",
                    afterSubmit:function(data,postd){
                    
                        grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid'); 
                    
                        return {0:true};
                    }
                },
              
            ) ;          
          
             grid.jqGrid('filterToolbar',
                {   autosearch:true,
                    stringResult: true,
                    searchOnEnter:false,
                    defaultSearch:"cn",
                    onClearSearchValue:function(elem)  {
                    }
                }
            );       
          
            
    });     
      
    </script>
                       
    

    <div id="dialog-showresult" class="dialog" title='Show Request Result' class="ui-layout-center ui-widget" style="display:none">
        <div  style="width:99%;height:99%;" id="jsoneditor" ></div>
        <div  style="width:99%;height:99%;" id="json-renderer" ></div>
   </div>   

   <div id="containerurl" style="display:none"></div>
  <div id="sendloader" style="display:none"></div>

  <div>
  
        <table id="fhirquerylist"></table> 
        <div id="fhirquerypager"></div> 
    </div> 