<%- include header.1.ejs %>  
    <style>
         /* Two-column layout */
         .col {
            float: left;
            width: 50%;
            margin: auto;
            padding: 0 50px;
            margin-top: 6px;
        }
 
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
         .imgcontainer {
            text-align: center;
            margin: 12px 0 12px 0;
        }
        .resiText {
            box-sizing: border-box;
            resize: auto;
        }
        .fhirtable{
            border: 1 !important; 
            margin-left: 1px;
            width:auto; 
            display: inline-block;  
            height:100%;
        }  
        .tdleft{
            width:300px;
        }
        .tdright{
            width:300px; 
        }
        fieldset { 
            border: 1px solid lightgray !important;
            border-radius: 2px;
            position: relative;
            margin:0 auto;
            width:auto; 
          
            height:100%;
        }
        fieldset2 { 
            border: 0px solid lightgray !important;
            border-radius: 2px;
            position: relative;
            margin:0 auto;
            width:auto; 
          
            height:100%;
        }
        legend{color:rgb(20, 8, 36)}

        label { display: block;   font-weight: bold; color: rgb(20, 102, 179) !important; margin: 1px 0 0 0;}
        select { width: 150px; } 
        input {  width: 150px; }
        #dialog label, #dialog input { display:block; color:009900;}
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 100%; }
        #headerlogo {vertical-align:bottom}
        .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF; }        
        .formatlabel { width:40px; display: inline-flex;  color:22ff55;  background:#F8F8FF; }   
        .paramlabel { width:50px; display: inline-flex;  color:22ff55;  background:#F8F8FF; }   
        .selecturi { width:20px; display: inline-flex;  color:22ff55;  background:#F8F8FF; }        
        .label1{
            display:inline-block ;
            width:60px; 
            overflow:auto;
        }
        .input1{
            display:inline-block;
            width:10px !important;
             height:100%;
            color:blue;
        }
        .selectresource{
             width:150px  !important; 
             display: inline-block;  
             color:22ff55;  
             background:#F8F8FF; 
             vertical-align:center; 
            }   
        .info{
            text-align: top;
            border: var(--border-thickness-info,0px) solid var(--border-color-info,red);         
            height:100%;
            overflow:auto;
            background-color: var(--background-color-info,lightsteelblue);
            margin:1px 1px 1px 0;
            padding:0 ;
            vertical-align:center; 
            border-radius: 1px;
            font-size: 100%;
        }
        .info1{
            text-align: top;
            display: inline-flex;  
            border: 0px solid black;         
            height:100%;
            overflow:auto;
            background-color: lightcyan;
            margin:1px 1px 1px 0;
            padding:0 ;
            vertical-align:center; 
            border-radius: 1px;
        }
        .ui-widget {
            font-size: 0.75em;
            font-weight: bold
        }      
        .ui-dialog .ui-dialog-content {
            background: none repeat scroll 0 0 transparent;
            border: 0 none;
            overflow: auto;
            padding: 0.5em 1em;
            position: relative;
            font-size: 0.75em;
        }
        .ui-dialog-title{
            font-size: 0.75em !important;
        }
        .ui-dialog-titlebar .ui-widget-header .ui-corner-all .ui-helper-clearfix{
            font-size: 70% !important;
            color: rgb(245, 23, 23) !important;
            background: #592975 !important;
        }
        ::-moz-selection { /* Code for Firefox */
            color: rgb(155, 216, 13);
            background: rgb(250, 238, 238) linear-gradient(0deg, rgb(37, 36, 36) 0%, red 100%);
        }
        ::selection {
            color: rgb(87, 72, 72);
            background: rgb(250, 238, 238) linear-gradient(0deg, rgb(37, 36, 36) 0%, rgb(36, 35, 35) 100%);
        }
        h1 {text-align: center;}
        h2 {text-align: center; background: #d3d1d4 !important;}
       
        tr.border_bottom td {
            border-bottom: 1px solid black;
        }
        #fhirlogo1 {
            opacity:0.4;
            z-index: -1; 
        }
        .small-button{
            font-size:.6em ! important
        }

    </style>    
    <body onmousemove="resetTimeout();" onkeydown="resetTimeout();" onmousedown='resetTimeout();' ontouchstart="resetTimeout();" onload="timeoutObject=setTimeout('promptForClose()',screenTimeout);">
     
        <div id="fhirrest" title='FHIR Central Service Connector' class="ui-widget" >
         
            <div id="headertoggle" style="display:none" >
                <button  class="small-button" onclick="toggleHeader()">
                    < >
                </button>  
            </div>
            <div id='autoCloseDiv'  class="ui-layout-center ui-widget-content ui-corner-all" style="display:none;height:auto;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:rgb(243, 179, 179);">        
                <h4 class="test">This window has been inactive for 10 minutes and will autoclose in 5 seconds unless you hit 'Cancel.'  Would you like it to close?</h4>
                <center>
                    <input type='button' value='Close' onclick='definitelyClose();' />
                    <input type='button' value='Cancel' onclick='cancelClose();' />
                </center>
            </div>     
            <div id="statusbar" style="display:none ;height:auto;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:5px; background:#e7949b;"></div>
            <div id = "loginHeader" style="display:none">
                <%- include login.ejs %>
            </div>
       
            <div id="MainPage" style="display:none" >
                <div class="tab">
                    <button class="ui-button ui-widget ui-corner-all" id="btnsmpi" onclick="showSMPI()">
                        SMPI
                    </button>  
                    <button class="ui-button ui-widget ui-corner-all" id="btnpixm" onclick="showPIXm()">
                        PIXm
                    </button>
                </div> 
                <p></p>
                <div id="fsetsmpi">
                    <div id="pixdiv"  style="border:1px solid gray;">
                        <table border="0" style="border:0px;" >
                            <tr style="border-top:0px solid darkblue;">
                                <td class="widget ui-widget ui-corner-all tdleft">
                                    <div id ="PIXqediv">
                                        <label  class="selectlabel" id="PIXQElabel" for="PIXQE">Source/Requestor</label>
                                        <select  id="PIXQE" name="PIXQE">
                                        </select>
                                    </div>
                                    <br>
                                    <div id="showPIX">
                                        <span class="ui-widget ui-corner-all">
                                            <div>
                                                <label class="selectlabel">Source Patient ID</label>
                                                <input type="text"  id="mpid"  >
                                            </div>
                                            <br>
                                        </span>    
                                    </div>
                                    <div id="showOID">
                                        <span class="ui-widget ui-corner-all">
                                            <div>
                                                <label class="selectlabel">Source Patient OID</label>
                                                <input type="text"  id="PIXoid"  >
                                            </div>
                                            <br>
                                        </span>    
                                    </div>
                                    <button class="ui-button ui-widget ui-corner-all" id="btnquery" onclick="runPIX()">
                                        Query
                                    </button>  
                                    <button class="ui-button ui-widget ui-corner-all" id="btnsave" onclick="savePIXURL()">
                                        Save
                                    </button>  
                                </td>
                                <td class="ui-widget ui-corner-all tdright">
                                    <div id="PIXmresult">
                                        <table id="pixlist"></table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="fsetpixm">             
                    <div id="pixmdiv"  style="border:1px solid darkblue;">
                        <table border="0" style="border:0px;" >
                            <tr style="border-top:0px solid darkblue;">
                                <td class="widget ui-widget ui-corner-all tdleft">
                                        <div id ="PIXmqediv">
                                            <label  class="selectlabel" id="PIXmQElabel" for="PIXmQE">Source/Requestor</label>
                                            <select  id="PIXmQE" name="PIXmQE">
                                            </select>
                                        </div>
                                        <br>
                                        <div id="showPIXm">
                                            <span class="ui-widget ui-corner-all">
                                                <div>
                                                    <label class="selectlabel">Source Patient ID</label>
                                                    <input type="text"  id="smpid"  >
                                                </div>
                                                <br>
                                            </span>    
                                        </div>
                                    <button class="ui-button ui-widget ui-corner-all" id="btnquery" onclick="runPIXm()">
                                        Query
                                    </button>  
                                    <button class="ui-button ui-widget ui-corner-all" id="btnsave" onclick="savePIXmURL()">
                                        Save
                                    </button>  
                                </td>
                                <td class="ui-widget ui-corner-all tdright">
                                    <div id="PIXmresult">

                                        <table id="pixmlist"></table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                <div>
                    <fieldset id="fhirpage">
                        <legend>
                            host:
                            <select id = "selurl" >
                                <option value="https://192.168.180.151:7443">https://192.168.180.151:7443</option>
                                <option value="https://192.168.180.151:8443">https://192.168.180.151:8443</option>  
                                <option value="https://192.168.160.31:7443">https://192.168.160.31:7443</option>
                                <option value="https://192.168.160.31:8443">https://192.168.160.31:8443</option>   
                                <option value="https://localhost:7443">https://localhost:7443</option>
                            </select>   
                        </legend>
                        <span  id="content2">
                            <button class="ui-button ui-widget ui-corner-all" id="btnquery" onclick="_sendURL()">
                                Free URI
                            </button> 
                            <textarea class='ui-widget ui-corner-all resiText' rows='1' data-min-rows='1' id="freeurl" style="width:85%;height:15px"></textarea>
                        </span>
                        <span  id="content">
                            <label>URI:</label>
                            <textarea class='ui-widget ui-corner-all resiText' rows='1' data-min-rows='1' id="url" style="width:95%;height:15px"></textarea>
                        </span>
                        <table>
                            <tr  style="border-top:1px solid darkblue;">
                                <td class="widget ui-widget ui-corner-all tdleft">
                                    <div id="showFHIR">
                                        <div class="id_100" id="reqqediv" >
                                            <label  class="selectlabel" id="reqQElabel" for="reqqe">Source/Requestor</label>
                                            <select  id="reqQE" name="reqQE" >
                                            </select>
                                        </div>
                                        <br>
                                        <span class="ui-widget ui-corner-all">
                                            <label  class="selectlabel">FHIR Resource</label>
                                            <select class="selectresource" id="resource" onchange="resourceChange()">                                     
                                            </select>
                                            <br>
                                            <br>
                                            <div>
                                                <label class="selectlabel">Resource Query</label>
                                                <select class="selectresource" id="resourcequery" >
                                                                
                                                </select>
                                            </div>
                                            <br>
                                            <div>
                                                <label class="selectlabel">Resource ID</label>
                                                <input type="text"  id="resourceid"  >
                                            </div>
                                            <br>
                                                <div>
                                                <label class="selectlabel">Less or equal to</label>
                                                <input type="text"  id="datele"  >
                                            </div>
                                            <br>
                                                <div>
                                                <label class="selectlabel">Greater or equal to</label>
                                                <input type="text"  id="datege"  >
                                            </div>
                                            <br>
                                        </span>      
                                    </div>
                                
                                    <div class="ui-layout-bottom">
                                        <div id="viewbuttons" >
                                            <button class="ui-button ui-widget ui-corner-all" id="btnquery" onclick="sendURL()">
                                                Query
                                            </button>  
                                            
                                            <button class="ui-button ui-widget ui-corner-all" id="btnsave" onclick="saveURL()">
                                                Save
                                            </button>  
                                            <button class="ui-button ui-widget ui-corner-all" id="btnreset" onclick="resetForm()">
                                                Reset
                                            </button>  

                                            <button class="ui-button ui-widget ui-corner-all" id="btnjwt" onclick="Viewjwt()">
                                                JWT
                                            </button>
                                            
                                            <button class="ui-button ui-widget ui-corner-all" id="btnaudit" onclick="ViewAudit()">
                                                Audit Log
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="ui-widget ui-corner-all tdright">
                                        <div id="showResources">
                                            <div class="id_200" id ="targetqediv">
                                                <label  class="formatlabel" id="targetQElabel" for="targetqe">Target</label>
                                                <select  id="targetQE" name="targetQE">
                                                </select>
                                            </div>
                                            <br>
                                            <div>
                                                <fieldset id="includeset" style="height:100%;width:280px">
                                                    <legend>Related FHIR Resources</legend>  
                                                    <div id="resource-related">
                                                    
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <br>
                                            <div id="support_parameters">
                                                <fieldset style="height:100%;width:280px">
                                                    <legend>Supporting Parameters</legend>       
                                                    <div id="support_parameters_other">
                                                    
                                                    </div> 
                                                </fieldset>
                                            </div>
                                            <br>
                                            <div id = "formatlabel">
                                                <label class="formatlabel">Format</label>
                                                <span>
                                                    <select id="selformat">
                                                        <option value="">none</option>                                       
                                                        <option value="json">json</option>                                       
                                                        <option value="xml">xml</option>
                                                        <option value="html">html</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                    <br>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <%- include fhirquery.ejs %>
                </div>
         
                  
           
            </div>  
           </div>
           <div id="dialog-editconfig" title='Edit Config'  class="ui-layout-center ui-widget-content ui-corner-all" style="display:none">
                <p></p>
                <div><b>select server or type it in:</b>  
                    <select id="urls">
                        <option value="">select host</option>
                        <option value="https://localhost:7443">local App Server</option>
                        <option value="http://localhost:6002">local Auth Server</option>
                        <option value="https://192.168.160.31:7443">Stage App Server</option>
                        <option value="http://192.168.160.31:6003">Stage Auth Server</option>
                        <option value="https://192.168.180.151:7443">Prod App Server</option>
                        <option value="http://192.168.180.151:6003">Prod Auth Server</option>
                    </select>
                </div>
                <p></p>
                <input  id="url_enter" type="text" style="width:415px">
                <input id="edit_configbtn" type='button' value='Edit config file' onclick='editConfig();' />
                <p></p>
            </div>
        </div> 


        <script>
            let base_Url = document.location.origin;          
            tokenid = ""; //global
            userid = "" //global
            roles = "" //global
            let token = {};
            var form;
            var data ='<%-data%>';
            let title = "<%-page_title%>"
            let viewonly = '<%-view%>' == 'true';
            screenTimeout =120000
            forcescreenTimeout = 30000
            tokenid = getURLParameter("tokenid") 
            if(! isEmpty(data)){
                data = JSON.parse(data)
                if(data.tokenid){
                    tokenid = data.tokenid
                }
            }
            console.log("data %j",data)
            //-----------------------------------
            let toggleHeader = () =>{
                $('#loginHeader').toggle()
            }
            //------------------------------------
            let showhtml = (file)=>{
                if(isEmpty(file)) {
                    file = 'FHIR Central Services Home Page'
                }
                let url = `/loadhtml?file=${file}`
                window.open(url ,'_blank', "resizable=1,scrollbars=no,width=850,height=750");
            }
            //--------------------------------------------------------
            let verifyAccess = (tokenid,role,callback) =>{
                let url = `/access/verify?tokenid=${tokenid}&role=${role} `
                $.ajax({
                    type:'GET',     
                    url: url,
                    success: ( result ) => {
                        callback(result)                
                    },
                    error: (jqXHR, textStatus, errorThrown) => {
                        callback(false)
                    }
                });     
            }
            $( "#dialog-editconfig").dialog({
                autoOpen: false,
                //minHeight: 385,
                width: '450px',
                //hieght:'500px',
                modal: false,
                draggable: true,
                resizable: false,
                open: (event,ui) => {
                    // timer = setTimeout("$('#dialog-editconfig').dialog('close')",10000);
                },
                close: () =>{
                    //$("#sendloader").css("display","none")
                },
                buttons: [
                    {
                        text: "Close",
                        click: () => {
                            $( "#dialog-editconfig" ).dialog('close');
                        }
                    }
                ]
            }).dialog('widget').find('.ui-dialog-titlebar').hide()        
            //--------------------------------
            let editConfig = () =>{
                let url = $('#url_enter').val()
                if(isEmpty(url)) {
                    Alert("Please Enter a Valid URL")
                } else {
                    url = `${url}/config/edit`
                    openWindow(url)
                }
            }
            //-----------------------------------------
            var setConfig = (key,callback)=>{
                $.ajax({
                    type: "GET",
                    url: `/fhir/config/${key}?tokenid=${tokenid} `,
                    success: function( returnedData ) {
                        if(callback) {
                            callback(returnedData)            
                        }                        
                    },
                    error: function(jqXHR, textStatus, err){
                        Alert('text status '+textStatus+',\n err '+err);
                    }
                });       
            }
            //---------------------------
            let pasteurl = () =>{
                let editor = document.getElementById("url")
                console.log(window.clipboardData.getData('Text'))
                if(window.clipboardData){   
                    $('#url').val(window.clipboardData.getData('Text'))
                }
            }
            //---------------------------------------
            let addselect = (host) =>{
                $('#selurl').val(host) 
                let url = $("#selurl option:selected").val()    
                console.log("URL=",url)
                if(isEmpty(url)) {
                    let x = document.getElementById('selurl');
                    let option = document.createElement("option");
                    option.text = host
                    option.value = host
                    x.add(option,x[0])
                }
            }
            //--------------------------------------------------
            var pastedata = (data,reqqe,targetqe)=>{
                let params = ""
                let resquery = '_id'
                let res = ""
                let id = ""
                let args = data.split("?")
                let related = []
                let supporting = []
                let _format = ""
                let _host = args[0].split("/")
                let host = _host[0]+"//"+_host[2]
                addselect(host)
                if(  data.includes('sprl')){
                    let list =  args[0].split('/')
                    $('#PIXQE option:selected').text(list[5]).change()
                    $('#mpid').val(list[6])    
                    $("#pixlist").jqGrid("clearGridData", true).trigger("reloadGrid");
                } else if(  data.includes('PIXm')){
                    let list =  args[0].split('/')
                    $('#PIXmQE option:selected').text(reqqe)
                    $('#smpid').val(list[4])    
                    $("#pixmlist").jqGrid("clearGridData", true).trigger("reloadGrid");
                } else {
                    $('#resourceid').val("")
                    $('#url').val("")                        
                    $('#selformat').val("").change()   
                    $('#reqQE').val(reqqe) 
                    $('#targetQE').val(targetqe) 
                    if (args.length == 2 ){
                        let params = args[1].split("&")   
                        if(args[1].includes('targetqe=')) {   /// ?patient = mpi
                            // id = args[0].split('/')[4]
                            targetqe = args[1].split('=')[1]
                            id = args[0].split('/')[4]
                            console.log("TARGETWE",targetqe,id)
                            $('#targetQE').val(targetqe) 
                        } else   if(args[1].includes('patient.identifier=')) {   /// ?patient = mpi
                            id = params[0].split('=')[1]
                            resquery = params[0].split('=')[0] //"patient"
                            res = args[0].split('/')[3] //.toLowerCase()
                        } else   if(args[1].includes('patient=')) {   /// ?patient = mpi
                            id = params[0].split('=')[1]
                            resquery = params[0].split('=')[0] //"patient"
                            res = args[0].split('/')[3] //.toLowerCase()
                        }else {
                            id = args[0].split('/')[3]
                            res = args[0].split('/')[2] //.toLowerCase()
                            requery = '_id'
                        }
                        console.log("params",params,res)
                        console.log("args",args)
                        params.forEach((elem,i)=>{
                            console.log('elem=',elem)
                            let e = elem.split('=')[1] 
                            if(elem.includes("_include")) {
                                related.push('#'+e.split(':')[1])
                            } else if(elem.includes("_format")) {
                                _format = e
                            } else if(elem.includes("patient.identifier=")) {
                                
                            } else if (elem.includes("targetqe")) {
                                // $('#targetQE').val(e) 
                            } else {
                                supporting.push(elem)
                            }
                        })
                    } else {
                        resquery = '_id'
                        let list =  args[0].split('/')
                        let params =  list[list.length-1].split('&')
                        res = list[list.length-2]  //.toLowerCase()
                        id = params[0]
                        params.forEach((elem,i)=>{
                            if(elem.includes("_include")) {
                                let e = elem.split('=')[1] 
                                related.push('#'+e.split(':')[1])
                            }
                        })
                    }
                    $('#resourceid').val(id)
                    $('#resource').val(res).change()
                    $('#resourcequery').val(resquery).change()         
                    if(! isEmpty(_format) ){
                        $('#selformat').val(_format).change()     
                    }
                    resourceChange()               
                    setTimeout(()=>{                      
                        related.forEach((elem,i)=>{
                            $(elem).prop('checked','checked')
                        })
                        supporting.forEach((elem,i)=>{
                            if(elem.split('=')[0] == 'date' ) {
                                if(elem.split('=')[1].includes('le') ) {
                                    $('#datele').val(elem.split('=')[1].replace('le',''))
                                } else  if(elem.split('=')[1].includes('ge') ) {
                                    $('#datege').val(elem.split('=')[1].replace('ge',''))
                                } else {
                                    $('#date').val(elem.split('=')[1])
                                }
                            } else {
                                $('#'+elem.split('=')[0] ).val(elem.split('=')[1])
                            }
                        })
                        fillFHIRurl()
                    },1500)
                }     
            }
            //-----------------------------------
            let setViewOptions = (setview)=>{
                if(isEmpty(setview)){
                    setview = true
                }
                if(setview){
                    $('#viewbuttons').show()
                    $('#fsetsmpi').show()
                    $('#fsetpixm').show()
                    $('#showhistory').show()
                } else {
                    $('#viewbuttons').hide()
                    $('#fsetsmpi').hide()
                    $('#fsetpixm').hide()
                    $('#showhistory').hide()
                    if(! isEmpty(data)){
                        $('#resourceid').val(data.id)
                        $('#resource').val(data.resource.toLowerCase())
                        $('#resourcequery').val('_id')            
                        $('#targetQE').val(data.targetqe) 
                        if(!isEmpty(data.reqqe)){
                            $('#reqQE').val(data.reqqe) 
                        }
                        resourceChange()  
                    }
                }
            }
            //--------------------------------------------------
            let ViewAudit = ()=>{
                let url = baseUrl+`/audit/staterequest?tokenid=${tokenid}`
                openWindow(url,'sPRL FHIR Audit',1000); // will close on logout      
            }
            //----------------------------------------------
            let getAuthUrl = (url,callback) =>{
                var a = document.createElement('a');
                a.href = url
                if(isEmpty(url)) {
                    return ""
                } else {
                    return a.protocol+"//"+a.host
                }
            }
            //-----------------------------------------------
            let getJWTtoken = (url,qe,target,callback) =>{
                let authurl = `/jwt/token/${qe}/${target}`
                let _authurl = getAuthUrl(url)
                if(! isEmpty(_authurl)){
                    authurl = _authurl+ authurl
                }
                $.ajax({
                    type: "GET",
                    url: authurl,
                    success: ( returnedData ) =>{   
                        callback(returnedData)            
                    },
                    error: (jqXHR, textStatus, err) =>{
                        // Alert('text status '+textStatus+', err '+err);
                        callback("")
                    }
                });      
            };
            //-----------------------------------------
            let getSupportingParams = (resource,callback)=>{
                if (isEmpty(resource)){
                    resource = "condition";
                }
                $.ajax({
                    type: "GET",
                    url: `/fhir/resource/parameters/${resource}?tokenid=${tokenid} `,
                    success: ( returnedData ) =>{
                        callback(returnedData)
                    },
                    error: (jqXHR, textStatus, err)=>{
                       Alert('text status '+textStatus+', err '+err);
                    }
                });  
            }
            //-------------------------------------------
            let isValidRole = (tokenid,role,callback)=>{
                if(tokenid){
                    let url = `/access/verify/${tokenid}/${role} `
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: ( returnedData ) => {   
                            console.log(returnedData)
                            callback(returnedData)            
                        },
                        error: (jqXHR, textStatus, err) =>{
                            callback({})
                            Alert('text status '+textStatus+', err '+err);
                        }
                    });   
                } else {
                    callback(false)
                }
            } 
            //------------------------------------------
            let initOptions = ()=>{
                setConfig("showauditlog",(config)=>{
                    if(config){
                        $('#btnaudit').show()
                    } else {
                        $('#btnaudit').hide()
                    }
                });
                getSupportingParams("",(returnedData)=>{
                    $('#resource').html(returnedData.resource)
                    $('#resourcequery').html(returnedData.queryid)
                    $('#support_parameters_other').html(returnedData.other);
                    $('#resource-related').html(returnedData.include)
                    $('#includeset :checkbox').change(() =>{
                        fillFHIRurl()
                    });
                    resetForm()
                  
                     console.log("FINISH initOptions")
                })
            }
            //--------------------------------------------------------
            let parameterChange = () =>{
                fillFHIRurl()
            }
            //---------------------------------------------------------
            let resourceChange = ()=>{
                let resource = $("#resource option:selected").val()
                getSupportingParams(resource,(returnedData)=>{
                    $('#resource').html(returnedData.resource)
                    // $('#resourcequery').html(returnedData.queryid).val('_id').change()
                    $('#support_parameters_other').html(returnedData.other);

                    $('#resource-related').html(returnedData.include)
                    $('#includeset :checkbox').change(() => {
                        fillFHIRurl()
                    });
                    fillFHIRurl()
                })
            }
            //-------------------------------
            let getQEList = (callback)=>{
                $.ajax({
                    type: "GET",
                    url: `/fhir/qelist?tokenid=${tokenid}`,
                    success: ( returnedData )=> {
                        //console.log("QEDATA=",returnedData)
                        callback(returnedData)
                    },
                    error: (jqXHR, textStatus, err)=>{
                        Alert('text status '+textStatus+', err '+err);
                    }
                });                       
            }
            //-------------------------------
            let getQEData = (type,callback)=>{
                if (isEmpty(type)){
                    type = "select";
                }
                $.ajax({
                    type: "GET",
                    url: `/fhir/qelist?type=${type}?tokenid=${tokenid}`,
                    success: ( returnedData ) =>{
                        //console.log("QEDATA=",returnedData)
                        callback(returnedData)
                    },
                    error: (jqXHR, textStatus, err)=>{
                        Alert('text status '+textStatus+', err '+err);
                    }
                });                       
            }
            //-----------------------------------------------
            let savefhirquery = (data,callback) => {
                let resourceid = $('#resourceid').val()
                if (isEmpty(resourceid)){
                    Alert("Resource ID Not Defined ")
                } else {
                    let url = `/fhirquery/insert?tokenid=${tokenid}`
                    $.ajax({
                        type: "POST",
                        url:url, 
                        data:data,
                        async:false,                               
                        success: ( returnedData ) => {
                            if(callback){
                                callback(returnedData)                
                            }         
                        }
                    });   
                }
            }
            //-----------------------------------------------
            let savePIXquery = (data,callback) => {
                let smpid = $('#mpid').val()
                if (isEmpty(smpid)){
                    Alert("sprl mpi Not Defined ")
                } else {
                    let url = `/fhirquery/insert?tokenid=${tokenid}`
                    $.ajax({
                        type: "POST",
                        url:url, 
                        data:data,
                        async:false,                               
                        success: ( returnedData )  =>{
                            if(callback){
                                callback(returnedData)                
                            }         
                        }
                    });   
                }
            }
            //-----------------------------------------------------------------------
            let savePIXmquery = (data,callback) => {
                let smpid = $('#smpid').val()
                if (isEmpty(smpid)){
                    Alert("SMPI ID Not Defined ")
                } else {
                    let url = `/fhirquery/insert?tokenid=${tokenid}`
                    $.ajax({
                        type: "POST",
                        url:url, 
                        data:data,
                        async:false,                               
                        success: ( returnedData ) => {
                            if(callback){
                                callback(returnedData)                
                            }         
                        }
                    });   
                }
            }
            //-----------------------------------------------
            let inserturl = (type,hurl,callback) =>{
               let url =  `/urlinsert?hurl=${hurl}&type=${type}&tokenid=${tokenid}`
               //alert(url)
                $.ajax({
                    type: "GET",
                    url:url,                                
                    success: ( returnedData ) => {
                        grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        if(callback){
                            callback(returnedData)                
                        }         
                    }
                });                                              
            };
            //-----------------------------------------------------------
            var decodeToken = (token,callback)=>{
                let url = `/jwt/decode/${token}?tokenid=${tokenid}`
                $.ajax({
                    type: "GET",
                    url: url,
                    success: ( returnedData ) => {   
                        callback(returnedData)            
                    },
                    error: (jqXHR, textStatus, err) =>{
                        callback({})
                        Alert('text status '+textStatus+', err '+err);
                    }
                });   
            }
            //-----------------------------------------------------------
            let jsonViewer = (data,callback)=>{
                let url = `/json/viewer?data=${data}`
                openWindow(url,'json data');     
            }
            //-----------------------------------------------------------
            let Viewjwt = (token) =>{
                if(isEmpty(token)){
                    let reqqe = $("#reqQE option:selected").text()
                    let targetqe = $("#targetQE option:selected").text()    
                    let value1 = $("#reqQE option:selected").val()
                    let value2 = $("#targetQE option:selected").val()
                    console.log(targetqe,reqqe,value1,value2)
                    if( isEmpty(value1) || isEmpty(value2) ) {
                        Alert("select source and target requester")
                    }else {
                        getJWTtoken("",reqqe,targetqe,(token)=>{
                            decodeToken(token,(decoded)=>{
                            jsonViewer(JSON.stringify({token,decoded},null,4))
                            })
                        })
                    }
                } else {

                    decodeToken(token,(decoded)=>{
                        jsonViewer(JSON.stringify({token,decoded},null,4))
                    })
                }
            }
            //-----------------------------------------------
            let resetForm = () =>{
                $("[id^=select_]").val("")
                $("input[type=text], textarea").val("");
                //clear all checkboxes
                $('input:checkbox').removeAttr('checked');
                $("[id^=selformat]").val("")
                $('#showhistory').show()
            }
            //-----------------------------------------------------------
            let saveURL= ()=>{
                let data = {}
                let type = $("#type option:selected").val()
                let url = $('#url').val()
                data.type = type
                data.url =  url
                data.baseurl = base_Url
                data.resource = $("#resource option:selected").val()
                data.reqqe = $("#reqQE option:selected").val()
                data.target = $("#targetQE option:selected").val()
                data.resourceid = $('#resourceid').val()
                data.mpi = $('#resourceid').val()
                data.resourcequery = $('#resourcequery option:selected').val()
                data.code = $('#code').val()
                data.category = $('#category').val()
                data.status = $('#status').val()
                data.date = $('#date').val()
                savefhirquery(data,()=>{
                    grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                })
             }
            //-----------------------------------------------------------
            let savePIXURL= ()=>{
                let data = {}
                let reqqe =  $("#PIXQE option:selected").text()
                let oid =  $("#PIXQE option:selected").val()
                let smpid = $('#mpid').val()
                let url = base_Url+"/sprl/PIX/"+reqqe+"/"+smpid+"/"+oid
                data.type = "GET"
                data.url =  url
                data.baseurl = base_Url
                data.resource = "sprl/PIX"
                data.reqqe =reqqe
                data.target = $("#targetQE option:selected").val()
                data.resourceid = smpid
                data.mpi = smpid
                data.resourcequery = $('#resourcequery option:selected').val()
                data.code = ""
                data.category = ""
                data.status = ""
                data.date = ""
                savePIXquery(data,()=>{
                    grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                })
            }
             //----------------------------------
            let savePIXmURL= ()=>{
                let data = {}
                let smpid = $('#smpid').val()
                let url = base_Url+"/PIXm/"+smpid
                data.type = "GET"
                data.url =  url
                data.baseurl = base_Url
                data.resource = "PIXm"
                data.reqqe = $("#PIXmQE option:selected").text()
                data.target = $("#targetQE option:selected").text()
                data.resourceid = smpid
                data.mpi = smpid
                data.resourcequery = $('#resourcequery option:selected').val()
                data.code = ""
                data.category = ""
                data.status = ""
                data.date = ""
                savePIXmquery(data,()=>{
                    grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                })
             }
            //-------------------------------------------------------------------------
            let fillFHIRurl = () =>{
               // let url =  base_Url
                let url = $("#selurl option:selected").val()
                let resource = $("#resource option:selected").val()
                let reqqe = $("#reqQE option:selected").val()
                let targetqe = $("#targetQE option:selected").val()
                let resourcequery = $('#resourcequery option:selected').val()              
                let resourceid = $('#resourceid').val()
                let datele = $('#datele').val()
                let datege = $('#datege').val()
               // let format = $('#format').val()
                let format = $("#selformat option:selected").val()
                let baseurl = $('#baseurl').val()
                let supportedParams = ""
                let _resourcequery = ""
                var _includes = ""
              
                     //set pix
                     $('#PIXoid').val($("#PIXQE option:selected").val())
                if (isEmpty(resourceid)){
                    $('#resourceid').css('outline', 'solid 2px red'); 
                } else {
                    $('#resourceid').css('outline', 'solid 0px black'); 
                }
                if(isEmpty(reqqe)){
                    $('#reqQE').css('outline', 'solid 2px red'); 
                } else {
                    $('#reqQE').css('outline', 'solid 20x black');
                }
                if(isEmpty(targetqe)){
                    $('#targetQE').css('outline', 'solid 2px red'); 
                } else {
                    $('#targetQE').css('outline', 'solid 0px black'); 
                }
   
                getSupportingParams(resource,(returnedData)=>{   
                  // resource = "/"+resource
                    //url += resource //-- 1
                   url += ('/'+resource) //-- 1
                 
                    if(! isEmpty(resourcequery) && ! isEmpty(resourceid)){
                        if (resourcequery == '_id') {
                            _resourcequery = `/${resourceid}`
                        } else {
                            _resourcequery = `?${resourcequery}=${resourceid}`
                        }
                        url += _resourcequery

                        let params = returnedData.supportParams  // list of params
                    // console.log(params)
                        for (let index = 0; index < params.length; index++) {
                            let  element = params[index];
                            let val = ""
                            if(element.startsWith("select_")){
                                val = $("#"+element+" option:selected").val()
                                element = element.split("_")[1]
                            } else {
                                val = $("#"+element).val()
                            }
                            if(val){
                                if( url.includes('?') || supportedParams.includes('?')){
                                    supportedParams += "&"+element+"="+val
                                } else {
                                    supportedParams += "?"+element+"="+val
                                }
                            }
                        }
                        url += supportedParams
                        if(isEmpty($('#baseurl').val()) ) {
                            $('#baseurl').val(base_Url)
                        }
                        $("input:checkbox[name='includes']:checked").each(function(){    
                            if(url.includes('?') || _includes.includes('?'))    	{
                                _includes += `&_include=${resource}:${$(this).val()}`
                            } else {
                                _includes += `?_include=${resource}:${$(this).val()}`
                            }
                        });
                        url += _includes
                        if(! isEmpty(datele)){
                            if(url.includes('?') )    	{
                                datele = "&date=le"+datele 
                            } else {
                                datele = "?date=le"+datele 
                            }
                        }
                        url += datele
                        if(! isEmpty(datege)){
                            if(url.includes('?') )    	{
                                datege = "&date=ge"+datege 
                            } else {
                                datege = "?date=ge"+datege 
                            }
                        }
                        url+= datege
                        if(! isEmpty(format)){
                            if(url.includes('?') )    	{
                                format = "&_format="+format
                            } else {
                                format = "?_format="+format
                            }                           
                        }
                       url+= format
                    }
                    if(! isEmpty(resourceid)) {           
                        $('#url').val(url)
                    }
                 
                })
                return(url)
            }
            //------------------------------------------------------
            let getRESTURLs = (type,callback)=>{
                if (isEmpty(type)){
                    type = "select";
                }
                $.ajax({
                    type: "GET",
                    url: `/sprl/lookup/RESTURLS?type=${type}?tokenid=${tokenid}`,
                    success: function( returnedData ) {
                        console.log("QEDATA=",returnedData)
                        callback(returnedData)
                    },
                    error: function(jqXHR, textStatus, err){
                      Alert('text status '+textStatus+', err '+err);
                    }
                });                       
            }
            //---------------------------------------------------
            getQEList((returnedData)=>{    
                $('#reqQE').html(returnedData.source);
                $('#targetQE').html(returnedData.target);    
                $('#PIXmQE').html(returnedData.PIXsource);
                $('#PIXQE').html(returnedData.SMPIsource);
            })
            //-----------------------------------------------------
            let runPIX = ()=> {
                let mpid = $('#mpid').val()
                let oid = $("#PIXQE option:selected").val()   
                let reqqe = $("#PIXQE option:selected").text()   
                let url = base_Url +'/sprl/PIX/'+reqqe+"/"+mpid+"/"+oid
                if(isEmpty(oid) || isEmpty(mpid) ) {
                    Alert("Source and ID needs to be selected")
                } else {
                    sendPIXURL(url,(data)=>{
                        $("#pixlist").jqGrid("clearGridData", true).trigger("reloadGrid");
                        setup_PIX(data,(result)=>{ })
                    })
                }
            }    
            //---------------------------------------------------
            let setup_PIX = (data,callback)=> {
                data = data && data.resource ? data.resource.parameter:[{name:"No Data Found"}]
                let colsetup = { 
                    //url:'/SPRL/testmpi', 
                    datatype:"local",
                    altRows: false, 
                    deepempty: true,
                    autowidth: true,
                    ignoreCase: true, 
                    height:'100px',
                    // width:'auto',
                    colModel:[
                        {label:'QE',name:'name', editable:false ,width:100},
                        {label:'oid',name:'valueIdentifier.system', editable:false , width:250},
                        {label:'mpi',name:'valueIdentifier.value', editable:false ,width:100 },
                    ],
                    "loadonce":true,
                    "toppager":false,
                    //"pager":'#'+PPpager,
                    //"rowTotal": 5000,
                    "rowList": [],        // disable page size dropdown leave empty array
                    "pgbuttons": null,     // disable page control like next, back button
                    "pgtext": null,         // disable pager text like 'Page 0 of 10'
                    "viewrecords": false ,   // disable current view record text like 'View 1-10 of 100' 
                    "gridview": true,
                    rowNum: 25,
                    autoencode: true,            
                    caption: "" ,
                    "ondblClickRow": (rowid, iRow,iCol) => {		     
                        let reqqe = $("#PIXQE option:selected").text()   
                       // let reqqe = $("#PIXQE option:selected").val()     
                        let _smpid = $('#mpid').val()
                        let name = jQuery('#pixlist').jqGrid ('getCell', rowid, 'name')               
                        let oid = jQuery('#pixlist').jqGrid ('getCell', rowid, 'valueIdentifier.system')      
                        let mpiid = jQuery('#pixlist').jqGrid ('getCell', rowid, 'valueIdentifier.value')   
                        let targetqe = name=='SMPI' ? 'STATEWIDE' :name
                        let smpid = name=='SMPI' ? _smpid : mpiid
                        let data = {targetqe,reqqe,oid,smpid}
                        // rerset FHIR form\
                        if(mpiid && oid){
                            //resetForm()
                            $('#mpid').val(smpid)
                            $("div.id_100 select").val(data.targetqe);
                            $("div.id_200 select").val(data.targetqe)
                            $('#resourceid').val(mpiid)
                            $('#resourcequery').val('patient.identifier').change()   
                            fillFHIRurl()
                        } else {
                            Alert("no data")
                        }
                    },         
                }
                jQuery('#pixlist').jqGrid(colsetup)
                for(var i=0;i<=data.length;i++) {
                    jQuery("#pixlist").jqGrid('addRowData',i+1,data[i]);
                }
                callback( colsetup);  
            };
            //-----------------------------------------------------
            let runPIXm = ()=> {
                let smpid = $('#smpid').val()
                //let oid = $('#PIXmoid').val()
                let oid = $("#PIXmoid option:selected").val()   
                let url = base_Url +'/PIXm/'+smpid
                if( isEmpty(smpid)) {
                    Alert("Source or ID needs to be selected")
                } else {
                    sendPIXmURL(url,(data)=>{
                        $("#pixmlist").jqGrid("clearGridData", true).trigger("reloadGrid");
                        setup_PIXm(data,(result)=>{ })
                    })
                }
            }    
            //--------------------------------------------------
            let showSMPI = () =>{
                $('#pixdiv').toggle()
                if(document.getElementById('pixmdiv').style.display !== 'none') {
                    $('#pixmdiv').toggle()
                }
                if ($('#pixdiv').css('display') == 'none') {
                    $("#btnsmpi").css("background","white");
                } else {
                    $("#btnsmpi").css("background","lightgreen");
                }
            }
            //--------------------------------------------------
            let showPIXm = () =>{
                $('#pixmdiv').toggle()
                if(document.getElementById('pixdiv').style.display !== 'none') {
                    $('#pixdiv').toggle()
                }
                if ($('#pixmdiv').css('display') == 'none') {
                    $("#btnpixm").css("background","white");
                } else {
                    $("#btnpixm").css("background","lightgreen");
                }
            }
            //---------------------------------------------------
            let showfhir = () =>{
                $('#fhirdiv').toggle()
                if ($('#fhirdiv').css('display') == 'none') {
                    $("#btnfhir").css("background","lightgray");
                } else {
                    $("#btnfhir").css("background","lightgreen");
                }
            }
            //---------------------------------------------------
            let setup_PIXm = (data,callback)=> {
                data = data && data.resource ? data.resource.parameter:[{name:"No Data Found"}]
                let colsetup = { 
                    //url:'/SPRL/testmpi', 
                    datatype:"local",
                    altRows: false, 
                    deepempty: true,
                    autowidth: true,
                    ignoreCase: true, 
                    height:'100px',
                    // width:'auto',  
                    colModel:[
                        {label:'QE',name:'name', editable:false ,width:100},
                        {label:'oid',name:'valueIdentifier.system', editable:false , width:250},
                        {label:'mpi',name:'valueIdentifier.value', editable:false ,width:100 },
                        
                    ],
                    "loadonce":true,
                    "toppager":false,
                    //"pager":'#'+PPpager,
                    //"rowTotal": 5000,
                    "rowList": [],        // disable page size dropdown leave empty array
                    "pgbuttons": null,     // disable page control like next, back button
                    "pgtext": null,         // disable pager text like 'Page 0 of 10'
                    "viewrecords": false ,   // disable current view record text like 'View 1-10 of 100' 
                    "gridview": true,
                    rowNum: 25,
                    autoencode: true,            
                    caption: "" ,
                    "ondblClickRow": (rowid, iRow,iCol) => {		     
                        let reqqe = $("#PIXmQE option:selected").text()    
                        let _smpid = $('#smpid').val()
                        let name = jQuery('#pixmlist').jqGrid ('getCell', rowid, 'name')               
                        let oid = jQuery('#pixmlist').jqGrid ('getCell', rowid, 'valueIdentifier.system')      
                        let mpiid = jQuery('#pixmlist').jqGrid ('getCell', rowid, 'valueIdentifier.value')   
                        let targetqe = name=='SMPI' ? 'STATEWIDE' :name
                        let smpid = name=='SMPI' ? _smpid : mpiid
                        let data = {targetqe,reqqe,oid,smpid}
                        // rerset FHIR form
                        if(_smpid && oid){
                           // resetForm()
                            $('#smpid').val(_smpid)
                            $("div.id_100 select").val(data.reqqe);
                            $("div.id_200 select").val(data.targetqe)
                            $('#resourceid').val(data.smpid)
                            $('#resourcequery').val('patient.identifier').change()   
                           
                            fillFHIRurl()
                        } else {
                            Alert("no data")
                        }
                    },         
                }
                jQuery('#pixmlist').jqGrid(colsetup)
                for(var i=0;i<=data.length;i++) {
                    jQuery("#pixmlist").jqGrid('addRowData',i+1,data[i]);
                }
                callback( colsetup);  
            };
            //--------------------------------------------------
 
            function showPage() {
               document.getElementById("loader").style.display = "none";
            }           
            //-----------------------------------------------------------
            var viewJSON = (_data)=>{
                let url =  baseUrl+'/json/viewer?data={}'
                let popup = openWindow(url)
                setTimeout(()=>{
                    if(popup){
                        popup.postMessage(_data,"*")
                        popup.focus()
                    }
                },1500)
            }
            //--------------------------------------------------
            let _sendURL = ()=>{
                let reqqe = $("#reqQE option:selected").val()
                let targetqe = $("#targetQE option:selected").val()        
                let url = $('#freeurl').val()
                console.log(url)
                let target =  url.split('targetqe=')[1]
                if(isEmpty(target)){
                    target = targetqe
                }
                console.log("target=",target)
                $('#targetQE').val(target) 
                if(isEmpty(reqqe) || isEmpty(url)){
                    Alert("Please select a requesting QE " + (isEmpty(url)?" and URI" :""))
                }else {
                    getJWTtoken(url,reqqe,target,(token)=>{
                        document.getElementById("sendloader").style.display = "block";
                        $.ajax({
                            type: "GET",
                            url: url,
                            timeout: 180000,
                            beforeSend:(request)=>{
                                request.setRequestHeader("Authorization", "Bearer "+token);
                            },
                            success: function( returnedData ) {
                                document.getElementById("sendloader").style.display = "none";
                                viewJSON(returnedData)
                            },
                            error: function(jqXHR, textStatus, err){
                                document.getElementById("sendloader").style.display = "none";     
                                results ={jqXHR,err,textStatus}   
                               viewJSON(results)  
                            }
                        });        
                    })
                }
            }
            //--------------------------------------------------
            let sendURL= ()=>{
                let reqqe = $("#reqQE option:selected").val()
                let targetqe = $("#targetQE option:selected").val()        
                let url = $('#url').val()
                let resourceid = $('#resourceid').val()
                if(isEmpty(resourceid) || isEmpty(reqqe) || isEmpty(targetqe) ){
                    let txt = ""
                    if(isEmpty(resourceid)) {
                        txt += "Resource ID Not Defined"
                        $('#resourceid').css('outline', 'solid 2px red'); 
                    }
                    if(isEmpty(reqqe)){
                        txt += isEmpty(txt) ? "": " \nand " +"Requesting QE not Selected";
                        $('#reqQE').css('outline', 'solid 2px red'); 
                    }
                    if(isEmpty(targetqe)){
                        txt += isEmpty(txt) ? "": " \nand " +"Target QE not Selected";
                        $('#targetQE').css('outline', 'solid 2px red'); 
                    }
                    Alert(txt)
                } else {
                    console.log("sendUrl",url)
                    getJWTtoken(url,reqqe,targetqe,(token)=>{
                        document.getElementById("sendloader").style.display = "block";
                        $.ajax({
                            type: "GET",
                            url: url,
                            timeout: 180000,
                            beforeSend:(request)=>{
                                request.setRequestHeader("Authorization", "Bearer "+token);
                            },
                            success: function( returnedData ) {
                                console.log("sendURL returned data" ,returnedData)
                                document.getElementById("sendloader").style.display = "none";
                                viewJSON(returnedData)
                            },
                            error: function(jqXHR, textStatus, err){
                                document.getElementById("sendloader").style.display = "none";     
                                results ={jqXHR,err,textStatus}   
                                viewJSON(results)  
                            }
                        });        
                    })
                }
            }
            //-------------------------------------------------------------------------
            let sendPIXURL= (url,callback)=>{
                let reqqe = $("#PIXQE option:selected").text()
                let targetqe = "STATEWIDE"      
                let mpid = $('#mpid').val()
                if(isEmpty(mpid)){
                    Alert("MPI ID Not Defined" + mpid)
                } else {
                    document.getElementById("sendloader").style.display = "block";
                    $.ajax({
                        type: "GET",
                        url: url,
                        timeout: 180000,
                        success: function( returnedData ) {
                            document.getElementById("sendloader").style.display = "none";
                            callback(returnedData)   
                        },
                        error: function(jqXHR, textStatus, err){
                            document.getElementById("sendloader").style.display = "none";     
                            Alert(err)
                        }
                    });        
                }
            }
            //-------------------------------------------------------------------------
           let sendPIXmURL= (url,callback)=>{
                let reqqe = $("#PIXmQE option:selected").text()
                let targetqe = "STATEWIDE"      
                let smpid = $('#smpid').val()
                let pixmsel = $("#PIXmQE option:selected").val()
                //
                isEmpty(pixmsel) ? $('#PIXmQE').css('outline', 'solid 2px red'): $('#PIXmQE').css('outline', 'solid 0px black'); 
                isEmpty(smpid)? $('#smpid').css('outline', 'solid 2px red'): $('#smpid').css('outline', 'solid 0px black'); 
                if(isEmpty(smpid)){
                    Alert("SMPI ID Not Defined" + smpid)
                } else {
                    getJWTtoken("",reqqe,targetqe,(token)=>{
                        document.getElementById("sendloader").style.display = "block";
                        $.ajax({
                            type: "GET",
                            url: url,
                            timeout: 180000,
                            beforeSend:(request)=>{
                                    request.setRequestHeader("Authorization", "Bearer "+token);
                            },
                            success: function( returnedData ) {
                                document.getElementById("sendloader").style.display = "none";
                                callback(returnedData)   
                            },
                            error: function(jqXHR, textStatus, err){
                                document.getElementById("sendloader").style.display = "none";     
                                Alert(err)
                            }
                        });        
                    })
                }
            }
            //-------------------------------------------------------           
            $(function() {             
                //-----------------------------------------------------------        
                $('#url').bind({
                    copy:()=>{},
                    paste:(e)=>{
                        pastedata(e.originalEvent.clipboardData.getData("text"))
                    },
                    cut:()=>{ }
                })
                $( ".widget input[type=submit], .widget a, .widget button" ).button();
                $( "button, input, a" ).click( function( event ) {
                    event.preventDefault();
                } );
                setConfig("datePickerFormat",(config)=>{
                    $( "#datele" ).datepicker({
                        changeMonth: true,
                        changeYear: true,
                        showWeek: true,
                        firstDay: 1,
                        dateFormat:config
                    });
                    $( "#datege" ).datepicker({
                        changeMonth: true,
                        changeYear: true,
                        showWeek: true,
                        firstDay: 1,
                        dateFormat:config
                    });
                })
                $("#resourceid").blur(function(){
                    if($(this).val() == ''){
                        $(this).css('outline', 'solid 2px red'); 
                        $('#resourceid').focus()
                    } else {
                        $(this).css('outline', 'solid 0px black'); 
                    }
                });
                let timer = 0;
                $(window).bind("beforeunload", function() { 
                    closeWindows();
                })
                //---------------------------------------------
                $("input").keyup(function(e) {
                    fillFHIRurl()
                });
                $("fieldset").keyup(function(e) {
                    fillFHIRurl()
                });
                //------------------------------------------------------------
                $("input").change(function(){
                    fillFHIRurl()
                }); 
                //$("input:checkbox[name='includes']:checked")
                $('#includeset :checkbox').change(function() {
                    fillFHIRurl()
                });
                //-------------------------------------------------------------
                $('select').on('change',  (e) => {
                    fillFHIRurl()
                });
                //--------------------------------------------------
                let setSelectedIndex = (s, v) => {
                    for ( var i = 0; i < s.options.length; i++ ) {
                        if ( s.options[i].text == v ) {
                            s.options[i].selected = true;
                            return;
                        }
                    }
                }
                //------------------------------------------------------  
                initOptions()
                $('#pixdiv').hide()
                $('#pixmdiv').hide()
                setTimeout(()=>{
                    setViewOptions(viewonly)
                },3000)
                //----------------------------
                setConfig("screenTimeout",(result)=>{
                    if(!isEmpty(result) ){
                        screenTimeout = result
                        setConfig("forcescreenTimeout",(result)=>{
                            if(!isEmpty(result) ) {
                                forcescreenTimeout = result
                            }
                        })
                    }
                })
                //------------------------------
                if(isEmpty(tokenid)){
                   $('#MainPage').hide()
                   $('#loginHeader').show()
                   $('#headertoggle').show()
                } else {
                    $("#logout-user").show();  
                    $("#login-user").hide();
                    $('#MainPage').show()
                }
                //-------------------------------
                $(window).bind('resize', function() {
                    grid.setGridWidth($(window).width()-20);
                }).trigger('resize');
                //-------------------------------
                $('#urls').change(function() {
                    $('#url_enter').val($(this).val())
                });
            })
            var autoCloseTimer;
            var timeoutObject;
            var countdowntimer;
            var startedCountdown = false
            var countdown = (count) =>{
                if(count > 0) {
                    let msg1 =`This window has been inactive for ${screenTimeout/1000/60} minutes and will autoclose in ${count} seconds unless you hit 'Cancel.'  Would you like it to close?`
                    $("h4.test").text(msg1);
                    countdowntimer = setTimeout(()=>{  countdown(count-1) },1000)
                } else {
                    definitelyClose()
                }
            }           
            function promptForClose()  {
                beep()
                startedCountdown = true
                countdown(forcescreenTimeout/1000)
                autoCloseDiv.style.display = 'block'; //shows message on page
                autoCloseTimer = setTimeout("definitelyClose()",forcescreenTimeout);
                $('#autoCloseDiv').focus()
            }
            function autoClose(){
                startedCountdown = true
                autoCloseDiv.style.display = 'block'; //shows message on page
                autoCloseTimer = setTimeout("definitelyClose()",forcescreenTimeout); //starts countdown to closure
            }
            function cancelClose() {
                startedCountdown = false
                clearTimeout(countdowntimer);
                clearTimeout(autoCloseTimer);
                autoCloseDiv.style.display = 'none'; //hides message
            }
            function resetTimeout() {
                if( ! startedCountdown) { 
                    clearTimeout(timeoutObject); //stops timer
                    clearTimeout(autoCloseTimer); //stops timer
                    timeoutObject = setTimeout("promptForClose()",screenTimeout); //restarts timer from 0 
                }
            }
            function definitelyClose() {
                clearTimeout(timeoutObject); //stops timer
                clearTimeout(autoCloseTimer); //stops timer
                clearTimeout(countdowntimer);
              //  $('#loginHeader').hide()
                logout()
                $("h4.test").text("");
                autoCloseDiv.style.display = 'none'; //hides message
                $('#dialog-editconfig').dialog('close')
              
            } 
        </script>
        <div id="loader"style="display:none"></div>
     </body>

   
  