<%- include header.1.ejs %>  

    <style>
        :root {
            --color-text: rgb(37, 27, 27);
            --color-highlight: #d4d1d1;
            --color-background: e3d184;
        }
        h1 {text-align: left;}
        h2 {text-align: center; background:  var(--color-highlight) !important; color:var(--color-text)}
        h3 { background: #f3d1d4 !important;}
        h4 { background: #e3d184 !important;}      
        .table {
            border-collapse: collapse; 
            border-spacing: 0;
        }         
        thead th {  background:grey; color:white}
        tbody th {  background: lightgrey; color:darkblue}
        .small-button {
            font-size: .8em !important;
        }
        label {   text-align: right; display:inline-block;margin: 1px 0 5px 5px; width: 120px; color:009900}
        select { width: 190px; } 
        input {  width: 190px; }
    </style>
    <script> 
    tokenid = ""
    registerCode ='<%-registerCode%>';
    //--------------------------------------------------------------------
    let getToken = (tokenid,callback) =>{
       
            let url = `/token/token/${tokenid}`
            $.ajax({
                type:'GET',     
                url: url,
                success: ( _token ) => {
                    callback(_token)                
                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log("ajax error "+textStatus +'-'+ errorThrown);
                    callback({"error":errorThrown})
                }
            });      
      
    }
    //--------------------------------------------------------------------
    let clearall = ()=>{
        $('#uid_enter').val("")
        $('#pwd_enter').val("")
        $('#asacode_enter').val("")
        showmessage("",false)
    }
    //-------------------------------------------------------------------
    let verifycode=(tokenid) => {
        let code = $('#asacode_enter').val()
        getToken(tokenid,(token) =>{
            if(token){
                if(token.passcode == code){
                    // show fsc button
                    //fcs(tokenid)
                    $('#btn-fcs').prop("disabled",false);
                    $('#btn-fcs').show()
                    clearall()
                    showmessage("Logged in OK")
                    $('#asacode').hide()
                    $('#login_btn').show()
                    $('#btn-login').hide()
                    $('#btn-logout').show()
                    $('#login-scrn').show()
                    $('#login-scrn').html("Welcome "+token.fname + " "+token.lname)
                } else {
                    let msg ="invalid code" 
                    showmessage(msg)
                    $('#asacode').hide()
                    $('#login_btn').show()
                }
            }
        })
    }
    //---------------------------------------------------------------------------------
    let verify = (tokenid,callback)=>{
        getToken(tokenid,(user) =>{
            if(user){
                if(user.asasent ){
                    $('#asacode').show()
                    $('#login_btn').hide()
                    $('#asacode_enter').focus()
                }
                showmessage(user.status+" \n"+user.passcode)
                if(user.status == "USER OK"){
                   
                }  else if (user.status == "VERIFIED") {
                    fcs(tokenid)
                }  else if (user.status == "ACCOUNT INVALID") {
                } else if (user.status == "INVALID TOKEN") {
                } else if (user.status == "RESET PASSWORD") {
                    changePassword()
                }  else if (user.status == "EXPIRED PASSWORD") {
                }  else if (user.status == "ASA CODE SENT") {
                } else if (user.status ==  "PASSWORD NOT VERIFIED") {
                } else if (user.status ==  "USER NOT FOUND") {
                }
            }
            callback(user.msg)     
        })                                                                                                           
    }
    //---------------------------------------------------------------------------------
    let logout = ()=>{
         
            let url = `/logout/${tokenid}`
            $('#login-scrn').hide()  
            $('#btn-fcs').hide()
            $('#btn-logout').hide()
           tokenid = ""
          
           $('#btn-login').show()
            $.get(url,(result)=>{
               
            })
    
    }
    //---------------------------------------------------------------------------------
    let login = ()=>{
        let userid = $('#uid_enter').val()
        let password = $('#pwd_enter').val()
        let source = $("#source option:selected").text()
        let url = `/login`
        if(! isEmpty(registerCode)) {
            url = `/slogin/${registerCode}`
        } else {
            if(isEmpty(userid) || isEmpty(password)){
                let msg = 'please enter a valid userid and password'
                showmessage(msg)
                return
            }
        }
        $.post(url,{userid,password,source},(_tokenid)=>{
            showmessage(!isEmpty(_tokenid)?_tokenid:"Invalid credentials")
            tokenid = _tokenid
            verify(tokenid,(msg)=>{
                showmessage(msg)
            })
            console.log("login-result : "+tokenid)                     
        })
    } 
    //---------------------------------------------------------------
    let verifyAccess = (tokenid,role,callback) =>{
        let url = `/access/verify?tokenid=${tokenid}&role=${role} `
      
            $.ajax({
                type:'GET',     
                url: url,
                success: ( result ) => {
                    callback(result)                
                },
                error: (jqXHR, textStatus, errorThrown) => {
                    callback(false)
                }
            });     
       
    }
    //--------------------------------------
    let fcs = (_tokenid)=>{
        let role = 'FCS_VIEW'
        _tokenid = _tokenid?_tokenid:tokenid
        console.log("FCS Token",_tokenid,tokenid)
  
        if(! isEmpty( _tokenid) ) {
            verifyAccess(_tokenid,role,(verified)=>{
                let url = `/ `
                if(verified){
                    url = `/FCS?tokenid=${_tokenid} `
                }
                showmessage("",false)  
                /*
                $.ajax({
                        type:'POST',     
                        url: url,
                        success: ( returnedData ) => {
                            $('#home_page').hide()
                            $('#fcs_page').html(returnedData)
                            $('#fcs_page').show()
                            let windowFeatures = "menubar=no,location=center,resizable=yes,scrollbars=yes,status=no,width=660,height=700";
                            let win = openWindow(url ,'_blank',windowFeatures);
                            win.document.write(returnedData);                              
                        },
                        error: (jqXHR, textStatus, errorThrown) => {
                            
                        }
                });      
                //*/
                let win = window.location = url
               // openWindow(url,'_blank')
            }) 
        } else {
            let msg = "Invalid token: A valid token is required to access this Application\nPlease login to access"
            $('#uid_enter').focus()
            showmessage(msg)
        }
    }
    //----------------------
    if(!isEmpty(registerCode)){
       
            let url = `/register/token/${registerCode}`
            $.get(url,(result)=>{
                tokenid = result.tokenid
                console.log(result)
            })
     
    }
    //------------------------------------------------------
    let register = ()=>{
        $( "#dialog-register-user").dialog( "open" );
    }
    let changePassword = ()=>{
        $( "#dialog-change-password").dialog( "open" );
    }
    let forgotPassword = ()=>{
        $( "#dialog-forgot-password").dialog( "open" );
    }
    let showhtml = (file)=>{
        if(isEmpty(file)) {
            file = 'FHIR Central Services Home Page'
        }
        let url = `/loadhtml?file=${file}`
        window.open(url ,'_blank', "resizable=1,scrollbars=no,width=850,height=750");
    }
    $( ()=>{  
        $(window).bind("beforeunload", function() { 
            closeWindows();
        })
        $('#btn-fcs').prop("disabled",true);
        $('#btn-fcs').hide()
        $('#btn-logout').hide()
        $('#login-scrn').hide()
        
    })
</script>
    <div style="height:auto;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#e1e1e1;">        
        <table  style="width:100%">            
            <tbody>
                <tr>
                    <td width="33%" >
                        <a href="HTTP://nyehealth.org/sshin-ny/what-is-the-shin-ny/" target="_blank" >    
                            <img id="headerlogo" height="75px"  width='120px' align="middle" src="/images/nyec-logo.png" alt="NYeC Logo" vertical-align="none"/>
                        </a>                                
                    </td> 
                    <td width="30%">
                        <div>FHIR Central Services</div>
                    </td> 
                    <td width="30%">
                        <a href="http://hl7.org/fhir/" target="_blank" >    
                            <img id="fhirlogo1" height="75px" width='120px' align="right" src="/images/FHIR.png" alt="FHIR Logo" vertical-align="none"/>
                        </a>
                        <div id="login-scrn" style="display:none">
                            Logged in
                           
                        </div>
                      
                    </td
                </tr>
                <tr>
                    <div id="fcs_page" style="display:none" >

                    </div>
                
                </tr>
            </tbody>
        </table>
    </div>        
    <div id="home_page" style="height:auto;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#f1f1f1;">        
        <table border="1" width=100% class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr> 
            </thead> 
            <tbody border="1" width=100 >
                <tr>
                    <td>
                        <div>
Welcome to FHIR Central Services
<p></p>
FHIR Central Services allows trusted entities (QEs) to exchange clinical data securely over the SHIN-NY using HL 7 FHIR standards-based specifications. 
FCS is a patient-centric API, based on the patient MPI ID. FCS has the capability to aggregate the responses from the multiple sources and serve them to the other entities within the SHIN-NY community. 
This also enables public health entities (DOH) to collect data from the SHIN-NY for data analysis, or other public health purposes.   &#10; 
<p>All transactions are logged which allows for troubleshooting and customized queries to the data </p>
                    </div>
                </td> 
                <td>
                    <div>
                        <div>UID:  
                            <input  id="uid_enter" type="text"  placeholder="Enter UID">
                        </div>
                        <p></p>
                        <div>PW  :
                            <input id="pwd_enter" type="password"  placeholder="Enter Password">
                        </div>
                        <p></p>
                        <div> Source
                            <select name="source" id="source">
                                <option>HIXNY</option>
                                <option>BRONX</option>
                                <option>HEALTHIX</option>
                                <option>HEALTHELINK</option>
                                <option>HEALTHECONN</option>
                                <option>GRRHIO</option>
                                <option>DOH</option>
                                <option>STATEWIDE</option>
                            </select>  
                        </div>
                        <p></p>
                        <div id="asacode" style="display:none">ASA code :
                            <input id="asacode_enter" type="password"  placeholder="Enter Passcode" >
                            <button class="small-button ui-button ui-widget ui-corner-all" id="btn-verifycode" onclick="verifycode(tokenid)">
                                verify code
                            </button> 
                        </div>
                        <p></p>
                        <div id="login_btn" >
                            <button class="small-button ui-button ui-widget ui-corner-all" id="btn-login" onclick="login()">
                                Login
                            </button>  
                            <button class="small-button ui-button ui-widget ui-corner-all" id="btn-logout" onclick="logout()">
                                Logout
                            </button> 
                            <button class="small-button ui-button ui-widget ui-corner-all" id="btn-fcs" onclick="fcs()">
                                FCS
                            </button>  
                        </div>
                        <p></p>
                        <a href="#" onclick="javascript:forgotPassword()">Forgot Password</a>
                        <p></p>
                        <a href="#" onclick="javascript:changePassword()">Change Password</a>
                    </div>
                </td>
            </tr> 
            <tr>
                <td>
                    <div style="white-space: pre-wrap;">
FHIR Central services (FCS) offers two options:
•	You can query the FCS to determine where one patient’s data exists in the SHIN-NY (PIXm).Then you can choose whichever source you need or want to pull the data from.  &#10;
•	You can query the FCS to pull the data from all sources where the patient exists.
                    </div>
                </td>
                <td>
                    <a href="#" onclick="javascript:register()">Click Here to Register</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" onclick="javascript:showhtml('FHIRsupportedParameters')"> Click on the link to find out the supported resources and parameters</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div id="statusbar" style="display:none ;height:auto;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:5px; background:#e7949b;"></div>
   
    <%- include registeruser.ejs %>

   
  
   
  