
<%- include header.1.ejs %>

    <link href="/css/viewer.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">                 
    <link href="http://jquery.jcubic.pl/css/jquery.splitter.css" rel="stylesheet"/>
    
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://jquery.jcubic.pl/js/jquery.splitter-0.14.0.js"></script>

    <script src="/fhir/fhir-convert.js"></script>


<script type="text/javascript">
    var json_visible = !0;
    var json_pnl_size = 0;
    var table_visible = !0;
    var tree_visible = !0;
    var xml_visible = !0;
    var tree_pnl_size = 0;
    var xml_pnl_size = 0;
    var xxa_pnl_size = 0;
      //load json
    var loadedJSON = `<%-jsondata%>`;
    console.log("loadedJSON=",loadedJSON)
    var loadXML = function(jsondata) {
        var dat =  $('#json_vl').val();
        json2XML(dat,(ret)=>{
            $('#xml_vl').val(ret);
            console.log("json2XML=%s",ret)
        })
      }
   
    jQuery(function (a) {
      function e() {
          json_visible ? (a('#all_panels').split().position(a('#all_panels').width() - xxa_pnl_size - 2), table_visible && tree_visible ? a('#xxa').split().position(xxa_pnl_size - tree_pnl_size - 2)  : !table_visible && tree_visible ? a('#xxa').split().position(0)  : table_visible && !tree_visible ? a('#xxa').split().position(xxa_pnl_size)  : table_visible || tree_visible || a('#all_panels').split().position(a('#all_panels').width()))  : (a('#all_panels').split().position(0), table_visible && tree_visible ? a('#xxa').split().position(xxa_pnl_size -
          tree_pnl_size - 2)  : !table_visible && tree_visible ? a('#xxa').split().position(0)  : table_visible && !tree_visible && a('#xxa').split().position(a('#all_panels').width() - 2))
      }
      a('#all_panels').split({
          orientation: 'vertical',
          limit: 0,
          position: '33%'
      });
      a('#xxa').split({
          orientation: 'vertical',
          limit: 0,
          position: '50%'
      });
      tree_pnl_size = a('#tree_pnl').width();
      json_pnl_size = a('#json_pnl').width();
      xml_pnl_size = a('#xml_pnl').width();
      xxa_pnl_size = a('#xxa').width();
      a('#all_panels').split().settings.onDrag = function () {
        json_visible ? (json_pnl_size = a('#json_pnl').width(), xxa_pnl_size = a('#xxa').width(), table_visible && tree_visible ? a('#xxa').split().position(xxa_pnl_size - tree_pnl_size - 2)  : table_visible && !tree_visible ? a('#xxa').split().position(xxa_pnl_size - 2)  : !table_visible && tree_visible && a('#xxa').split().position(0))  : a('#all_panels').split().position(0)
      };
      a('#xxa').split().settings.onDrag = function () {
        !table_visible && tree_visible ? a('#xxa').split().position(0)  : tree_pnl_size = a('#tree_pnl').width()
      };
      a('#jsonViewMenu').click(function () {
        if (table_visible || tree_visible) a('#jsonLi').toggleClass('active '),
        json_visible = !json_visible,
        e()
      });
      a('#tableViewMenu').click(function () {
        if (json_visible || tree_visible) a('#tableLi').toggleClass('active '),
        table_visible = !table_visible,
        e()
      });
      a('#treeViewMenu').click(function () {
        if (json_visible || table_visible) a('#treeLi').toggleClass('active '),
        tree_visible = !tree_visible,
        e()
      });
      a('#xmlViewMenu').click(function () {
        if (json_visible || table_visible) a('#xmlLi').toggleClass('active '),
        xml_visible = ! xml_visible,
        e()
      });
      a('#load_json_btn').click(function () {
        processJson()
      });
      //----
      //---load  data-------------
      a('#tableViewMenu').click() // hide table
      a('#treeViewMenu').click() // hide tree
      a('#xmlViewMenu').click() // hide xml
      loadData();
    });
    //---------        
    function getInputResult() {
          return document.getElementById("json_vl").value;
    }
    var json2XML = function(data,callback){
      //<button onclick="FHIR_JSONtoXML.toXML(getInputResult())">To XML</button>

        FHIR_JSONtoXML = new FHIRConverter(2);
        // Subclass some of its methods for this page
        //FHIR_JSONtoXML.out = writeOutput;
        //FHIR_JSONtoXML.reset = resetOutput;
        //FHIR_JSONtoXML.getResult = getOutputResult;
        //FHIR_JSONtoXML.msg = msg;
        callback(FHIR_JSONtoXML.toXML(data))
    }
    var loadData = function(){
        var mpiid = `<%-mpiid%>`;
        var qe = `<%-qe%>`;
        var qeid = `<%-qeid%>`;
        var url = `/sprl/PIX/Query/?mpiid=${mpiid}|${qeid}&qe=${qe}`;
        $.ajax({
            type: "GET",
            url: url,
            beforeSend: function(request) {
                //request.setRequestHeader("Authorisation", 'Bearer:'+tokenid);
            },                      
            success: function( returnedData ) {
                $('#json_vl').html(JSON.stringify(returnedData,null,4));
                processJson()
            },
          })
    }    
    function call(a) {
      $('#json_vl').val(JSON.stringify(a, void 0, 2));
      processJson()
    }
    function processJson() {
      $('#inner_tbl').html(buildTable(getJsonVar()));
      showTree()
    }
    function getJsonVar() {
      try {
        var a = $.parseJSON($('#json_vl').val());
        $('#json_vl').val(JSON.stringify(a, void 0, 2));
        return a
      } catch (e) {
        return $('#error_msg').text(e.message),
        $('#errorModal').modal('show'),
        {
        }
      }
    }
    function processJson() {
      $('#inner_tbl').html(buildTable(getJsonVar()));
      showTree()
    }
    ///--------------------------------
    function showTree() {
      var a = document.createElement('ol'),
      e = document.createElement('li'),
      d = '_' + Math.random().toString(36).substr(2, 9);
      e.innerHTML = '<label for=\'' + d + '\' class=\'lbl_obj\'>&nbsp;</label> <input type=\'checkbox\' checked id=\'' + d + '\' />';
      d = document.createElement('ol');
      e.appendChild(d);
      a.appendChild(e);
      buildTree(getJsonVar(), 0, d);
      $('#inner_tree').html(a)
    }
    //------------------
    function buildTable(a) {
      var e = document.createElement('table'),
      d,
      b;
      if (isArray(a)) return buildArray(a);
      for (var c in a) 'object' != typeof a[c] || isArray(a[c]) ? 'object' == typeof a[c] && isArray(a[c]) ? (d = e.insertRow( - 1), b = d.insertCell( - 1), b.colSpan = 2, b.innerHTML = '<div class="td_ahead"><img src="array.png" alt="details"></img>' + encodeText(c) + '</div><table style="width:100%">' + $(buildArray(a[c]), !1).html() + '</table>')  : (d = e.insertRow( - 1), b = d.insertCell( - 1), b.innerHTML = '<div class=\'td_head\'>' + encodeText(c) + '</div>', d = d.insertCell( - 1), d.innerHTML = '<div class=\'td_row_even\'>' +
      encodeText(a[c]) + '</div>')  : (d = e.insertRow( - 1), b = d.insertCell( - 1), b.colSpan = 2, b.innerHTML = '<div class="td_head">' + encodeText(c) + '</div><table style="width:100%">' + $(buildTable(a[c]), !1).html() + '</table>');
      return e
    }
    function buildArray(a) {
      var e = document.createElement('table'),
      d,
      b,
      c = !1,
      p = !1,
      m = {
      },
      h = - 1,
      n = 0,
      l;
      l = '';
      if (0 == a.length) return '<div></div>';
      d = e.insertRow( - 1);
      for (var f = 0; f < a.length; f++) if ('object' != typeof a[f] || isArray(a[f])) 'object' == typeof a[f] && isArray(a[f]) ? (b = d.insertCell(h), b.colSpan = 2, b.innerHTML = '<div class="td_head"></div><table style="width:100%">' + $(buildArray(a[f]), !1).html() + '</table>', c = !0)  : p || (h += 1, p = !0, b = d.insertCell(h), m.empty = h, b.innerHTML = '<div class=\'td_head\'>&nbsp;</div>');
      else for (var k in a[f]) l = '-' + k,
      l in m || (c = !0, h += 1, b = d.insertCell(h), m[l] = h, b.innerHTML = '<div class=\'td_head\'>' + encodeText(k) + '</div>');
      c || e.deleteRow(0);
      n = h + 1;
      for (f = 0; f < a.length; f++) if (d = e.insertRow( - 1), td_class = isEven(f) ? 'td_row_even' : 'td_row_odd', 'object' != typeof a[f] || isArray(a[f])) if ('object' == typeof a[f] && isArray(a[f])) for (h = m.empty, c = 0; c < n; c++) b = d.insertCell(c),
      b.className = td_class,
      l = c == h ? '<table style="width:100%">' + $(buildArray(a[f]), !1).html() + '</table>' : ' ',
      b.innerHTML = '<div class=\'' + td_class + '\'>' + encodeText(l) +
      '</div>';
      else for (h = m.empty, c = 0; c < n; c++) b = d.insertCell(c),
      l = c == h ? a[f] : ' ',
      b.className = td_class,
      b.innerHTML = '<div class=\'' + td_class + '\'>' + encodeText(l) + '</div>';
      else {
        for (c = 0; c < n; c++) b = d.insertCell(c),
        b.className = td_class,
        b.innerHTML = '<div class=\'' + td_class + '\'>&nbsp;</div>';
        for (k in a[f]) c = a[f],
        l = '-' + k,
        h = m[l],
        b = d.cells[h],
        b.className = td_class,
        'object' != typeof c[k] || isArray(c[k]) ? 'object' == typeof c[k] && isArray(c[k]) ? b.innerHTML = '<table style="width:100%">' + $(buildArray(c[k]), !1).html() + '</table>' : b.innerHTML = '<div class=\'' + td_class + '\'>' + encodeText(c[k]) + '</div>' : b.innerHTML = '<table style="width:100%">' + $(buildTable(c[k]), !1).html() + '</table>'
      }
      return e
    }
    
function encodeText(a) {
  return $('<div />').text(a).html()
}
function isArray(a) {
  return '[object Array]' === Object.prototype.toString.call(a)
}
function isEven(a) {
  return 0 == a % 2
}
function buildTree(a, e, d) {
  e += 1;
  if ('undefined' === typeof a) log('undef!!', e);
   else for (var b in a) if ('object' == typeof a[b]) {
    var c = addTree(b, d, isArray(a[b]));
    buildTree(a[b], e, c)
  } else addLeaf(b, a, d)
}
function addTree(a, e, d) {
  var b = 'lbl_obj';
  d && (b = 'lbl_array');
  var c = '_' + Math.random().toString(36).substr(2, 9);
  d = document.createElement('li');
  d.innerHTML = '<label for=\'' + c + '\' class=\'' + b + '\'>' + encodeText(a) + '</label> <input type=\'checkbox\' checked id=\'' + c + '\' />';
  a = document.createElement('ol');
  d.appendChild(a);
  null != e && e.appendChild(d);
  return a
}
function addLeaf(a, e, d) {
  var b = '';
  isArray(e) || (b = a + ':');
  b += e[a];
  Math.random().toString(36).substr(2, 9);
  a = document.createElement('li');
  a.className = 'file';
  a.innerHTML = '<a>' + encodeText(b) + '</a>';
  d.appendChild(a)
}
</script> 

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active" id="jsonLi"><a href="#" id="jsonViewMenu">JSON&nbsp;</a></li>
      <li class="active" id="tableLi"><a href="#" id="tableViewMenu">&nbsp;Table&nbsp;</a></li>
      <li class="active" id="treeLi"><a href="#" id="treeViewMenu">&nbsp;Tree&nbsp;</a></li>
      <li class="active" id="xmlLi" onclick="loadXML()"><a href="#" id="xmlViewMenu1">  &nbsp;XML&nbsp;</a></li>
    </ul>
    <!--
    <button type="button" class="btn btn-default navbar-btn" id="load_json_btn"><span class="glyphicon glyphicon-play"></span></button>
    -->
</nav>


<!-- Begin page content -->
<div class="container-fluid fill" style="padding-left: 0px; padding-right: 0px">
    <div id="all_panels">
      <div id="json_pnl">
        <div id="inner_text">
            <textarea id="json_vl" wrap="hard" placeholder="Getting Data Please Wait"></textarea>
        </div>
      </div>
      </div>
    <div id="xxa">
            <div id="table_pnl">
              <div class="top_size"></div>
              <div id="inner_tbl"></div>
            </div>
            <div id="tree_pnl">
              <div class="top_size"></div>
              <div id="inner_tree"></div>
            </div>
    </div>

</div>

<div class="modal fade bs-example-modal-sm" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Invalid JSON!</h4>
    </div>
    <div class="modal-body">
      <strong>Error: </strong><span id="error_msg"></span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
    </div>
  </div>
</div>
</div>

<div id="xml_pnl">
  <div id="inner_xml">
<textarea id="xml_vl" wrap="hard" ></textarea>
  </div>


