    <script src="/js/jquery.validate.js"></script>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

        /* Full-width input fields */
        input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }

        #login-user, #logout-user, #edit-config{
            background-color: #187ddb!important;
            color: white!important;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
        }
        /* Set a style for all buttons */
        #btn-verify {
        background-color: #187ddb!important;
        color: white!important;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        }

        button:hover {
        opacity: 0.8;
        }

        /* Center the image and position the close button */
        .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
        }

        img.avatar {
        width: 40%;
        border-radius: 50%;
        }

        .container {
        padding: 16px;
        }

        span.psw {
        float: right;
        padding-top: 16px;
        }

        /* Add Zoom Animation */
        .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
        }

        @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
        }
        
        @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        }


    </style>
    <script>
 //---------------------------------------------------------------------------------
            let logout = ()=>{
                let url = `/logout?tokenid=${tokenid}`
                $('#btn-loginAccess').show()
                $('#btn-login').hide()
                $('#login-scrn').hide()  
                $('#btn-fcs').hide()
                $('#btn-logout').hide()
                //
                $('#login-scrn').html("")
                    $('#edit-config').hide()
                   // showmessage("Logged Out")
                     $('#MainPage').hide()
                    
                     $('#showhistory').hide()
                     $("#logout-user").hide();  
                     $("#login-user").show();
                //
                     tokenid = ""
                closeWindows()
                $('#login-panel').hide()
                showmessage("",false)
                $.get(url,(result)=>{
                    
                })
            }           
            //--------------------------------------------------------------------
            let getToken = (tokenid,callback) =>{
                let url = `/token/token/${tokenid}`
                console.log("getToken url",url)
                $.ajax({
                    type:'GET',     
                    url: url,
                    success: ( _token ) => {
                        callback(_token)                
                    },
                    error: (jqXHR, textStatus, errorThrown) => {
                        console.log("ajax error "+textStatus +'-'+ errorThrown);
                        callback({"error":errorThrown})
                    }
                });      
            }
             //----------------------------------------------------------
             function validateUser(callback) {
                    let valid = true
                    var password = $('#pwd_enter').val();
                    var userid = $('#uid_enter').val();
                    var data = {password,userid};
                    if(isEmpty(password) || isEmpty(userid)){
                        valid = false
                        Alert( "valid Userid and password need to be entered" );
                        return valid;
                    }
                    if(valid) {
                        var url =  "/login"
                        console.log(url,data);
                        $.ajax({
                            type:'POST',     
                            url: url,
                            data:data,
                            success: ( _tokenid ) => {
                                tokenid = _tokenid
                                verify(tokenid,(msg)=>{
                                   // showmessage(msg)
                                })
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                console.log("ajax error "+textStatus +'-'+ errorThrown);
                            }
                        }) 
                    } else {
                        callback(false ,"n/a")
                    }
                    return valid
            }
              //-----------------------------------------------------------
              let verifycode=(tokenid) => {
                    let code = $('#asacode_enter').val()
                    getToken(tokenid,(token) =>{
                        if(token){
                            if(token.passcode == code){
                                
                                verifyAccess(token.tokenid,"ADMIN_ALL,ADMIN_VIEW",(verified)=>{
                                    if(verified){
                                       // $('#edit-config').hide()
                                        $('#asacode').hide()
                                        $('#login-scrn').show()
                                        $('#login-scrn').html("<b>Welcome "+token.fname + " "+token.lname+"</b")
                                        $( "#dialog-login" ).dialog( "close" );
                                        $("#logout-user").show();  
                                        $("#login-user").hide();
                                        $('#MainPage').show()
                                        $('#showhistory').show()
                                        verifyAccess(user.tokenid,"CONFIG_EDIT,CONFIG_ALL",(verified)=>{
                                            if(verified) {
                                                $('#edit-config').show()
                                            }
                                        })


                                    } else {
                                        showmessage("No Permission for Administer Users")
                                        logout()
                                    }
                                })
                                   
                            } else {
                                $('#btn-verify').show()
                                let msg ="invalid code" 
                                showmessage(msg)
                                $('#asacode').hide()
                             
                            }
                        } else {
                            showmessage("invalid userid or password for token")
                        }
                    })
                }
            //---------------------------------------------------------------------------------
            let verify = (tokenid,callback)=>{
                if(tokenid == 'n/a') {
                    callback("invalid userid or password") 
                } else{
                    getToken(tokenid,(user) =>{
                        if(user){ 
                            if(user.asasent  ){
                                $('#btn-verify').hide()
                                $('#asacode').show()
                                $('#btn-verifycode').show()
                                $('#asacode_enter').focus()
                            }
                            if(user.status == "USER OK"){
                            }  else if (user.status == "VERIFIED") {
                                verifyAccess(user.tokenid,"ADMIN_ALL,ADMIN_VIEW",(verified)=>{
                                    //verified = true
                                    if(verified){
                                       // showmessage("Logged in OK")
                                        $('#showhistory').show()
                                        $('#MainPage').show()
                                       
                                      //  $('#edit-config').hide()
                                        $('#asacode').hide()
                                        $('#login-scrn').show()
                                        $('#login-scrn').html("<b>Welcome "+user.fname + " "+user.lname+"</b")
                                        $( "#dialog-login" ).dialog( "close" );
                                        $("#logout-user").show();  
                                        $("#login-user").hide();
                                        
                                        verifyAccess(user.tokenid,"CONFIG_EDIT,CONFIG_ALL",(verified)=>{
                                            if(verified) {
                                                $('#edit-config').show()
                                            }
                                        })
                                    } else {
                                        showmessage("No Permission for Administer Users")
                                        //logout()
                                    }
                                })

                            } else if (user.status == "ACCOUNT INVALID") {
                            } else if (user.status == "INVALID TOKEN") {
                            } else if (user.status == "RESET PASSWORD") {
                                changePassword()
                            }  else if (user.status == "EXPIRED PASSWORD") {
                            }  else if (user.status == "ASA CODE SENT") {
                            } else if (user.status ==  "PASSWORD NOT VERIFIED") {
                            } else if (user.status ==  "USER NOT FOUND") {
                            }
                        } else {
                            showmessage("user or password do not match")
                        }
                        callback(user.msg) 
                    })                                        
                }                                                           
            }
            //-----------------------------------------------------------
            $(() => {          
               
                //--------------------------------------------------------
                let login = ()=> {
                    let userid = $('#uid_enter').val()
                    let password = $('#pwd_enter').val()
                    let url = `/login`
                    console.log("regCode:",registerCode)
                    if(! isEmpty(registerCode)) {
                        url = `/slogin/${registerCode}`
                        console.log(url)
                        $.get(url,(_tokenid)=>{
                            console.log("reg tokenid",_tokenid)
                            verify(_tokenid,(msg)=>{
                               // showmessage(msg)
                              
                            })
                        })
                    } else {
                        if(isEmpty(userid) || isEmpty(password)){
                            let msg = 'please enter a valid userid and password'
                           // showmessage(msg)
                            return
                        }
                        $.post(url,{userid,password,source},(_tokenid)=>{
                            tokenid = _tokenid
                            verify(tokenid,(msg)=>{
                              //  showmessage(msg)
                            })
                            console.log("login-result : "+tokenid)                     
                        })
                    }
                } 
                //----------------------------------------------------
                $( "#dialog-login" ).dialog({
                    autoOpen: false,
                    height: 'auto',
                    width: 400,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 500
                    },
                    hide: {
                        effect: "explode",
                        duration: 500
                    },
                    buttons: {
                        'Cancel': {
                            text: 'Cancel',
                            id: 'cancelbtn',
                            click: function() {
                                $( "#dialog-login" ).dialog( "close" );
                            }
                        }
                    },
                    open: function(){
                      
                    },              
                    close: function() {
                        $( "#dialog-login" ).dialog('close');
                    }
                }).dialog('widget').find('.ui-dialog-titlebar').hide()         
                
                $( "#login-user" ).button().on( "click", function() {
                    $('#login-panel').show()
                  // $('#loginHeader').hide()
                   $( "#dialog-login" ).dialog( "open" );
                });
                $( "#logout-user" ).button().on( "click", function() {
                    logout()
                    $('#login-scrn').html("")
                    $('#edit-config').hide()
                   // showmessage("Logged Out")
                     
                     $('#MainPage').hide()
                    $('#showhistory').hide()
                     $("#logout-user").hide();  
                     $("#login-user").show();
                });
                $( "#edit-config" ).button().on( "click", function() {
                     $( "#dialog-editconfig").dialog('open')
                })
                $("#logout-user").hide();
            });
    </script>
    <div class="imgcontainer">
        <a href="HTTP://nyehealth.org/sshin-ny/what-is-the-shin-ny/" target="_blank" >    
            <img id="headerlogo" height="60px"  width='90px' src="/images/nyec-logo.png" alt="NYeC Logo" vertical-align="none"/>
            
            <h3 style="text-align:center">FHIR Central Service Connector</h3>
            <h4> 
                <a href="#" class="readDoc" onclick="javascript:showhtml('FHIRsupportedParameters')"> Click on the link to find out the supported resources and parameters</a>
            </h4>    
        </a> 
               <p></p>
        <div >
            <button   id="login-user">Login</button>
            <button style="display:none"  id="logout-user" >Logout</button>
            <button style="display:none"  id="edit-config" >Edit config</button>
        </div>
    
           
        <div id="login-scrn" >
        
        </div>
    
    </div>
        <div id="dialog-login" title='Login' class="ui-layout-center"  style="display:none ;"  >
          <div class="imgcontainer">
            <img id="headerlogo" height="60px"  width='90px' src="/images/nyec-logo.png" alt="NYeC Logo" vertical-align="none"/>
          </div>
          <div class="container">
            <label for="uid_enter"><b>Username</b></label>
            <input id="uid_enter" type="text"  placeholder="Enter UID">
      
            <label for="pwd_enter"><b>Password</b></label>
            <input id="pwd_enter" type="password"  placeholder="Enter Password">
            <div id="asacode" style="display:none">ASA code :
                <input id="asacode_enter" type="password"  placeholder="Enter Passcode" >
                <button id="btn-verifycode" onclick="verifycode(tokenid)">
                    verify code
                </button> 
            </div>
            <button id="btn-verify" onclick="validateUser()">
                Submit
            </button>
          </div>
        </div>

    
 
