<%- include header.1.ejs %>



<script src="json-viewer/jquery.json-viewer.js"></script>
<link href="json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   
<style>
      
          label { display: block; margin: 1px 0 0 0; }
          select { width: 300px; } 
          input {  width: 300px; }
          #dialog label, #dialog input { display:block; color:009900}
          #dialog label { margin-top: 0.5em; }
          #dialog input, #dialog textarea { width: 95%; }
          #headerlogo {vertical-align:bottom}
          .pdqlabel {  width:125px; display: inline-flex;  color:22ff55; }  
          .pixlabel {  width:125px; display: inline-flex;  color:22ffff; }  
          .selectlabel { width:125px; display: inline-flex;  color:22ff55;  background:#F8F8FF;
        }        
        #format { margin-top: 2em; }
        .info{
            text-align: top;
            border: var(--border-thickness-info,0px) solid var(--border-color-info,red);         
            height:100%;
            overflow:auto;
            background-color: var(--background-color-info,lightsteelblue);
            margin:1px 1px 1px 0;
            padding:0 ;
            vertical-align:center; /* center vertically */
            border-radius: 1px;
            font-size: 100%;
        }
        .info1{
            text-align: top;
            border: 0px solid black;         
            height:100%;
            overflow:auto;
            background-color: lightcyan;
            margin:1px 1px 1px 0;
            padding:0 ;
            vertical-align:center; /* center vertically */
            border-radius: 1px;
            
        }::-moz-selection { /* Code for Firefox */
            color: rgb(155, 216, 13);
            background: rgb(250, 238, 238) linear-gradient(0deg, red 0%, red 100%);
        }

        ::selection {
            color: red;
            background: rgb(250, 238, 238) linear-gradient(0deg, red 0%, red 100%);
        }
        select[multiple]:focus option:checked {
            background: red linear-gradient(0deg, red 0%, red 100%);
        }


    </style>    

    <script src="/socket.io/socket.io.js"></script>
    <script>
            base_Url = document.location.origin;          
            tokenid = ""; //global
            userid = "" //global
            roles = "" //global
            let token = {};
            var form;
            let verifyjwttoken = () =>{
                $.ajax({
                    type: "GET",
                    url: `/verify?token=${$('#fhirjwttoken').text()}`,
                    beforeSend: function(request) {
                        request.setRequestHeader("Authorization", "Bearer "+$('#fhirjwttoken').text());
                    },                                    
                    success: function( returnedData )  {
                        //  console.log(returnedData)
                        $('#fhirjwtverify').html(JSON.stringify(returnedData,null,3));                                        
                    },
                    error: function(jqXHR, textStatus, err){
                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                    }
                });                                              
            };
            let gettoken = (callback) =>{
                    $.ajax({
                        type: "GET",
                        url: `/getToken?sub=`+$("#reqQE option:selected").text(),
                        success: function( returnedData ) {
                            //console.log(returnedData)
                            $('#fhirjwttoken').html(returnedData);    
                            if(callback) {
                                    callback(returnedData)            
                            }                        
                        },
                        error: function(jqXHR, textStatus, err){
                            BootstrapDialog.alert('text status '+textStatus+', err '+err);
                        }
                    });                                          
            };
               
            
            let adminusermenu= function(_tokenid){
                    var url = base_Url+"/adminusers/html/?tokenid="+_tokenid;
                    //window.open(url ,'admin', "resizable=1,scrollbars=no,width=1250,height=750");
                    openWindow(url,'Admin'); // will close on logout                    
            };
            let viewmessage= function(id){
                    //var url = '/adminusers/getmessage?parent=PM_NOTE' // no token =all 
                    var url = base_Url+"/pm/messages";
                    //window.open(url ,'admin', "resizable=1,scrollbars=no,width=1250,height=750");
                    openWindow(url,'messages'); // will close on logout                    
            };
            let testFHIRREST = ()=>{
                $( "#dialog-fhirrest" ).dialog( "open" );
            }
            let testJWT = ()=>{
                $( "#dialog-jwt" ).dialog( "open" );
            }
            let testPIX = ()=>{
                $( "#dialog-pixquery" ).dialog( "open" );
            }
            let testPDQ = ()=>{
                $( "#dialog-pdqquery" ).dialog( "open" );
            };
            let testXCA = ()=>{
                $( "#dialog-xcaquery" ).dialog( "open" );
            };          
            let testCCD = ()=>{
                $( "#dialog-xcaretrieve" ).dialog( "open" );
            };

            //--------------------------------------
            let setheader = (callback)=>{
                    gettoken((token)=>{
                       let out =  JSON.stringify(
                        {
                        headers: {"Authorization":"Bearer "+token,
                        "Content-Type":"application/fhir+json; charset=UTF-8",
                        }}
                        ,null,3)
                        if(callback)    {
                            callback(out)
                        }
                    })
                }
            let getQEData = (type,callback)=>{
                if (isEmpty(type)){
                    type = "select";
                }
                $.ajax({
                    type: "GET",
                    url: `/fhir/qelist?type=${type}`,
                    success: function( returnedData ) {
                        //console.log("QEDATA=",returnedData)
                        callback(returnedData)
                    },
                    error: function(jqXHR, textStatus, err){
                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                    }
                });                       
            }
            let sendURL= ()=>{
                    let url = $('#fhirurl').val()
                   
                    $.ajax({
                        type: "GET",
                        url: url,
                        beforeSend: function(request) {
                            request.setRequestHeader("Authorization", "Bearer "+$('#fhirjwttoken').text());
                        },   
                        success: function( returnedData ) {
                            openWindow(url,'sPRL FHIR'); // will close on logout  
                            $('#fhirresult').text(JSON.stringify(returnedData,null,3));                                        
                        },
                        error: function(jqXHR, textStatus, err){
                            $('#fhirresult').text(textStatus+" - "+err);     
                        }
                    });          
                }
                //-------------------------------------------------------------------------
                let fillFHIRurl = () =>{
                    let requesttype = $("#requesttype option:selected").val()
                    let reqqe = $("#reqQE option:selected").text()
                    let targetqe = $("#targetQE option:selected").text()
                    let mpiid = $('#mpiid').val()
                    let code = $('#code').val()
                    let category = $('#category').val()
                    let date = $('#date').val()
                    if(! isEmpty(code)){
                        code = "?code="+code
                    }
                    if(! isEmpty(category)){
                        category = isEmpty(code)? "?category="+category:"&category="+category
                    }
                    if(! isEmpty(date)){
                        date = isEmpty(code)&&isEmpty(category)? "?date="+date:"&date="+date
                    }
                    if(["Conditions","Observations"].includes(requesttype) )   {
                        $('#reqQE').hide();
                        $('#reqQElabel').hide();
                        $('#fhirurl').val(  $('#baseurl').val()
                                            +"/"+reqqe
                                            +"/"+requesttype                                            
                                            +"/"+mpiid
                                            +code
                                            +category
                                            +date
                                        )
                    } else {
                        $('#reqQE').show();
                        $('#reqQElabel').show();
                        $('#fhirurl').val(  $('#baseurl').val()
                                            +"/"+reqqe
                                            +"/"+targetqe
                                            +"/"+requesttype
                                            +"/"+mpiid
                                            +code
                                            +category
                                            +date
                                            )
                    }

                    $('#baseurl').val(base_Url)
                    $('#sprltoken').html("Get Token for "+reqqe)
                   
                    return($('#fhirurl').val())
                }
            //------------------------------------------------------
            let getRESTURLs = (type,callback)=>{
                if (isEmpty(type)){
                    type = "select";
                }
                $.ajax({
                    type: "GET",
                    url: `/sprl/lookup/RESTURLS?type=${type}`,
                    success: function( returnedData ) {
                        console.log("QEDATA=",returnedData)
                        callback(returnedData)
                    },
                    error: function(jqXHR, textStatus, err){
                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                    }
                });                       
            }
            getQEData("select",(returnedData)=>{
                    $('#jwtsub').html(returnedData.selectqe);
                    $('#jwtQE').html(returnedData.selectqe);
                    $('#reqQE').html(returnedData.selectqe);
                    $('#targetQE').html(returnedData.selectqe);
                    $('#jwturl').html(returnedData.patienturl)
                    $('#pixQE').html(returnedData);
                    $('#pdqQE').html(returnedData);
                    $('#xcaQE').html(returnedData);
                    $('#xcarQE').html(returnedData);
                    fillFHIRurl()
                })

            //-----------------------------------------------------------          
            $(function() {          
                let timer = 0;

                $(window).bind("beforeunload", function() { 
                    closeWindows();
                })
                //---------------------------------------
                $( "#accordion" ).accordion({
                     collapsible: true,
                     heightStyle: "content"
                });
                //---------------------------------------------
                $(document).keyup(function(e) {
                  // fillFHIRurl()
   
                });
                //------------------------------------------------------------------------
                $("input").change(function(){
                  //  alert("The text has been changed.");
                    fillFHIRurl()
                }); 
                //------------------------------------------------------------------------
                $('select').on('change', function (e) {
                    fillFHIRurl()
                });

                let setSelectedIndex = (s, v) => {
                    for ( var i = 0; i < s.options.length; i++ ) {
                        if ( s.options[i].text == v ) {
                            s.options[i].selected = true;
                            return;
                        }
                    }
                }
                $( "#dialog-fhirrest" ).dialog({
                    autoOpen: false,
                    height: 620,
                    width: 800,
                    modal: false,
                    buttons: [                       
                        {
                            text: "Cancel",
                            click: function () {
                                form[ 0 ].reset();
                                $(this).dialog('close');
                            },
                        }
                    ],          
                    open: function(){
                        console.log("openoing")

                    },              
                    close: function() {
                        form[ 0 ].reset();
                        //allFields.removeClass( "ui-state-error" );
                        $( "#dialog-fhirrest" ).dialog('close');
                    }
                });                  
                $( "#dialog-jwt" ).dialog({
                    autoOpen: false,
                    height: 600,
                    width: 800,
                    modal: false,
                 
                    buttons: [                       
                        {
                            text: "GET Token for "+$("#jwtQE option:selected").text(),
                            click: function () {
                                $.ajax({
                                    type: "GET",
                                    url: `/getToken?sub=`+$("#jwtQE option:selected").text(),
                                    success: function( returnedData ) {
                                        //console.log(returnedData)
                                        $('#jwttoken').html(returnedData);                                        
                                    },
                                    error: function(jqXHR, textStatus, err){
                                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                                    }
                                });           
                                $('#jwturl').html('/getToken?sub='+$("#jwtQE option:selected").text())
                                

                            },
                        },                         
                        {
                            text: "Decode Token",
                            click: function () {
                                $.ajax({
                                    type: "GET",
                                    url: `/decode?token=${$('#jwttoken').text()}`,                                                                        
                                    beforeSend: function(request) {
                                        request.setRequestHeader("Authorization", "Bearer "+$('#jwttoken').text());
                                    },                                    
                                    success: function( returnedData ) {
                                        //console.log(returnedData)
                                        $('#jwtdecode').html(JSON.stringify(returnedData));                                        
                                    },
                                    error: function(jqXHR, textStatus, err){
                                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                                    }
                                });                                          
                               // console.log($('#jwttoken').text())
                            },
                        },
                        {
                            text: "Verify Token",
                            click: function () {
                                $.ajax({
                                    type: "GET",
                                    url: `/verify?token=${$('#jwttoken').text()}`,
                                    beforeSend: function(request) {
                                        request.setRequestHeader("Authorization", "Bearer "+$('#jwttoken').text());
                                    },                                    
                                    success: function( returnedData )  {
                                      //  console.log(returnedData)
                                        $('#jwtverify').html(JSON.stringify(returnedData));                                        
                                    },
                                    error: function(jqXHR, textStatus, err){
                                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                                    }
                                });                                          

                            },
                        }, 
                        {
                            text: "Cancel",
                            click: function () {
                                $(this).dialog('close');
                            },
                        }
                    ],          
                    open: function(){
                    /*
                        $.ajax({
                            type: "GET",
                            url: `/getToken?sub=HIXNY`,
                            success: function( returnedData ) {
                                console.log(returnedData)
                                $('#jwttoken').html(returnedData);
                            },
                            error: function(jqXHR, textStatus, err){
                                BootstrapDialog.alert('text status '+textStatus+', err '+err);
                            }
                        });           
                        */
                        $('select option:contains("HIXNY")').prop('selected',true);
                        $('#jwturl').html('/getToken?sub='+$("#jwtQE option:selected").text())

                    },              
                    close: function() {
                        form[ 0 ].reset();
                        //allFields.removeClass( "ui-state-error" );
                        $( "#dialog-pixquery" ).dialog('close');
                    }
                });                  
                $( "#dialog-pixquery" ).dialog({
                    autoOpen: false,
                    height: 300,
                    width: 500,
                    modal: false,
                    show: {
                        effect: "blind",
                        duration: 100
                    },
                    hide: {
                        effect: "explode",
                        duration: 100
                    },
                    buttons: [                       
                        {
                            text: "GET Qry",
                            click: function () {
                                var sprlurl = $("#pixURL").val();
                                var dev = $("#pixURL option:selected").text();
                                var mpiid = $("#pixmpiid").val();
                                var qe = $("#pixQE option:selected").text();
                                var qeid = $("#pixQE").val();
                                var url = `/sprl/PIX/json2table?tokenid=${tokenid}&mpiid=${mpiid}|${qeid}&qe=${qe}&dev=${dev}&type=PIX&sprlurl=${sprlurl}`;
                                openWindow(url,'PIX Query'); // will close on logout                                                    
                            },
                        }, 
                        {
                            text: "Cancel",
                            click: function () {
                                $(this).dialog('close');
                            },
                        }
                    ],          
                    open: function(){
                    // fill dev STAGE PROD PIX url
                        $.ajax({
                            type: "GET",
                            url: '/sprl/lookup/url?type="PIX"',
                            success: function( returnedData ) {
                                $('#pixURL').html(returnedData);
                            },
                            error: function(jqXHR, textStatus, err){
                                BootstrapDialog.alert('text status '+textStatus+', err '+err);
                            }
                        });           
                        $('select option:contains("HIXNY")').prop('selected',true);
                    },              
                    close: function() {
                        form[ 0 ].reset();
                        //allFields.removeClass( "ui-state-error" );
                        $( "#dialog-pixquery" ).dialog('close');
                    }
                });                  
                $( "#dialog-pdqquery" ).dialog({
                    autoOpen: false,
                    height: 475,
                    width: 500,
                    modal: false,
                    show: {
                        effect: "blind",
                        duration: 500
                    },
                    hide: {
                        effect: "explode",
                        duration: 500
                    },
                    buttons: [
                        { 
                        text: "Test Data",
                            click: function () {
                                let qe = $("#pdqQE option:selected").text();
                                $.ajax({
                                    type: "GET",
                                    url: `/sprl/lookup/QEdata?type=qe&qe=${qe}`,
                                    success: function( oHIE ) {
                                        $("#pdqQE").val(oHIE.QE_ID)
                                        $("#pdqmpiid").val(oHIE.MPI_ID);    
                                        $("#family").val("Nosal");    
                                        $("#given").val("Sherry");    
                                        $("#address").val("2173 Jarvisville Road");    
                                        $("#telecom").val("+1--9999999999");    
                                        $("#gender").val("F");    
                                        $("#birthdate").val("1992040");    
                                        $("#postalcode").val("11743");    
                                        $("#city").val("Huntington");                                                  
                                    },
                                    error: function(jqXHR, textStatus, err){
                                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                                    }
                                });     
                            },
                        },
                        {
                            text: "Clear Search",
                            click: function () {
                                $("#pdqQE").val("");    
                                $("#pdqmpiid").val("");    
                                $("#family").val("");    
                                $("#given").val("");    
                                $("#address").val("");    
                                $("#telecom").val("");    
                                $("#gender").val("");    
                                $("#birthdate").val("");    
                                $("#postalcode").val("");    
                                $("#city").val("");                                                  
                            },
                        },
                        {
                            text: "GET Qry",
                            click: function () {                                
                                let data = {};
                                data.sprlurl = $("#pdqURL").val();
                                data.dev = $("#pdqURL option:selected").text();
                                data.mpiid = $("#pdqmpiid").val();
                                data.qe = $("#pdqQE option:selected").text();
                                data.qeid = $("#pdqQE").val();
                                data.family = $("#family").val();    
                                data.given = $("#given").val();    
                                data.address = $("#address").val();    
                                data.telecom = $("#telecom").val();    
                                data.gender = $("#gender").val();    
                                data.birthdate = $("#birthdate").val();    
                                data.postalcode = $("#postalcode").val();    
                                data.city = $("#city").val();    
                                var url = `/sprl/PDQ/json2table?tokenid=${tokenid}&type=PDQ&dev=${data.dev}&mpiid=${data.mpiid}`
                                if(! isEmpty(data.qeid)){
                                    url+=`|${data.qeid}`
                                }
                                if(! isEmpty(data.qe)){
                                    url+=`&qe=${data.qe}`
                                }
                                if(! isEmpty(data.family)){
                                    url+=`&family=${data.family}`
                                }
                                if(! isEmpty(data.given)){
                                    url+=`&given=${data.given}`
                                }
                                if(! isEmpty(data.address)){
                                    url+=`&address=${data.address}`
                                }
                                if(! isEmpty(data.telecom)){
                                    url+=`&telecom=${data.telecom}`
                                }
                                if(! isEmpty(data.gender)){
                                    url+=`&gender=${data.gender}`
                                }
                                if(! isEmpty(data.birthdate)){
                                    url+=`&birthdate=${data.birthdate}`
                                }
                                if(! isEmpty(data.sprlurl)){
                                    url+=`&sprlurl=${data.sprlurl}`
                                }
                                openWindow(url,'PDQ Query'); // will close on logout                                                    
                            },
                        }, 
                        {
                            text: "Cancel",
                            click: function () {
                                $(this).dialog('close');
                            },
                        }
                    ],       
                    open: function(){
                        $.ajax({
                            type: "GET",
                            url: '/sprl/lookup/url?type="PDQ"',
                            success: function( returnedData ) {
                                $('#pdqURL').html(returnedData);
                            },
                            error: function(jqXHR, textStatus, err){
                                BootstrapDialog.alert('text status '+textStatus+', err '+err);
                            }
                        });         
                    },              
                    close: function() {
                        form[ 0 ].reset();
                        //allFields.removeClass( "ui-state-error" );
                        $( "#dialog-pdqquery" ).dialog('close');
                    }
                });                  
                $( "#dialog-xcaquery" ).dialog({
                    autoOpen: false,
                    height: 500,
                    width: 500,
                    modal: false,
                    show: {
                        effect: "blind",
                        duration: 200
                    },
                    hide: {
                        effect: "explode",
                        duration: 200
                    },
                    buttons: [                       
                        {
                            text: "GET Query",
                            click: function () {
                                var dev = $("#xcaURL option:selected").text();
                                var sprlurl = $("#xcaURL").val();
                                var mpiid = $("#xcampiid").val();
                                var qe = $("#xcaQE option:selected").text();
                                var qeid = $("#xcaQE").val();
                                var url = `/sprl/XCA/json2table?tokenid=${tokenid}&type=XCA&mpiid=${mpiid}|${qeid}&qe=${qe}`;
//                                var url = `/sprl/XCA/json2table?tokenid=${tokenid}&type=XCA&mpiid=${mpiid}|${qeid}&qe=${qe}&token=`+$('#xcatoken').text();
                                //var url = `sprl/XCA/Query?tokenid=${tokenid}&type=XCA&mpiid=${mpiid}&qeid=${qeid}&qe=${qe}&sprlurl=${sprlurl}&dev=${dev}&tokenid=`+tokenid;
                                openWindow(url,'XCA Query'); // will close on logout                                                    

/*


                                $.ajax({
                                    type: "GET",
                                    url: url,
                                    headers: { 
                                        Accept : "text/plain; charset=utf-8","Content-Type": "text/plain; charset=utf-8"
                                    },
                                    beforeSend: function(request) {
                                        request.setRequestHeader("Authorization", "Bearer "+$('#xcatoken').text());
                                    },                                    
                                    success: function( returnedData ) {
                                        //$('#temp').html(returnedData);                                        
                                    },
                                    error: function(jqXHR, textStatus, err){
                                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                                    }
                                                              
                               });           
                               */

                            },
                        }, 
                        /*
                        {
                            text: "Set Token",
                            click: function () {
                                $.ajax({
                                    type: "GET",
                                    url: `/getToken?sub=`+$("#xcaQE option:selected").text(),
                                    headers: { 
                                        Accept : "text/plain; charset=utf-8","Content-Type": "text/plain; charset=utf-8"
                                    },
                                    success: function( returnedData ) {
                                        //console.log(returnedData)

                                        $('#xcatoken').html(returnedData);                                        
                                    },
                                    error: function(jqXHR, textStatus, err){
                                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                                    }
                                });           
                                $('#jwturl').html('/getToken?sub='+$("#jwtQE option:selected").text())                              
                            },
                        },
                        */
                        {
                            text: "Cancel",
                            click: function () {
                                $(this).dialog('close');
                            },
                        }
                    ],          
                    open: function(){                                        
                        $.ajax({
                            type: "GET",
                            url: '/sprl/lookup/url?type="XCA_QUERY"',
                            success: function( returnedData ) {
                                $('#xcaURL').html(returnedData);
                            },
                            error: function(jqXHR, textStatus, err){
                                BootstrapDialog.alert('text status '+textStatus+', err '+err);
                            }
                        });     
                        $('select option:contains("HIXNY")').prop('selected',true);
                        //timer = setTimeout("$('#dialog-login').dialog('close')",100000);
                        //allFields.removeClass( "ui-state-error" );
                    },              
                    close: function() {
                        form[ 0 ].reset();
                        //allFields.removeClass( "ui-state-error" );
                        $(this).dialog('close');
                    }
                });                  
                $( "#dialog-xcaretrieve" ).dialog({
                    autoOpen: false,
                    height: 300,
                    width: 500,
                    modal: false,
                    show: {
                        effect: "blind",
                        duration: 200
                    },
                    hide: {
                        effect: "explode",
                        duration: 200
                    },
                    buttons: [                       
                        {
                            text: "GET XML Document",
                            click: function () {
                                var sprlurl = $("#xcarURL").val();
                                var dev = $("#xcarURL option:selected").text();
                                var mpiid = $("#xcarmpiid").val();
                                var qe = $("#xcarQE option:selected").text();
                                var qeid = $("#xcarQE").val();
                                //var url = `/sprl/XCAR/json2table?tokenid=${tokenid}&type=XCA&mpiid=${mpiid}&qeid=${qeid}&qe=${qe}&tokenid=`+tokenid;
                                var url = `sprl/XCA/Retrieve?tokenid=${tokenid}&type=XML&mpiid=${mpiid}|${qeid}&qe=${qe}&dev=${dev}&sprlurl=${sprlurl}`;
                                openWindow(url,'XCA Retrieve'); // will close on logout                                                    
                            },
                        }, 
                        {
                            text: "GET JSON Bundle",
                            click: function () {
                                var sprlurl = $("#xcarURL").val();
                                var dev = $("#xcarURL option:selected").text();
                                var mpiid = $("#xcarmpiid").val();
                                var qe = $("#xcarQE option:selected").text();
                                var qeid = $("#xcarQE").val();
                                var url = `/sprl/XCAR/json2table?tokenid=${tokenid}&type=JSON&mpiid=${mpiid}|${qeid}&qe=${qe}&dev=${dev}&sprlurl=${sprlurl}`;
                                //var url = `sprl/XCA/Retrieve?tokenid=${tokenid}&type=JSON&mpiid=${mpiid}&qeid=${qeid}&qe=${qe}&dev=${dev}&sprlurl=&${sprlurl}`;
                                openWindow(url,'XCA JSON Bundle'); // will close on logout                                                    
                            },
                        }, 
                        {
                            text: "Cancel",
                            click: function () {
                                $(this).dialog('close');
                            },
                        }
                    ],          
                    open: function(){
                        $('select option:contains("HIXNY")').prop('selected',true);
                        $.ajax({
                            type: "GET",
                            url: '/sprl/lookup/url?type="XCA_RETRIEVE"',
                            success: function( returnedData ) {
                                $('#xcarURL').html(returnedData);
                            },
                            error: function(jqXHR, textStatus, err){
                                BootstrapDialog.alert('text status '+textStatus+', err '+err);
                            }
                        });     
                        //timer = setTimeout("$('#dialog-login').dialog('close')",100000);
                        //allFields.removeClass( "ui-state-error" );
                    },              
                    close: function() {
                        form[ 0 ].reset();
                        //allFields.removeClass( "ui-state-error" );
                        $(this).dialog('close');
                    }
                });                  
                //----------         
                form =  $( "#dialog-pixquery" ).find( "form" ).on( "submit", function( event ) {
                    event.preventDefault();
                });                            
                setTheme('redmond')
                setSelectedIndex(document.getElementById('reqQE'),"HIXNY");
                                setSelectedIndex(document.getElementById('targetQE'),"HEALTHIX");
                    fillFHIRurl()

            })                  
    </script>
  <style>
    #fhirlogo1
    {
        opacity:0.4;
        z-index: -1; 
    }
  </style>
     
    <header id="header" class="header" >     
        <div class="header-menu">                      
            <div  style="height:80px;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#f5f1f1;">        
                <table  style="width:100%">            
                    <tbody>
                        <tr class="head_row1">
                            <td >
                                <img id="fhirlogo1" height='80px' width='300%' align="middle" src="/images/FHIR.png" alt="FHIR Logo" vertical-align="none"/>
                            </td> 
                            <td >
                                <div class="center" ><h3>SPRL Tester</h3></div>
                            </td> 
                            <td >
                                <a href="HTTP://nyehealth.org">    
                                    <img id="headerlogo" height='52' width='92' align="middle" src="/images/nyec-logo.png" alt="NYeC Logo" vertical-align="none"/>
                                </a>                                
                            </td> 
                       </tr>
                    </tbody>
                </table>
            </div>                          
            <div id = "querymenu" class="col-sm-12">        
                <div class="css">
                    <button class="ui-button ui-widget ui-corner-all" id="testfhirrest" onclick="testFHIRREST()">
                        <span class="ui-icon ui-icon-gear"></span> Test FHIR REST
                    </button>
                    <button class="ui-button ui-widget ui-corner-all" id="testoix" onclick="testPIX()">
                        <span class="ui-icon ui-icon-gear"></span> Test PIX
                    </button>
                    <button class="ui-button ui-widget ui-corner-all" id="pdqquery" onclick="testPDQ()">
                        <span class="ui-icon ui-icon-gear"></span> Test PDQ
                    </button>
                    <button class="ui-button ui-widget ui-corner-all" id="xcaquery" onclick="testXCA()">
                        <span class="ui-icon ui-icon-gear"></span> Test XCA Query
                    </button>  
                    <button class="ui-button ui-widget ui-corner-all" id="xcaquery" onclick="testCCD()">
                        <span class="ui-icon ui-icon-gear"></span>Test XCA Retrieve
                    </button>
                </div>            
            </div>                   
        </div>  
    </header>
    
    <div id="dialog-fhirrest" title='sPRL FHIR' class="ui-layout-center" style="display:none">
        <!--
            <div >
                    <button class="ui-button ui-widget ui-corner-all" id="sendurl" onclick="sendURL()">GO </button>
                    <input class ="info1" type="text"  id="fhirurl" style="width: 640px" >
            </div>
        -->
            <span class ="info1">
                <select style="width: 64px" >
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                 </select>
            </span>
            <span>
                 <input type="text"  id="fhirurl" style="width: 640px" >
            </span>
            <span class ="info1" id="sendurl" onclick="sendURL()">
                GO
            </span>
               
        <div id="accordion">
                <h3>Parameters</h3>
                <div>
                    <form>
                        <fieldset>
                            <div>
                                <div>
                                    <label class="selectlabel">baseurl</label>
                                    <input type="text"  id="baseurl" value="" >
                                </div>
                                <div>
                                    <label  class="selectlabel">Request</label>
                                    <select id="requesttype" >
                                        <option value="Patient">Patient</option>
                                        <option value="Condition">Condition for QE patient</option>
                                        <option value="Observation">Observation for QE patient</option>
                                        <option value="Conditions">Conditions for ALL QE patient</option>
                                        <option value="Observations">Observations ALL QE patient</option>
                                    </select>
                                </div>
                                <div>
                                    <label  class="selectlabel" id="reqQElabel" for="name">Requesting QE</label>
                                    <select  id="reqQE" name="reqQE" value ="HIXNY">
                                    </select>
                                </div>
                                <div>
                                    <label  class="selectlabel" for="name">Target QE</label>
                                    <select  id="targetQE" name="targetQE" value ="HEALTHIX">
                                    </select>
                                </div>
                            </div>                                       
                            <div>
                                <label class="selectlabel">MPIID</label>
                                <input type="text"  id="mpiid" value="361295" >
                            </div>
                            <div>
                                <label class="selectlabel">code   </label>
                                <input type="text"  id="code" value="" >
                            </div>
                            <div>
                                <label class="selectlabel">category</label>
                                <input type="text"  id="category" value="" >
                            </div>
                            <div>
                                <label class="selectlabel">date</label>
                                <input type="text"  id="date" value="" >
                            </div>
                            
                            <!--
                            <div class="widget">
                                <label class="jwtlabel" >Token</label>
                                <text id="fhirjwttoken"  value ="" >
                            </div>                                       
                            <div class="widget">
                                <label class="jwtlabel" >Verify</label>
                                <pre id="fhirjwtverify"></pre>
                            </div>      
                        -->
                        </fieldset>
                    </form>

                </div>
                <h3>Token</h3> 
                <div>
                <button class="ui-button ui-widget ui-corner-all" id="gettoken" onclick="gettoken()">
                        <span id="sprltoken"> Get Token</span>
                </button>
                <button class="ui-button ui-widget ui-corner-all" id="verifyjwttoken" onclick="verifyjwttoken()">
                        <span class="ui-icon ui-icon-gear"></span> Verify Token
                </button>
                    <div>
                        <text id="fhirjwttoken"  value ="" >
                    </div>                                       
                    <div>
                           
                        <pre id="fhirjwtverify"></pre>
                    </div>     
                </div>           
        </div>
    </div>
   
   
    <div id="dialog-pixquery" title='Test PIX' class="ui-layout-center" style="display:none">
        <form>
            <p class="validateTips">All fields are required.</p>
            <fieldset>
                    <div class="widget">
                            <div class="controlgroup">
                                <label class="pixlabel" for="name">Select SPRL </label>
                                <select class="urlselect" id="pixURL" name="pixURL" value ="STAGE">
                                </select>
                            </div>
                         </div>                                       
                    <div class="widget">
                    <br>
                    <div class="controlgroup">
                        <label class="pixlabel" for="name">Select QE</label>
                        <select class="qeselect" id="pixQE" name="pixQE" value ="HIXNY">
                        </select>
                    </div>
                </div>                                       
                <label class="pixlabel" for="name">Enter ID</label>
                <input type="text" name="pixmpiid" id="pixmpiid" value="36191" class="text ui-widget-content ui-corner-all">
            </fieldset>
      </form>
    </div>
<div id="dialog-pdqquery" title='Test PDQ' class="ui-layout-center" style="display:none">
            <form>
                <p class="validateTips">All fields are required.</p>
                <fieldset>
                    <div class="widget">
                            <div class="controlgroup">
                                <label class="pixlabel" for="name">Select SPRL </label>
                                <select class="urlselect" id="pdqURL" name="pdqURL" value ="STAGE">
                                </select>
                            </div>
                            </div>                                       
                    <div class="widget">
                    <br>
                    <div class="widget">
                        <div class="controlgroup">
                            <label class="pixlabel" for="name">Select QE</label>
                            <select class="qeselect" id="pdqQE" name="pdqQE" value="HIXNY">
                            </select>
                        </div>
                    </div>                                       
                    <label class="pdqlabel" for="name">MPIID</label>
                    <input type="text" name="pdqmpiid" id="pdqmpiid" value="36191" class="text ui-widget-content ui-corner-all">
                    <br>
                    <label class="info1">Find Patient Demographics : </label>
                    <br>                                    
                    
                    <label class="pdqlabel" for="name">Family Name</label>
                    <input type="text" name="family" id="family" value="" class="text ui-widget-content ui-corner-all">
                    <br>
                    <label class="pdqlabel" for="given">Given Name</label>
                    <input type="text" name="given" id="given" value="" class="text ui-widget-content ui-corner-all">
                    <br>                        
                    <label class="pdqlabel" for="address">Address</label>
                    <input type="text" name="address" id="address" value="" class="text ui-widget-content ui-corner-all">

                    <label class="pdqlabel" for="address">City</label>
                    <input type="text" name="city" id="city" value="" class="text ui-widget-content ui-corner-all">
                    <br>            
                    <label class="pdqlabel" for="postaclcode">ZIP</label>
                    <input type="text" name="postalcode" id="postalcode" value="" class="text ui-widget-content ui-corner-all">
                    <br>            
                    <label class="pdqlabel" for="telecom">Phone</label>
                    <input type="text" name="telecom" id="telecom" value="" class="text ui-widget-content ui-corner-all">
                    <br>
                    <label class="pdqlabel" for="gender">Gender</label>
                    <input type="text" name="gender" id="gender" value="" class="text ui-widget-content ui-corner-all">
                    <br>            
                    <label class="pdqlabel" for="birthdate">Dirth Date</label>
                    <input type="text" name="birthdate" id="birthdate" value="" class="text ui-widget-content ui-corner-all">
                    <br>
                </fieldset>
            </form>
        </div>
        <div id="dialog-xcaquery" title='Test XCA Query' class="ui-layout-center" style="display:none">
                <form>
                    <p class="validateTips">All fields are required.</p>
                    <fieldset>
                        <div class="widget">
                                <div class="controlgroup">
                                    <label class="pixlabel" for="name">Select SPRL </label>
                                    <select class="urlselect" id="xcaURL" name="xcaURL" value ="STAGE">
                                    </select>
                                </div>
                                </div>                                       
                        <div class="widget">
                        <br>
                        <div class="widget">
                              <div class="controlgroup">
                                <label class="pixlabel" for="name">Select QE</label>
                                <select class="qeselect" id="xcaQE" name="XCA" value ="HIXNY">
                                </select>
                            </div>
                        </div>                                       
                        <label class="pixlabel" for="name">Enter ID</label>
                        <input type="text" name="xcampiid" id="xcampiid" value="36191" class="text ui-widget-content ui-corner-all">
                      
                    </fieldset>
              </form>
        </div>
        <div id="dialog-xcaretrieve" title='Test XCA Retrieve' class="ui-layout-center" style="display:none">
            <form>
                <p class="validateTips">All fields are required.</p>
                <fieldset>
                        <div class="widget">
                                <div class="controlgroup">
                                    <label class="pixlabel" for="name">Select SPRL </label>
                                    <select class="urlselect" id="xcarURL" name="xcarURL" value ="STAGE">
                                    </select>
                                </div>
                                </div>                                       
                        <div class="widget">
                        <br>
                    <div class="widget">
                        <div class="controlgroup">
                            <label class="pixlabel" for="name">Select QE</label>
                            <select class="ccdselect" id="xcarQE" name="XCA" value ="HIXNY">
                            </select>
                        </div>
                    </div>                                       
                    <label class="pixlabel" for="name">Enter ID</label>
                    <input type="text" name="ccdmpiid" id="xcarmpiid" value="36191" class="text ui-widget-content ui-corner-all">
                    
                </fieldset>
            </form>
        </div>
        
  