    <script src="/json-viewer/jquery.json-viewer.js"></script>
    <link href="/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet">

	<link href="/jsoneditor/dist/jsoneditor.css" rel="stylesheet" type="text/css">
    <script src="/jsoneditor/dist/jsoneditor.min.js"></script>
    <link href="/jsoneditor/dist/font-awesome.css" rel="stylesheet" type="text/css">

    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            position: relative; 
            margin: 0em; 
            padding:0; 
            /*overflow: auto;*/ 
            overflow-x:hidden; 
            overflow-y:auto; 
            text-align:left;
        }
        .ui-dialog { font-size: 14px; }
        fieldset { border: 0; margin-left: 1px; }
          label { display: block; margin: 1px 0 0 0; }
          select { width: 100px; } 
          #url {  width: 550px; }
          #type {  width: 40px; }         
          #jqg1 {  width: 240px; }
          #dialog label, #dialog input { display:block; color:009900}
          #dialog label { margin-top: 0.5em; }
          #dialog input, #dialog textarea { width: 95%; }
          #headerlogo {vertical-align:bottom}
          .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF; }        
        #format { margin-top: 2em; }
        .ui-dialog-buttonpane   { font-size: 12px; margin: 0  !important ;padding:0  !important; }
        /* Center the loader */
        #sendloader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 100px;
            height: 100px;
            margin: -75px 0 0 -75px;
            border: 16px solid #dcddee;
            border-radius: 50%;
            border-top: 16px solid #084f7e;
            width: 80px;
            height: 80px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
    </style>


<style style="text/css">
    .ui-jqgrid .ui-jqgrid-view {
        z-index: auto;
    }
    .ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-pg-table {
        font-size: 13px;
    }
    .ui-jqgrid .ui-jqgrid-title {
        float: left;
        margin: 8px;
    }
    .ui-jqgrid .ui-jqgrid-title-rtl {
        float: right;
        margin: 8px;
    }
    .ui-jqgrid-view>.ui-jqgrid-titlebar {
        height: 40px;
        line-height: 24px;
        color: #FFF;
        background: #307ECC;
        padding: 0;
        font-size: 15px;
    }
    .ui-jqgrid tr.jqgrow.ui-row-rtl td:last-child {
        border-right: none;
        border-left: 1px solid #E1E1E1;
    }
    .ui-jqgrid .ui-jqgrid-hdiv {
        background-color: #EFF3F8;
        border: 1px solid #D3D3D3;
        border-width: 1px 0 0 1px;
        line-height: 15px;
        font-weight: 700;
        color: #777;
        text-shadow: none;
    }
    .ui-jqgrid .ui-jqgrid-htable thead {
        background-color: #EFF3F8;
    }
    .ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
        height: 45px!important;
    }
    .ui-jqgrid .ui-jqgrid-htable th div {
        padding-top: 12px;
        padding-bottom: 12px;
        overflow: visible;
    }
    .ui-jqgrid-hdiv .ui-jqgrid-htable {
        border-top: 1px solid #E1E1E1;
    }
    .ui-jqgrid-titlebar {
        position: relative;
        top: 1px;
        z-index: 1;
    }
    .ui-jqgrid tr.jqgrow, .ui-jqgrid tr.ui-row-ltr, .ui-jqgrid tr.ui-row-rtl {
        border: none;
                height:auto;
                overflow:hidden;
                padding-right:4px;
                padding-top:2px;
                position:relative;
                vertical-align:text-top;
                white-space:normal !important;
    }
    .ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td {
        border-bottom: 1px solid #E1E1E1;
        padding: 6px 4px;
        border-color: #E1E1E1 !important;
                white-space: normal !important;
                height:auto;
                vertical-align:text-top; 
                padding-top:2px;
    }
    .ui-jqgrid tr.ui-state-highlight.ui-row-ltr td {
        border-right-color: #C7D3A9;
    }
    .ui-jqgrid tr.ui-state-highlight.ui-row-rtl td {
        border-left-color: #C7D3A9;
    }
    .ui-jqgrid-btable .ui-widget-content.ui-priority-secondary {
        background-image: none;
        background-color: #F9F9F9;
        opacity: 1;
    }
    .ui-jqgrid-btable .ui-widget-content.ui-state-hover {
        background-image: none;
        background-color: #EFF4F7;
        opacity: 1;
    }
    .ui-jqgrid-btable .ui-widget-content.ui-state-highlight {
        background-color: #E4EFC9;
    }
    .ui-jqgrid .ui-jqgrid-pager {
        line-height: 15px;
        height: 55px;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
        background-color: #EFF3F8!important;
        border-bottom: 1px solid #E1E1E1!important;
        border-top: 1px solid #E1E1E1!important;
    }
    .ui-jqgrid .ui-pg-input {
        font-size: inherit;
        width: 24px;
        height: 20px;
        line-height: 16px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        text-align: center;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .ui-jqgrid .ui-pg-selbox {
        display: block;
        height: 24px;
        width: 60px;
        margin: 0;
        padding: 1px;
        line-height: normal;
    }
    .ui-jqgrid .ui-pager-control {
        height: 50px;
        position: relative;
        padding-left: 9px;
        padding-right: 9px;
    }
    .ui-jqgrid .ui-jqgrid-toppager {
        height: auto!important;
        background-color: #EFF3F8;
        border-bottom: 1px solid #E1E1E1!important;
    }
    .ui-pg-table .navtable .ui-corner-all {
        border-radius: 0;
    }
    .ui-jqgrid .ui-pg-button .ui-separator {
        margin-left: 4px;
        margin-right: 4px;
        border-color: #C9D4DB;
    }
    .ui-jqgrid .ui-jqgrid-btable {
        border-left: 1px solid #E1E1E1;
    }
    .ui-jqgrid .ui-jqgrid-bdiv {
        border-top: 1px solid #E1E1E1;
        overflow-x: hidden;
    }
    .ui-jqgrid .loading {
        position: absolute;
        top: 45%;
        left: 45%;
        width: auto;
        height: auto;
        z-index: 111;
        padding: 6px;
        margin: 5px;
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        background-color: #FFF;
        border: 2px solid #8EB8D1;
        color: #E2B018;
    }
     
    .ui-jqgrid .ui-jqgrid-labels {
        border-bottom: none;
        background: repeat-x #F2F2F2;
        background-image: -webkit-linear-gradient(top, #F8F8F8 0, #ECECEC 100%);
        background-image: -o-linear-gradient(top, #F8F8F8 0, #ECECEC 100%);
        background-image: linear-gradient(to bottom, #F8F8F8 0, #ECECEC 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',  endColorstr='#ffececec',  GradientType=0);
        padding: 0!important;
        border-left: 1px solid #E1E1E1!important;
    }
    .ui-jqgrid .ui-jqgrid-labels th {
        border-right: 1px solid #E1E1E1!important;
        text-align: left!important;
    }
    .ui-jqgrid-labels th[id*="_cb"]:first-child>div {
        padding-top: 0;
        text-align: center!important;
    }
    .ui-jqgrid-sortable {
        padding-left: 4px;
        font-size: 13px;
        color: #777;
        font-weight: 700;
    }
    .ui-jqgrid-sortable:hover {
        color: #547EA8;
    }
    th[aria-selected=true] {
        background-image: -webkit-linear-gradient(top, #EFF3F8 0, #E3E7ED 100%);
        background-image: -o-linear-gradient(top, #EFF3F8 0, #E3E7ED 100%);
        background-image: linear-gradient(to bottom, #EFF3F8 0, #E3E7ED 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8',  endColorstr='#ffe3e7ed',  GradientType=0);
    }
    th[aria-selected=true] .ui-jqgrid-sortable {
        color: #307ECC;
    }
    .ui-jqgrid .ui-icon {
        text-indent: 0;
        color: #307ECC;
        float: none;
        right: 2px;
    }
    .rtl .ui-jqgrid .ui-icon {
        right: auto;
        left: 2px;
    }
    .ui-jqgrid .ui-icon.ui-state-disabled {
        color: #BBB;
    }
    .ui-jqgrid .ui-icon.ui-state-disabled:hover {
        padding: 0;
    }
    .ui-grid-ico-sort:before {
        display: inline;
        font-size: 12px;
    }
    .ui-icon-asc:before {
        content: "\f0d8"}
    .ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon {
        display: inline-block;
        padding: 0;
        width: 24px;
        height: 24px;
        line-height: 22px;
        text-align: center;
        position: static;
        float: none;
        margin: 0 2px!important;
        color: grey;
        border: 1px solid #CCC;
        background-color: #FFF;
        border-radius: 100%}
    .ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:hover {
        color: #699AB5;
        border-color: #699AB5;
    }
    .ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:before {
        width: 20px;
        text-align: center;
        display: inline-block;
    }
    .ui-pg-table>tbody>tr>.ui-pg-button.ui-state-disabled .ui-icon {
        color: #B0B0B0;
        background-color: #F7F7F7;
        border-color: #DDD;
        -moz-transform: scale(.9);
        -webkit-transform: scale(.9);
        -o-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9);
    }
    .ui-jqgrid-btable input, .ui-jqgrid-btable select, .ui-jqgrid-btable textarea {
        padding: 2px;
        width: auto;
        max-width: 100%;
        margin-bottom: 0;
    }
    .ui-jqgrid-btable select {
        padding: 1px;
        height: 25px;
        line-height: 25px;
    }
     
    .ui-pg-div .ui-icon {
        display: inline-block;
        width: 18px;
        float: none;
        position: static;
        text-align: center;
        opacity: .85;
        -webkit-transition: all .12s;
        -o-transition: all .12s;
        transition: all .12s;
        margin: 0 1px;
        vertical-align: middle;
        cursor: pointer;
        font-size: 17px;
    }
    .ui-pg-div .ui-icon:hover {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
        position: static;
        margin: 0 1px;
    }
    .ui-pg-div .ui-icon:before {
        font-family: FontAwesome;
        display: inline;
    }
     
     
    .ui-jqgrid .ui-pg-button:hover, .ui-jqgrid .ui-state-disabled:hover {
        padding: 0 1px;
                border-style: none !important;
    }
    .ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover>.ui-pg-div>.ui-icon, .ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover>.ui-separator {
        margin-left: 4px;
        margin-right: 4px;
    }
    @media only screen and (max-width:767px) {
        .ui-jqgrid .ui-jqgrid-pager {
        height: 90px;
    }
    .ui-jqgrid .ui-jqgrid-pager>.ui-pager-control {
        height: 85px;
        padding-top: 10px!important;
    }
    .ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td {
        vertical-align: top;
    }
    .ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center {
        width: 0!important;
        position: static;
    }
    .ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center>.ui-pg-table {
        margin: 36px auto 0;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
    }
    .ui-jqgrid .ui-jqgrid-pager .navtable {
        height: auto;
    }
    }.dd


 </style>
     
    <script>
        var baseUrl = document.location.origin;
        var grid;
        results = []
        //-----------------------------------------------------------
        let showlog = ()=>{
            let addshow = "showlog=1"
            let url = $('#sendfhirurl').val()
            if( ! url.includes(addshow )){
                addshow = url.includes("?")?addshow = "&"+addshow:addshow = "?"+addshow
                $('#sendfhirurl').val(url+addshow)
            }
        }
        $( ()=>{
            let PPpager = ("urlpager");
            let grid = $("#urllist");                                
            let gridAddButton = (grid, options)=>{
                grid.jqGrid('navButtonAdd','#'+PPpager,options);
                grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
            };
              
            //-----------------------------------------------------------
            let getguid = ()=>{
                let S4 = () =>{
                    return (((1+Math.random())*0x10000)|0).toString(16).substring(1); 
                }
                guid = (S4() + S4() + "-" + S4() + "-4" + S4().substr(0,3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
                return guid
            }
            //----------------------------------------------------------
            let SendRequest = ()=>{
                $( "#dialog-sendrequest" ).dialog( "open" );
            }
            //----------------------------------------------------------
            let getSelected = ()=>{
                var result = [];
                let rowKey = grid.getGridParam("selrow");
                if (!rowKey){
                    Alert("No rows selected");
                }else {
                    var selectedIDs = grid.getGridParam("selarrrow");
                    for (var i = 0; i < selectedIDs.length; i++) {
                        let rowData = grid.jqGrid ('getRowData', selectedIDs[i]);
                        result.push( {type:rowData.type,url:rowData.url})
                    }
                }  
                return result    
            }      
            //-------------------------------------------------------
            let getProfile = (type,callback) =>{
                if(isEmpty(type)){
                    type="OperationOutcome"
                }
                let url = `/fhir/profile/${type}`
                $.ajax({
                    type:"GET",
                    url: url,
                    async:true,
                    success: ( returnedData ) =>{
                       callback(returnedData)                   
                    },
                    error: (jqXHR, textStatus, err) => {
                       callback("error")
                    },
                    timeout:1000
                });     
            }
            //-------------------------------------------------------
            var container = document.getElementById("jsoneditor");
            var options = {
                mode: 'view',
                modes: ['text','view'], // allowed modes
                search:true,
                onError:  (err) => {
                    console.log(err.toString());
                },
                onModeChange:  (newMode, oldMode) => {
                    log('Mode switched from '+ oldMode+ ' to '+ newMode);
                }	
            };
            editor = new JSONEditor(container, options);
            //-------------------------------------------------------------
            let sendSelected = (list,callback)=>{
                let count = 0
                results = []
                let profile = {resource:{
                        "resourceType": "Bundle",
                        "id":getguid(),
                        "type": "batch-request-response",
                        "timeStamp":new Date(),
                        "total":0,
                        "entry":[],
                        "request":{},
                        response:{},
                }}
                let _profile = {resource:{
                    "resourceType":"OperationOutcome",
                    "identifier":getguid(),
                    "issue":[
                        {
                            "severity":"error",
                            "code":"data.code",
                            "details":"data.error",
                            "source":{ // issue-source
                                "extension" : [ ],
                                "url" : "data.url", // 
                                "valueString" :"data.qe" 
                            },
                        }
                    ]
                }}
                document.getElementById("sendloader").style.display = "block";
                list.forEach( (elem,i)=>{
                    $.ajax({
                        type: elem.type,
                        url: elem.url,
                        async:true,
                        success: ( returnedData ) =>{
                            count+=1
                            profile.resource.entry.push(returnedData)
                            profile.resource.total+=1
                            if(count == list.length){ 
                                results.push(profile)
                                document.getElementById("sendloader").style.display = "none";
                                $( "#dialog-showresult" ).dialog( "open" );   
                            }
                        },
                        error: (jqXHR, textStatus, err) => {
                            count+=1    
                            _profile.resource.url = elem.url
                            _profile.resource.requestid = i
                            _profile.resource.issue[0].code = textStatus
                            _profile.resource.issue[0].severity = err
                            _profile.resource.issue[0].source.url = elem.url                                
                            profile.resource.entry.push(_profile)
                            profile.resource.total+=1

                            if(count == list.length){
                                results.push(profile)
                                document.getElementById("sendloader").style.display = "none";
                                $( "#dialog-showresult" ).dialog( "open" );   
                            }           
                                    
                        },
                        timeout: 60000
                    });    
                })
            }
            //-----------------------------------------------------------
            let sendURL= ()=>{
                let url = $('#sendfhirurl').val()
                let type = $("#sendtype option:selected").text()
           
                let rowid = grid.jqGrid("getGridParam", "selrow")
                let rowData = grid.jqGrid("getRowData",rowid);
                let reqqe = rowData.reqqe
                let targetqe = rowData.targetqe
                      

                //$( "#dialog-sendrequest" ).dialog('close');
           //    openWindow(url,url); // will close on logout     
                //*
                getJWTtoken(reqqe,(token)=>{
                    document.getElementById("sendloader").style.display = "block";
                    $.ajax({
                        type: type,
                        url: url,
                        async:true,
                        beforeSend:(request)=>{
                                request.setRequestHeader("Authorization", "Bearer "+token);
                        },
                        success: function( returnedData ) {
                            document.getElementById("sendloader").style.display = "none";
                            results = returnedData        
                            $( "#dialog-showresult" ).dialog( "open" );                       
                        },
                        error: function(jqXHR, textStatus, err){
                            document.getElementById("sendloader").style.display = "none";     
                            $( "#dialog-showresult" ).dialog( "open" );        
                        },
                        timeout: 10000
                    });        
                })
                //*/  
            }
            //-----------------------------------------------------
            $( "#dialog-sendrequest" ).dialog({
                    autoOpen: false,
                    height: "auto",
                    width:"auto",
                    modal: false,
                    position:top,
                    buttons: [                       
                        {
                            text: "GO",
                            click:  () =>{
                                sendURL()
                            },
                        },
                        {
                            text: "Cancel",
                            click:  ()=> {
                                $( "#dialog-sendrequest" ).dialog('close');
                            },
                        }
                    ],          
                    open: (event,ui) => {
                        document.getElementById("sendloader").style.display = "none";
                        let rowid = grid.jqGrid("getGridParam", "selrow")
                        if(rowid == null){
                            $( "#dialog-sendrequest" ).dialog('close');
                            Alert("Please select a Row First")
                            
                        } else {
                            let rowData = grid.jqGrid("getRowData",rowid);
                            $('#sendfhirurl').val(rowData.url)
                            $("#sendtype").val(rowData.type)
                        }
                    },              
                    close: ()=>{
                        $( "#dialog-sendrequest" ).dialog('close');
                    }
            });                  
            //-----------------------------------------------------
            $( "#dialog-showresult" ).dialog({
                autoOpen: false,
                minHeight: 385,
                width: '95%',
                height:600,
                modal: false,
                draggable: true,
                resizable: true,
                position: 'center',
                open: (event,ui) => {
                   //document.getElementById("sendloader").style.display = "block";
                    $("#sendloader").css("display","block")
                    editor.set(results)
                    //or
                    //$('#json-renderer').jsonViewer(results);
                },              
                close: () =>{
                    //document.getElementById("sendloader").style.display = "none";
                    $("#sendloader").css("display","none")
                    $( "#dialog-sendrequest" ).dialog('close');
                },
                //* 
                buttons: [
                    {
                        text: "save",
                        click: () => {
                            let d = new Date()
                            let dd = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate()
                            let data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(results,null,3));
                            $(`<a id="hrefurl" href="data:${data}" download="data_${dd}.json">download JSON</a>`).appendTo('#containerurl')
                            $('#hrefurl').get(0).click()
                        }
                    },
                    {
                        text: "close",
                        click: () => {
                            $(this).dialog('close');
                        }
                    }
                ]
                    //*/
            }).dialogExtend({
                "closable" : true,
                "maximizable" : true,
                "minimizable" : false,
                "collapsable" : true,
                "dblclick" : "collapse",
                //"titlebar" : "none",
                "minimizeLocation" : "left",
                "icons" : {
                    "close" : "ui-icon-circle-close",
                    "maximize" : "ui-icon-circle-plus",
                    "minimize" : "ui-icon-circle-minus",
                    "collapse" : "ui-icon-triangle-1-s",
                    "restore" : "ui-icon-bullet"
                },
                "load" : (evt, dlg) =>{ },
                "beforeCollapse" : (evt, dlg)=>{},
                "beforeMaximize" : (evt, dlg)=>{  document.getElementById("sendloader").style.display = "none";  },
                "beforeMinimize" : (evt, dlg)=>{  document.getElementById("sendloader").style.display = "none";  },
                "beforeRestore" : (evt, dlg)=>{},
                "collapse" : (evt, dlg)=>{  document.getElementById("sendloader").style.display = "none"; },
                "maximize" : (evt, dlg)=>{  },
                "minimize" : (evt, dlg)=>{  },
                "restore" : (evt, dlg)=>{ }
            });   
            //------------------------------------------------------------
            let HBMcols = { 
                "url":"/urlhistory", 
                //"editurl": '/urlhistory/edit',         
                "datatype":"json",
                "altRows": false, 
                "deepempty": true,
                "autowidth": true,
                "ignoreCase": true,
                "multiselect":true,
                "multiboxonly":true,
                "height":"300px",
                "width":"400px",
                "scrollOffset":0,
                "colModel":[
                    {"label":"type","name":"type", "editable":true ,"width":30 },
                    {"label":"url","name":"url", "editable":true ,editoptions: {size:200, maxlength: 255},"width":150 },
                    {"label":"timestamp","name":"timestamp", "editable":true ,"width":75,hidden: true
                      , editrules: { edithidden: false } 
                       ,formatoptions: { srcformat: "ISO8601Long", newformat: 'Y/m/d H:i:s:ud'} 
                    } 
                ],
                "ondblClickRow": (rowid, iRow,iCol) => {		 
                    let url = grid.jqGrid ('getCell', rowid, 'url')                    
                    let type = grid.jqGrid ('getCell', rowid, 'type')
                    openWindow(url,url); // will close on logout  
                },
                "onclickSubmit": (response, postdata) => {
                    alert(postdata)
                   // AddPost(postdata);
                },
                "loadonce":true,
                "toppager":true,
                //"pager":'#'+PPpager,
                //"rowTotal": 5000,
                "rowList": [],        // disable page size dropdown leave empty array
                "pgbuttons": true,     // disable page control like next, back button
                "pgtext": null,         // disable pager text like 'Page 0 of 10'
                "viewrecords": true ,   // disable current view record text like 'View 1-10 of 100' 
                "gridview": true,
                "autoencode": true,           
                "caption": "FHIR Tester" ,   
                "onCellSelect": (rowid, index, contents, event) => {    
                    let url = grid.jqGrid ('getCell', rowid, 'url')               
                    let type = grid.jqGrid ('getCell', rowid, 'type')      
                },
                "loadError": (a, c, d) => {
                        grid.jqGrid("displayErrorMessage","There is a problem retrieving data from the server, it could be down, please contact your system administrator.")
                },
            };
            grid.jqGrid(HBMcols);   
            grid.jqGrid('gridResize',{minWidth:450,maxWidth:1400,minHeight:180, maxHeight:650});
            grid.jqGrid('navGrid', '#'+PPpager,{
                    cloneToTop:true,
                    edit:true,
                    add:false,
                    del:true,
                    search:false,
                    refresh:true,
                    position: "left", 
                    reloadGridOptions: { fromServer: true },             
                    beforeRefresh: ()=> {
                        grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    }                       
                },
                  // options for the Edit Dialog
                  {
                    editCaption: "Edit url",
                    recreateForm: true,
                   // height:250,
                    width:600,
                    reloadAfterSubmit:true,
                    closeAfterEdit: true,
					//checkOnUpdate : true,
                    //checkOnSubmit : true,
                    onclickSubmit: (params) => {
                        let row = grid.getGridParam('selrow');
                        let sdata = grid.getRowData(row);
                        return sdata; 
                    },
					beforeSubmit : ( postdata, form , oper) =>{
                        //alert(JSON.stringify(postdata,null,3))
						if( confirm('Are you sure you want to update this row?') ) {
                            $.ajax({
    	                        type: 'POST',
                                url: "/urlhistory/edit?data=56",
                                async: false,
                                data:postdata,
                                success: function(data, textStatus, xhr) {
                                   
                                },
                                error: function(data, textStatus, xhr) {
                                    alert(data.responseText);
                                },
                                dataType: 'json'
                            });		
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
							return [false,''];
						} else {
							return [false, 'You can not submit!'];
						}
					},
                    errorTextFormat:  (data) =>{
                        return 'Error: ' + data.responseText
                    }
                },
                // options for the Add Dialog
                {
                    closeAfterAdd: true,
                    recreateForm: true,
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    }
                },
                {
                    reloadAfterSubmit:true,
                    width:400,
                    beforeSubmit : ( postdata) =>{
                        let selRowIds = grid.jqGrid ('getGridParam', 'selarrrow');
                        //let row = grid.getGridParam('selrow');
                        //let sdata = grid.getRowData(row);
                        let rows = []
                        selRowIds.forEach((elem)=>{
                            rows.push(grid.getRowData(elem))
                        })
						if( confirm('Are you sure you want to Delete record/s?\n\n'+JSON.stringify(rows,null,3)) ) {
                            $.ajax({
    	                        type: 'POST',
                                url: "/urlhistory/delete",
                                async: false,
                                data:{rows},
                                error: function(data, textStatus, xhr) {
                                    alert(data.responseText);
                                },
                                dataType: 'json'
                            });		
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid'); 
                            $(".ui-icon-closethick").trigger('click');
							return [false,''];
						} else {
                            $(".ui-icon-closethick").trigger('click');
							return [false, ''];
                        }
					},
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText  
                    }
                }
            );
            gridAddButton(grid,{
                caption: `New FHIR`,
                buttonicon:"none",
                id:"showresult",
                onClickButton:  () =>{                
                    testFHIRREST()         

                }    
            });              
          /*
            gridAddButton(grid,{
                caption: "Send Request ",
                title: "Send Request",
                buttonicon:"none",
                id:"SendRequest",
                onClickButton:  () =>{      
                    SendRequest()
                }    
            });
            */            
            gridAddButton(grid,{
                caption: "Send Selected ",
                title: "Send selected",
                buttonicon:"none",
                id:"SendRequests",
                onClickButton:  ()=>{      
                    let list = getSelected()  
                    if(! isEmpty(list)) {      
                        sendSelected(list,(res)=>{
                            $( "#dialog-showresult" ).dialog( "open" ); 
                        })
                    }
                }    
            });      
            
          
           // setTheme('ui-lightness')
        });                
     
    </script>
 
    <table id="urllist"></table> 
    <div id="urlpager"></div>                        
 
    <div id="dialog-sendrequest" title='Send Request' class="ui-layout-center ui-widget" style="display:none">
        <span >
            <select class ="selectlabel" id="sendtype" style="width: 64px" >
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
            </select>
        </span>
        <span>
            <input type="text"  id="sendfhirurl" style="width: 500px " >
            <button class="ui-button ui-widget ui-corner-all" id="showlog" onclick="showlog(this)">
                add showlog
                </button>
        </span>
    </div>

    <div id="dialog-showresult" title='Show Request Result' class="ui-layout-center ui-widget" style="display:none">
        <div  style="width:99%;height:99%;" id="jsoneditor" ></div>
        <div  style="width:99%;height:99%;" id="json-renderer" ></div>
   </div>   
   <div id="containerurl" style="display:none"></div></div>
  <div id="sendloader" style="display:none"></div>

    