<%- include header1.ejs %>

	<div>
		<table id="dicedixmltRefreshlist"></table> 
		<div id="dicedtxmlRefreshpager"></div>   			
   	</div>
	<script>
 		let baseUrl = document.location.origin;
        let grid;
		let id,type,parent,ext,cargo;
		let dirty = false;
		let prevcell = {};
		$( function() {		
 			var cols = { 
                url:'/dict/get/lang', 
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:true,
                datatype: "json",
                mtype: "GET",       
                height:'auto',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'Type',name:'type', editable:false,hidden:false ,width:58 },
                    {label:'ID',name:'id', key:true,editable:false ,hidden:false,width:135 },
                    {label:'parent',name:'parent', editable:false,hidden:false ,width:135 },                    
                    {label:'ext',name:'ext', editable:false ,hidden:false,width:35   },
                    {label:'cargo',name:'cargo', editable:true,hidden:true ,width:150,height:25 },
                    {label:'notes',name:'notes', editable:true,hidden:false ,width:150 }
                ],
				ondblClickRow: function (rowid, iRow,iCol) {
					if (dirty) {
					 	if ( confirm("Changes have been made ? save changes" ) ) {
						 	ocargo =  editor.getSession().getValue();
							dirty = false;
							prevcell.cargo = ocargo ;
							// save to dict
							let url = baseUrl+"/dicedit/post";
							log("prevcell="+prevcell);
							log(url);
  							$.ajax({
								type: "POST",
								url: url,
								data:prevcell,
								success: function( returnedData ) {
									//refreshgrid
									 grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
									//alert(returnedData);                                                                              
								}
                            });
						}
					}					
					let cargo = $(this).jqGrid ('getCell', rowid, 'cargo');
					let type = $(this).jqGrid ('getCell', rowid, 'type');						
					let id = $(this).jqGrid ('getCell', rowid, 'dicid');
					let ext = $(this).jqGrid ('getCell', rowid, 'ext');
					let parent = $(this).jqGrid ('getCell', rowid, 'parent');
					prevcell = {rowid:rowid,type:type,id:id,parent:parent,ext:ext,cargo:cargo};
					dirty = false;
                },
                loadonce:true,
                toppager:true,
                rowList: [],        // disable page size dropdown
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                gridview: true,
                autoencode: true,           
                caption: "Message Editor"     // disable caption with ''     
            };
			///===================================================
			var PPpager = ("diceditxmlRefreshpager");
			var grid = $("#diceditxmlRefreshlist");                                
			//======================================================
			grid.jqGrid(cols);   
			grid.jqGrid('navGrid', '#'+PPpager,{
					cloneToTop:true,
					edit:true,
					add:false,
					del:false,
					search:false,
					refresh:true,
					reloadGridOptions: { fromServer: true },             					                     
				}
			);
		  	//grid.hideCol('id')
            grid.hideCol('type')
            //grid.hideCol('parent')
            //grid.hideCol('date')
		});		
	</script>   
<%- include footer.ejs %>