
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-dialog.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="/css/style.min.css" rel="stylesheet">    
    <input id='logincount' name="logincount"  value="0"  type="hidden" >
    <input id='token_id'  value="GUEST" type="hidden" >
    <style>
        #user-img{
            margin-top:-50px;
            margin-left:-20px;
            height: 130px;
            width: 120px;
        }
    </style>
    <div class="modal fade" id="loginDialog" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <input  type="text"  id="_passcode" style="display:none;" ></input>
                    <input  type="text"  id="_captcha" style="display:none;" ></input>
                    <div class="col-lg-12 col-sm-12 col-12" >
                        <img  id="user-img"  src="/images/Login Manager.png" onclick="BootstrapDialog.alert('Enter userid and password')">
                        
                        <!--
                        <img  src="/images/login-button.png" onclick="BootstrapDialog.alert('Enter userid and password')">
                        <div id="login-msg"><h5>Sign in to start your session</h5></div>                                    
                        -->
                        
                        <div id="signinform" class="body">
                            <form id="sign_in" method="POST"  >
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user prefix grey-text"></i>
                                    </span>
                                    <div class="form-line">
                                        <input autocomplete="off" type="text" value="" class="form-control" id='username' minlength=2 name="username" placeholder="Username" required autofocus>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock prefix grey-text"></i>
                                    </span>
                                    <div class="form-line">
                                        <input autocomplete="off" type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                    </div>
                                </div>
                                <div id='captcha-img' class="input-group" style="display:none;">
                                    <div id="captchaimg" class="input-group"></div>
                                    <span class="form-line">
                                        <input  type="text"  id="captcha" name="captcha" placeholder="Captcha"></input>
                                    </span>
                                </div>
                                <div id="passcodeentry" class="input-group"  style="display:none;">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock</i>
                                    </span>
                                    <div class="form-line">
                                        <input  type="text" autocomplete="off" class="form-control" id="passcode" name="passcode" placeholder="Passcode" ></input>
                                    </div>
                                </div>
                                
                                <div class="row">                        
                                    <div class="col-xs-4">                        
                                        <!--
                                            <img  id="submitsignin"  src="/images/login-button2.png" >
                                            -->
                                            <a href="#" id="submitsignin" class="btn btn-block bg-green waves-effect">Submit</a>                            
                                    </div>
                                    <div class="col-xs-4">
                                            <button type="button" class="btn btn-block bg-pink waves-effect" data-dismiss="modal">Cancel</button>
                                        <!--
                                            <img  id="submitsignin"  src="/images/cancel-50.png" data-dismiss="modal" >
                                        -->
                                    </div>
                                </div>    
                                <br>                                
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>             
    <!-- Bootstrap Core Js -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap-dialog.min.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="/node-waves/waves.js"></script>
    <!-- Validation Plugin Js -->
    <script src="/js/jquery.validate.js"></script>
    <script>
        // var dialoglogin = $( "#dialog-login" )
        var roles = ""
        var passcodetry = 0;
        console.log("tokenid=",tokenid,"roles=",roles) // global from main_pm
        var isRole = function(role,callback ) {
           if (role=='PM_ALL') {
                return true;
           } else {
               if (isEmpty(roles)){
                    console.log("EMPTY ROLES")
                    $.ajax({
                        async:false,
                        url:'/userroles?tokenid='+tokenid,
                        success: function( returnedData ) {
                            //console.log("userroles",returnedData)
                            roles= returnedData;
                            isRole(role,function(result) {
                                console.log("NEW roles= ",roles," role=",role," result = ",result)     
                                if(callback) {
                                    callback(result) 
                                } else{
                                    return result
                                }
                            });
                        }
                    });            
                } else {
                    var result = false;
                    // go trough user roles
                    if (typeof roles == 'string') {
                        alist = roles.split(',');
                    } else {
                        alist = roles;
                    }
                    alist.forEach(function(part) {
                        if( part == 'PM_ALL' ) {
                            result = true 
                        } else {
                            if(  part == role ) {
                                result = true;
                            }
                        }    
                    })
                    //console.log("roles= ",roles," role=",role," result = ",result)     
                    if(callback) {
                        callback(result) 
                    } else {
                        return result
                    }
                }
           }      
        };        
        var userprofile = function(){
            var url = base_Url+"/login/user/profile?tokenid="+tokenid;           
            $.ajax({
                url:url , 
                type: "GET",
                success: function( returnedData ) {
                    //alert(returnedData)
                    // fill in some data
                    $('#user-userid').val(returnedData.userid);     
                    $('#user-lname').val(returnedData.lname);     
                    $('#user-fname').val(returnedData.fname);     
                    $('#user-email').val(returnedData.email);     
                    $('#user-phone').val(returnedData.phone);     
                    $('#user-avatar').val(returnedData.avatar);     
                    $('#user-Profile').modal({
                        show:true,
                        focus:true,
                        keyboard:true
                    })       
                },
                error: function(jqXHR, textStatus, err){
                    BootstrapDialog.alert('text status '+textStatus+', err '+err);
                }
            });
        }
        var logoutuser = function() {
            var url = base_Url+"/login/logout/?tokenid="+tokenid;
            var data = {tokenid:tokenid} ;
            $.ajax({
                url:url , 
                type: "POST",
                data:data,
                contenType:"application/json",
                success: function( returnedData ) {
                    var url = base_Url+"/";
                    window.location.replace(url);                        
                },
                error: function(jqXHR, textStatus, err){
                    BootstrapDialog.alert('text status '+textStatus+', err '+err);
                }
            });
        };
        var getmessages = function(data) {
            if(isEmpty(data)) {
                $.ajax({
                    url:'/adminusers/getmessage?parent=PM_MESSAGE&tokenid='+tokenid, // for user
                    success: function( _data ) {
                        process_msg(_data)
                    }             
                });             
                $.ajax({
                    url: '/adminusers/getmessage?parent=PM_NOTE', // no token =all 
                    success: function( _data ) {
                        process_note(_data)
                    }             
                });                             
            }else{
                process_msg(data)                
            }                   
        }               
        var process_msg = function (data){
            if(data.length == 0){
                $("#navmessaging").hide();
            } else {
                var html = `
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="message"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti-email"></i>
                        <span class="count bg-primary">${data.length}</span>
                    </button>
                    <div id="message-list" class="dropdown-menu" aria-labelledby="message">
                    <p class="red">You have ${data.length} ${data.length > 1 ? "Messages" :"Message"}</p>
                    `
                data.forEach(function(obj) {
                    html = html + `
                    <div id="messageclick" onclick="xBootstrapDialog.alert('${obj.msg}')">
                    ${obj.date}
                    <a class="dropdown-item media bg-flat-color-3">
                            <textarea class="bg-flat-color-3" cols="80" style="min-width:100%">${obj.msg}</textarea>
                    </a>
                    </div>
                    `
                } )
                html = html + `</div>`                            
                $("#navmessaging").show();
                $( "#navmessaging" ).html(html);      
            }
        }       
        var process_note = function (data){
            if(data.length == 0){
                $("#navnotifications").hide();
            } else {
                var html = `<button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell"></i>
                    <span class="count bg-danger">${data.length}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="notification">
                    <p class="red">You have ${data.length} ${data.length > 1 ? "Notifications" :"Notification"}</p>                
                `              
                data.forEach(function(obj) {
                    html = html + `
                    <div id="notesclick" onclick="xBootstrapDialog.alert('${obj.msg}')">
                    ${obj.date}
                    <a class="dropdown-item media bg-flat-color-1" href="#">
                        <i class="fa fa-warning"></i>
                        <p>${obj.msg}</p>
                    </a>
                    </div>                   
                    `
                } )
                html = html + `</div>`                            
                $("#navnotifications").show();
                $( "#navnotifications" ).html(html);      
            }
        }               
        var loginuser = function() {
            var url = base_Url+"/";
            window.location.replace(url);
        };        
        var loginsetupuser = function(_userid) {
            userid = _userid;
            $("#navnotifications").show();
            $("#navmessaging").show();


            $("#usermenupart1").show();
            $('#useravatar').attr('alt',userid);
            //alert(roles)
            isRole("PM_ADMIN",function(result){
                if(result) {
                    $("#navnotes").show();
                }
            })
            if(isEmpty(userid)) {
                $('#useravatar').attr('src',"/images/Bullet_list_menu.png");
            } else{
                $('#useravatar').attr('src',`/images/avatar/${userid}.jpg`);
            }
            getmessages()
        };        
        var resetPwd = function(){            
            //console.log("Reset Password called tokenid=",tokenid)
            resetpasswordForm()
            return false;
        }
        var showPM = function() {
            $.ajax({
                type: "GET",
                url: "\pmdashboard?tokenid="+tokenid+"&roles="+roles,
                success: function( returnedData ) {
                    isRole("PM_ADMIN",function(result){
                        if(result) {
                           $("#admin-menu").show();
                        } else {
                            $("#admin-menu").hide();                            
                        }
                    })
                    $('#loginDialog').modal('hide');
                    $( "#mainprog" ).html( returnedData );      
                },
                error: function(jqXHR, textStatus, err){
                    BootstrapDialog.alert('text status '+textStatus+', err '+err);
                }
            });                                                            
        }
        var errorPage = function(type){
            $.ajax({
                type: "GET",
                url: '\\',
                success: function( returnedData ) {
                    $('#loginDialog').modal('hide');
                },
                error: function(jqXHR, textStatus, err){
                    BootstrapDialog.alert('text status '+textStatus+', err '+err);
                }
            });                                                            
        }        
        var setCaptcha = function() {
            var url = "/captcha" ;
            $.ajax({ url: url, type: "GET", async:false , complete: function(result,status){
                    o = JSON.parse(result.responseText)
                    $("#_captcha").val(o.num) ;
                    $( '#captchaimg' ).html( '<img src="data:image/png;base64,'+o.image+'" />' );  
                    $('#captcha-img').show()                             
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error(textStatus);
                }
            });            
        }           
        var checkCaptcha = function( n1 ) {                     
            if ( $('#captcha-img').is(':visible') ){               
                var v1 =  $("#_captcha").val() ;      
                if ( v1 == $("#captcha").val() ) {
                    return true;
                } else {
                    setCaptcha();
                    return false;
                }
            } else {
                return true;
            }
        }   
        $('#submitsignin').click(function(event){
            event.preventDefault();   
            var data = `{ userid:'${ $('userid').val()  }',password:'${ $('password').val() }' }` ;
            var password= $("#password").val()
            var passcode= $("#passcode").val() // user input
            var userid = $("#username").val()
            var logincount= parseInt( $("#logincount").val() )
            var _passcode = $('#_passcode').val() ;
            var logindata = {userid,password,passcode,logincount,tokenid}
            if ( $('#sign_in').valid() ){  
                if (! checkCaptcha()){
                    BootstrapDialog.alert('Code does not match please re-enter')
                    return false;
                }          
                //console.log(logindata)    
                $.ajax({ 
                    url: `/login/verifyuser?tokenid=${tokenid} `,
                    type: 'POST',
                    cache: false, 
                    data: logindata, 
                    success: function(data){
                        //console.log("data=",data)
                        $("#logincount").val(data.logincount)
                        var msg = data.msg ;                                                                      
                        tokenid = data.tokenid;
                        //console.log("login tokenid=",tokenid)
                        loginsetupuser(userid)
                        if( msg == 'EXPIRED PASSWORD') {
                            //alert(msg)
                            resetPwd()
                            //errorPage()
                        } else if( msg == 'INVALID TOKEN') {

                        } else if( msg == 'EXPIRED TOKEN') {
                            //resetPwd()
                            showPM()
                        } else if( msg == 'USER ENABLED') {
                            showPM()
                        } else if( msg == 'USER DISABLED') {
                            BootstrapDialog.alert(data.msgDetail )
                            errorPage()
                        } else if( msg == 'RESET PASSWORD') {
                            resetPwd()
                        } else if( msg == 'ACCOUNT INVALID') {
                            BootstrapDialog.alert(data.msgDetail)
                            errorPage()
                        } else if( msg == 'INACTIVE') {
                            BootstrapDialog.alert(msg)
                            errorPage()
                        } else if( msg == 'USER OK') {
                            showPM()
                        } else if( msg == 'USER LOCKED OUT') {
                            BootstrapDialog.alert('Locked Out \nPlease retry after 10 minutes or contact your system Administrator')
                            errorPage()                            
                        } else if( msg == 'Not Verified') {
                            BootstrapDialog.alert('Please re-enter username or password')
                        } else if( msg == 'Passcode Sent') {
                            passcodetry = 0;
                            //if( isEmpty( captcha)) {
                            if( isEmpty( _passcode)) {
                                //$("#captcha").val(data.passcode)
                                $("#_passcode").val(data.passcode)
                            }
                            if ( $('#passcodeentry').is(':visible') ){      
                                if( passcode == $('#_passcode').val() ) {
                                    showPM()
                                } else {
                                    BootstrapDialog.alert('passcode error')
                                }      
                            } else {
                                $('#captcha-img').hide()                             
                                $('#passcodeentry').show()                             
                            } 
                        } else {
                            if (logincount > 5 ){
                                BootstrapDialog.alert('Please retry after 10 minutes or contact your system Administrator')
                                errorPage()
                            } else {
                                BootstrapDialog.alert('Incorrect username or password')
                            }
                        }
                    },
                    error: function(jqXHR, textStatus, err){
                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                    }
                });
            }            
        });
        var submitresetpwd = function(event){
            var oldpassword= $("#oldpassword").val()
            var newpassword= $("#newpassword").val()
            var verifypassword= $("#verifypassword").val()
            var userid = $("#username").val()
            var sdata = { newpassword:`${ newpassword }`,tokenid:`${tokenid}` } ;
            if ( $('#reset_pwd').valid() ){
                console.log("calling resetpassword validate ",sdata)                
                $.ajax({ 
                    url: `/login/resetpassword?tokenid=${tokenid} `,
                    type: 'POST',
                    cache: false, 
                    data: sdata, 
                    success: function(data){
                        //console.log('submit returned Data:',data)
                        //alert(data)
                        //showPM()
                        $('#resetpasswordform').modal('hide');
                        loginuser();
                    },
                    error: function(jqXHR, textStatus, err){
                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                    }
                });
                
            }            
        };
        var forgotpassword = function(){
            $('#signinform').hide();
            $('#changepasswordform').hide();            
            $('#forgotpasswordform').show();
        }        
        var resetpasswordForm = function(){
            $('#reset_pwd').validate({
                messages:{
                    oldpassword:"Please enter the current password",
                    newpassword:"Please enter a valid password",
                    verifypassword:"Please re-enter the new-password"
                },
                rules: {
                    'oldpassword': {
                        required:true
                    },
                    'verifypassword': {
                        required:true,
                        equalTo: '#newpassword'
                    }
                },
                highlight: function (input) {
                    //console.log(input);
                    $(input).parents('.form-line1').addClass('error');
                },
                unhighlight: function (input) {
                    $(input).parents('.form-line1').removeClass('error');
                },
                errorPlacement: function (error, element) {
                    $(element).parents('.input-group1').append(error);
                }
            });                         
            $('#resetpasswordform').modal({
                show:true,
                focus:true,
                keyboard:true
            })       
        }        
        //----------------------------------------------------------------
        $(function () {
            $(".custom-close").on('click', function() {
                $('#loginDialog').modal('hide');
            });        
            setCaptcha()            
            $('#loginDialog').modal({
                show:true,
                focus:true,
                keyboard:true
            })            
            var disableAccount = function(){            
             //   console.log("Disable account called tokenid=",tokenid)
                $.ajax({ 
                    url: `/login/disableuser `,
                    type: 'POST',
                    cache: false, 
                    data: {tokenid:tokenid}, 
                    success: function(data){
                       // console.log('returned Data',data)
                    },
                    error: function(jqXHR, textStatus, err){
                        BootstrapDialog.alert('text status '+textStatus+', err '+err);
                    }
                });
            }            
            $('#sign_in').validate({
                messages:{
                    passcode:"Please enter the passcode sent via email",
                    password:"Please enter a valid password"
                },
                rules: {
                    'passcode': {
                        required:true,
                        equalTo: '#_passcode'
                    }
                },
                highlight: function (input) {
                  //  console.log(passcodetry,input);
                    passcodetry++ ;
                    if( passcodetry > 5) {                            
                        disableAccount();
                        BootstrapDialog.alert('Account Disabled \nPlease call help desk')
                        $('#loginDialog').modal('hide');                                                        
                    }
                    $(input).parents('.form-line').addClass('error');
                },
                unhighlight: function (input) {
                    $(input).parents('.form-line').removeClass('error');
                },
                errorPlacement: function (error, element) {
                    $(element).parents('.input-group').append(error);
                }
            });               
            var timer = setTimeout("$('#loginDialog').modal('hide')",1000*60);
            $("#usermenupart1").hide();
            $("#admin-menu").hide();         
        });            
    </script>        
    <div class="modal" id="resetpasswordform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body mx-3">
                    <div id="resetpwdformform" class="body">
                        <form id="reset_pwd" method="POST"  >
                            <div class="input-group1">
                                <div class="msg">
                                        Enter your current password
                                </div>
                                <div class="form-line1">
                                    <input autocomplete="off" type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Curent Password" required>
                                </div>
                            </div>
                            <div class="input-group1">
                                <div class="msg">
                                        Enter your new password - cannot resuse previous password
                                </div>
                                <div class="form-line1">
                                    <input autocomplete="off" type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New Password" required>
                                </div>
                            </div>
                            <div class="input-group1">
                                <div class="msg">
                                        Verify new password
                                </div>
                                <div class="form-line1">
                                    <input autocomplete="off" type="password" class="form-control" id="verifypassword" name="verifypassword" placeholder="Verify new Password" required>
                                </div>
                            </div>
                            <div class="row">                        
                                <div class="col-xs-4">                        
                                    <a href="#" onclick="submitresetpwd()" class="btn btn-block bg-green waves-effect">Reset Password</a>                            
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-block bg-pink waves-effect" data-dismiss="modal">Cancel</button>
                                </div>  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="user-Profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body mx-3">
                        <div id="userprofileform" class="body">
                            <form id="user_profile" method="POST"  >
                                <div class="input-group3">
                                    <div class="msg">
                                        <i class="fa fa-user bigicon prefix grey-text"></i>
                                        userid
                                    </div>
                                    <div class="form-line3">
                                        <input type="text" id="user-userid" class="form-control validate">
                                    </div>
                                </div>
                                <div class="input-group3">
                                    <div class="msg">
                                            <i class="fa fa-user bigicon prefix grey-text"></i>
                                            first name
                                    </div>
                                    <div class="form-line3">
                                            <input type="text" id="user-fname" class="form-control validate">                                           
                                    </div>
                                </div>
                                <div class="input-group3">
                                    <div class="msg">
                                        <i class="fa fa-user bigicon prefix grey-text"></i>
                                        last name
                                    </div>
                                    <div class="form-line3">
                                            <input type="text" id="user-lname" class="form-control validate">                                            
                                    </div>
                                </div>
                                <div class="input-group3">
                                    <div class="msg">
                                        <i class="fa fa-envelope-o bigicon prefix grey-text"></i>
                                        email
                                    </div>
                                    <div class="form-line3">
                                        <input id="user-email" name="user-email" type="text" placeholder="Email Address" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group3">
                                    <div class="msg">
                                        <i class="fa fa-phone-square bigicon"></i>
                                        phone
                                    </div>
                                    <div class="form-line3">
                                        <input id="user-phone" name="user-phone" type="text" placeholder="Mobile Phone" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group3">
                                        <div class="msg">
                                            <i class="fa fa-pencil prefix grey-text"></i>
                                            avatar
                                        </div>
                                        <div class="form-line3">
                                            <input type="textarea" id="user-avatar" class="form-control validate">
                                        </div>
                                </div>
                                <div class="row">                        
                                    <div class="col-xs-4">                        
                                        <a href="#" onclick="submituserprofile()" class="btn btn-block bg-green waves-effect">Save Changes</a>                            
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="button" class="btn btn-block bg-pink waves-effect" data-dismiss="modal">Exit</button>
                                    </div>  
                                </div>                                    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    

