<%- include header.1.ejs %>

  
  
    <style style="text/css">
        .ui-jqgrid .ui-jqgrid-sdiv{overflow:visible; }
        .ui-jqgrid .ui-jqgrid-hdiv{overflow:visible ;}
		.ui-jqgrid .ui-jqgrid-view {
			z-index: auto;
		}
		.ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-pg-table {
			font-size: 13px;
		}
		.ui-jqgrid .ui-jqgrid-title {
			float: left;
			margin: 8px;
		}
		.ui-jqgrid .ui-jqgrid-title-rtl {
			float: right;
			margin: 8px;
		}
		.ui-jqgrid-view>.ui-jqgrid-titlebar {
			height: 40px;
			line-height: 24px;
			color: #FFF;
			background: #307ECC;
			padding: 0;
			font-size: 15px;
		}
		.ui-jqgrid tr.jqgrow.ui-row-rtl td:last-child {
			border-right: none;
			border-left: 1px solid #E1E1E1;
		}
		.ui-jqgrid .ui-jqgrid-hdiv {
			background-color: #EFF3F8;
			border: 1px solid #D3D3D3;
			border-width: 1px 0 0 1px;
			line-height: 15px;
			font-weight: 700;
			color: #777;
			text-shadow: none;
		}
		.ui-jqgrid .ui-jqgrid-htable thead {
			background-color: #EFF3F8;
		}
		.ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
			height: 45px!important;
		}
		.ui-jqgrid .ui-jqgrid-htable th div {
			padding-top: 12px;
			padding-bottom: 12px;
			overflow: visible;
		}
		.ui-jqgrid-hdiv .ui-jqgrid-htable {
			border-top: 1px solid #E1E1E1;
		}
		.ui-jqgrid-titlebar {
			position: relative;
			top: 1px;
			z-index: 1;
		}
		.ui-jqgrid tr.jqgrow, .ui-jqgrid tr.ui-row-ltr, .ui-jqgrid tr.ui-row-rtl {
			border: none;
					height:auto;
					overflow:hidden;
					padding-right:4px;
					padding-top:2px;
					position:relative;
					vertical-align:text-top;
					white-space:normal !important;
		}
		.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td {
			border-bottom: 1px solid #E1E1E1;
			padding: 6px 4px;
			border-color: #E1E1E1 !important;
					white-space: normal !important;
					height:auto;
					vertical-align:text-top; 
					padding-top:2px;
		}
		.ui-jqgrid tr.ui-state-highlight.ui-row-ltr td {
			border-right-color: #C7D3A9;
		}
		.ui-jqgrid tr.ui-state-highlight.ui-row-rtl td {
			border-left-color: #C7D3A9;
		}
		.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary {
			background-image: none;
			background-color: #F9F9F9;
			opacity: 1;
		}
		.ui-jqgrid-btable .ui-widget-content.ui-state-hover {
			background-image: none;
			background-color: #EFF4F7;
			opacity: 1;
		}
		.ui-jqgrid-btable .ui-widget-content.ui-state-highlight {
			background-color: #E4EFC9;
		}
		.ui-jqgrid .ui-jqgrid-pager {
			line-height: 15px;
			height: 55px;
			padding-top: 10px!important;
			padding-bottom: 10px!important;
			background-color: #EFF3F8!important;
			border-bottom: 1px solid #E1E1E1!important;
			border-top: 1px solid #E1E1E1!important;
		}
		.ui-jqgrid .ui-pg-input {
			font-size: inherit;
			width: 24px;
			height: 20px;
			line-height: 16px;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			text-align: center;
			padding-top: 1px;
			padding-bottom: 1px;
		}
		.ui-jqgrid .ui-pg-selbox {
			display: block;
			height: 24px;
			width: 60px;
			margin: 0;
			padding: 1px;
			line-height: normal;
		}
		.ui-jqgrid .ui-pager-control {
			height: 50px;
			position: relative;
			padding-left: 9px;
			padding-right: 9px;
		}
		.ui-jqgrid .ui-jqgrid-toppager {
			height: auto!important;
			background-color: #EFF3F8;
			border-bottom: 1px solid #E1E1E1!important;
		}
		.ui-pg-table .navtable .ui-corner-all {
			border-radius: 0;
		}
		.ui-jqgrid .ui-pg-button .ui-separator {
			margin-left: 4px;
			margin-right: 4px;
			border-color: #C9D4DB;
		}
		.ui-jqgrid .ui-jqgrid-btable {
			border-left: 1px solid #E1E1E1;
		}
		.ui-jqgrid .ui-jqgrid-bdiv {
			border-top: 1px solid #E1E1E1;
			overflow-x: hidden;
		}
		.ui-jqgrid .loading {
			position: absolute;
			top: 45%;
			left: 45%;
			width: auto;
			height: auto;
			z-index: 111;
			padding: 6px;
			margin: 5px;
			text-align: center;
			font-weight: 700;
			font-size: 12px;
			background-color: #FFF;
			border: 2px solid #8EB8D1;
			color: #E2B018;
		}
		 
		.ui-jqgrid .ui-jqgrid-labels {
			border-bottom: none;
			background: repeat-x #F2F2F2;
			background-image: -webkit-linear-gradient(top, #F8F8F8 0, #ECECEC 100%);
			background-image: -o-linear-gradient(top, #F8F8F8 0, #ECECEC 100%);
			background-image: linear-gradient(to bottom, #F8F8F8 0, #ECECEC 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',  endColorstr='#ffececec',  GradientType=0);
			padding: 0!important;
			border-left: 1px solid #E1E1E1!important;
		}
		.ui-jqgrid .ui-jqgrid-labels th {
			border-right: 1px solid #E1E1E1!important;
			text-align: left!important;
		}
		.ui-jqgrid-labels th[id*="_cb"]:first-child>div {
			padding-top: 0;
			text-align: center!important;
		}
		.ui-jqgrid-sortable {
			padding-left: 4px;
			font-size: 13px;
			color: #777;
			font-weight: 700;
		}
		.ui-jqgrid-sortable:hover {
			color: #547EA8;
		}
		th[aria-selected=true] {
			background-image: -webkit-linear-gradient(top, #EFF3F8 0, #E3E7ED 100%);
			background-image: -o-linear-gradient(top, #EFF3F8 0, #E3E7ED 100%);
			background-image: linear-gradient(to bottom, #EFF3F8 0, #E3E7ED 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8',  endColorstr='#ffe3e7ed',  GradientType=0);
		}
		th[aria-selected=true] .ui-jqgrid-sortable {
			color: #307ECC;
		}
		.ui-jqgrid .ui-icon {
			text-indent: 0;
			color: #307ECC;
			float: none;
			right: 2px;
		}
		.rtl .ui-jqgrid .ui-icon {
			right: auto;
			left: 2px;
		}
		.ui-jqgrid .ui-icon.ui-state-disabled {
			color: #BBB;
		}
		.ui-jqgrid .ui-icon.ui-state-disabled:hover {
			padding: 0;
		}
		.ui-grid-ico-sort:before {
			display: inline;
			font-size: 12px;
		}
		.ui-icon-asc:before {
			content: "\f0d8"}
		.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon {
			display: inline-block;
			padding: 0;
			width: 24px;
			height: 24px;
			line-height: 22px;
			text-align: center;
			position: static;
			float: none;
			margin: 0 2px!important;
			color: grey;
			border: 1px solid #CCC;
			background-color: #FFF;
			border-radius: 100%}
		.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:hover {
			color: #699AB5;
			border-color: #699AB5;
		}
		.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:before {
			width: 20px;
			text-align: center;
			display: inline-block;
		}
		.ui-pg-table>tbody>tr>.ui-pg-button.ui-state-disabled .ui-icon {
			color: #B0B0B0;
			background-color: #F7F7F7;
			border-color: #DDD;
			-moz-transform: scale(.9);
			-webkit-transform: scale(.9);
			-o-transform: scale(.9);
			-ms-transform: scale(.9);
			transform: scale(.9);
		}
		.ui-jqgrid-btable input, .ui-jqgrid-btable select, .ui-jqgrid-btable textarea {
			padding: 2px;
			width: auto;
			max-width: 100%;
			margin-bottom: 0;
		}
		.ui-jqgrid-btable select {
			padding: 1px;
			height: 25px;
			line-height: 25px;
		}
		 
		.ui-pg-div .ui-icon {
			display: inline-block;
			width: 18px;
			float: none;
			position: static;
			text-align: center;
			opacity: .85;
			-webkit-transition: all .12s;
			-o-transition: all .12s;
			transition: all .12s;
			margin: 0 1px;
			vertical-align: middle;
			cursor: pointer;
			font-size: 17px;
		}
		.ui-pg-div .ui-icon:hover {
			-moz-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-o-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
			opacity: 1;
			position: static;
			margin: 0 1px;
		}
		.ui-pg-div .ui-icon:before {
			font-family: FontAwesome;
			display: inline;
		}
		 
		 
		.ui-jqgrid .ui-pg-button:hover, .ui-jqgrid .ui-state-disabled:hover {
			padding: 0 1px;
					border-style: none !important;
		}
		.ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover>.ui-pg-div>.ui-icon, .ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover>.ui-separator {
			margin-left: 4px;
			margin-right: 4px;
		}
		@media only screen and (max-width:767px) {
			.ui-jqgrid .ui-jqgrid-pager {
			height: 90px;
		}
		.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control {
			height: 85px;
			padding-top: 10px!important;
		}
		.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td {
			vertical-align: top;
		}
		.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center {
			width: 0!important;
			position: static;
		}
		.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center>.ui-pg-table {
			margin: 36px auto 0;
			position: absolute;
			right: 0;
			left: 0;
			text-align: center;
		}
		.ui-jqgrid .ui-jqgrid-pager .navtable {
			height: auto;
		}
		}.dd
     
    </style>
      
<div id="loginpage"></div>
    <script>
        var baseUrl = document.location.origin;
        var grid = "";
        var screenTimeout = 120000
        var forcescreenTimeout= 30000
        token = {}
        tokenid = getURLParameter("tokenid") 
        if(isEmpty(tokenid)){
                $.ajax({
                    type: "GET",
                    url: `/login/html`,
                    success: function( returnedData ) {
            //            $('#loginpage').html(returnedData)
                            //console.log(returnedData)
                    },
                    error: function(jqXHR, textStatus, err){
                        Alert(err);
                    }
                });    
                $('#MainPage').show()
        } else {
            $('#MainPage').show()
        }
        
        var selectSource = (flag) =>{
            console.log("Source",flag)
            $('input:checkbox[name=asource]').each((i,val)=>{
                val.checked = flag
            }) 
        }     
        var selectRoles = (flag) =>{
            $('input:checkbox[name=roles]').each((i,val)=>{
                val.checked = flag
            }) 
        }         
        //--------------------------------------------------------
        let verifyAccess = (tokenid,role,callback) =>{
            let url = `/access/verify?tokenid=${tokenid}&role=${role} `
            $.ajax({
                type:'GET',     
                url: url,
                success: ( result ) => {
                    callback(result)                
                },
                error: (jqXHR, textStatus, errorThrown) => {
                    callback(false)
                }
            });     
        }
        //-------------------------------------
        let editConfig = () =>{
            let url = $('#url_enter').val()
            if(isEmpty(url)) {
                Alert("Please Enter a Valid URL")
            } else {
                url = `${url}/config/edit`
                openWindow(url)
            }
        }
        //-------------------------------------------
        $( function() {
                var tokenid = 0;
                var form;
                var inc = increment();
                var PPpager = document.getElementById("adminuserspager").id + inc;
                document.getElementById("adminuserspager").id = PPpager;                
                var PPgrid = document.getElementById("adminuserslist").id + inc;
                document.getElementById("adminuserslist").id = PPgrid;
                var lastsel ;               
                var timer = 0;         
                //---------------------------------------
                if (isEmpty(tokenid) ) {
                    tokenid = getURLParameter('tokenid') ;
                }   
                //------------------------------------
                var setConfig = (key,callback)=>{
                    $.ajax({
                        type: "GET",
                        url: `/fhir/config/${key}`,
                        success: function( returnedData ) {
                            if(callback) {
                                callback(returnedData)            
                            }                        
                        },
                        error: function(jqXHR, textStatus, err){
                            Alert(err);
                        }
                    });       
                }
                //---------------------------------------
                let getcheckbox = (type,callback) =>{
                    $.ajax({
                        type: "GET",
                        url: `/config/${type}`,
                        success: function( returnedData ) {
                            if(callback) {
                                callback(returnedData)            
                            }                        
                        },
                        error: function(jqXHR, textStatus, err){
                            Alert('text status '+textStatus+',\n err '+err);
                        }
                    });    
                }
                //------------------------------------------
                $(window).bind("beforeunload", function() { 
                    closeWindows();
                })
                //----------------------------------------------
                function updateUser(callback){
                    let source = []
                    let roles = []
                    let data = {
                        userid: $("#userid").val(),
                        group:$("#groups option:selected").text(),
                        email: $("email").val(),
                        phone: $("#phone").val(),
                        fname: $("#fname").val(),    
                        lname: $("#lname").val(),
                        valid: $("#valid").val(),
                        use2Factor: $("#use2Factor").val(),
                        roles: $("#roles").val(),
                        source: $("#roles").val()
                    } ;
                    $('input:checkbox[name=source]').each((i,val)=>{
                        if(val.checked){
                            source.push(val.value);
                        }
                    })
                    $('input:checkbox[name=roles]').each((i,val)=>{
                        if(val.checked){
                            roles.push(val.value);
                        }
                    })
                  
                    if(isEmpty(roles)) {
                        Alert("At least one role needs to be selected")
                        return
                    }
                    data.source =  source.join(", ")
                    data.roles =  roles.join(", ")
                    console.log(data);
                    callback(data)
                }             
                //-----------------------------------------           
                $( "#dialog-editconfig").dialog({
                    autoOpen: false,
                    //minHeight: 385,
                    width: '450px',
                    //hieght:'500px',
                    modal: true,
                    draggable: true,
                    resizable: true,
                    open: (event,ui) => {
                       // timer = setTimeout("$('#dialog-editconfig').dialog('close')",10000);
                    },
                    close: () =>{
                        //$("#sendloader").css("display","none")
                    },
                    buttons: [
                        {
                            text: "Close",
                            click: () => {
                                $( "#dialog-editconfig" ).dialog('close');
                            }
                        }
                    ]
                }).dialog('widget').find('.ui-dialog-titlebar').hide()        
                //-----------------------------------------           
                $( "#dialog-adminuser").dialog({
                    autoOpen: false,
                    //minHeight: 385,
                    width: '450px',
                    //hieght:'500px',
                    modal: true,
                    draggable: true,
                    resizable: true,
                   
                    open: (event,ui) => {
                       // timer = setTimeout("$('#dialog-adminuser').dialog('close')",10000);
                        let type = $( "#dialog-adminuser").data('type')

                        let selRowId = grid.jqGrid ('getGridParam', 'selrow');
                        let userid = type=='edit' && grid.jqGrid ('getCell', selRowId, 'userid')?grid.jqGrid ('getCell', selRowId, 'userid'):""
                        let lname =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'lname')?grid.jqGrid ('getCell', selRowId, 'lname'):""
                        let fname =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'fname')?grid.jqGrid ('getCell', selRowId, 'fname'):""
                        let active =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'active')?grid.jqGrid ('getCell', selRowId, 'active'):""
                        let pwdReset =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'pwdReset')?grid.jqGrid ('getCell', selRowId, 'pwdReset'):""
                        let pwdExpire =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'pwdExpire')?grid.jqGrid ('getCell', selRowId, 'pwdExpire'):""
                        let use2Factor =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'use2Factor')?grid.jqGrid ('getCell', selRowId, 'use2Factor'):""
                        let email =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'email')? grid.jqGrid ('getCell', selRowId, 'email'):""
                        let phone =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'phone')?grid.jqGrid ('getCell', selRowId, 'phone'):""
                        let group =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'group')? grid.jqGrid ('getCell', selRowId, 'group'):""
                        let roles =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'roles')? grid.jqGrid ('getCell', selRowId, 'roles'):""
                        let source =  type=='edit' && grid.jqGrid ('getCell', selRowId, 'source')? grid.jqGrid ('getCell', selRowId, 'source'):""

                        $('#userid').val(userid)
                        $('#fname').val(fname)
                        $('#lname').val(lname)
                        $('#use2Factor').val(use2Factor)
                        $('#email').val(email)
                        $('#phone').val(phone)
                       
                        getcheckbox('roles',(roles)=>{
                            $('#roles').html(roles)   
                            getcheckbox('source',(source)=>{
                                $('#source').html(source)   
                               
                            })

                        })

                        setTimeout(()=>{                       
                            $('input:checkbox[name=source]').each((i,val)=>{
                                console.log(i,val,)
                                val.checked = source.includes(val.value)         
                            })   
                            $('input:checkbox[name=roles]').each((i,val)=>{
                                val.checked = roles.includes(val.value)                            
                            })

                        },300   )

                       // $('#group').val(group)
                       // $('#roles').val(roles)
                       // $('#source').val(source)          
                        
                    },              
                    close: () =>{
                        //$("#sendloader").css("display","none")
                    },
                    buttons: [
                        {
                            text: "Save",
                            click: () => {
                                updateUser((data)=>{
                                    let url = '/admin/update?tokenid=333444'
                                    $.ajax({
                                        url :url,
                                        data:JSON.stringify(data),
                                        async:false,
                                      //  dataType:'json',
                                        contentType: 'application/json; charset=utf-8',
                                        method: 'POST',
                                        success: function(data, textStatus, jqXHR) {
                                           // Alert(textStatus)
                                                showmessage(textStatus)
                                                grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                                                $( "#dialog-adminuser" ).dialog('close');                       
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            
                                                grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                                                $( "#dialog-adminuser" ).dialog('close');                       
                                        }
                                    });    

                                })
                            }
                        },
                        {
                            text: "Close",
                            click: () => {
                                $( "#dialog-adminuser" ).dialog('close');
                            }
                        }
                    ]
                }).dialog('widget').find('.ui-dialog-titlebar').hide()        
      
                let editSettings = {
                    //recreateForm: true,
                    jqModal: true,
                    reloadAfterSubmit: false,
                    closeOnEscape: true,
                    savekey: [true, 13],
                    closeAfterEdit: true
                };
                addSettings = {
                    //recreateForm: true,
                    jqModal: true,
                    reloadAfterSubmit: true,
                    savekey: [true, 13],
                    closeOnEscape: true,
                    closeAfterAdd: true   
                };
                
                
                let cols = { 
                 url:'/admin/userlist', 
                 //editurl:'/admin/update',
                 altRows: false, 
                 deepempty: true,
                 autowidth: true,
                 ignoreCase: true,
                 datatype: "json",
                 mtype: "GET",       
                 height:'600px',
                 width:'auto',
                 hidegrid: false,
                 multiselect:false,
                 jsonReader : {
                    root:"cargo",
                    repeatitems: false,
                    id: "userid"
                },
                 colModel:[
                     {label:'id',name:'userid', editable:false , width:115, editoptions:{size:26},formoptions:{label:'User ID'}, searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
                     {label:'active',name:'active', search:false,editable:false , width:45,formoptions:{label:'Active'}, 
                            edittype:'Text',
                            formatoptions: { disabled: false}
                    },
                    {label:'approved',name:'valid', search:false,editable:true , width:65,formoptions:{label:'Approve User'}, formatoptions: { disabled: false} },
                    {label:'pwd Reset',name:'pwdReset', search:false,editable:true , width:65,formoptions:{label:'Force Pwd Reset'}, formatoptions: { disabled: false} },
                     {label:'pwd expires',name:'pwdExpire',search:false, editable:true ,width:85,editoptions: {size:20, dataInit: function(el) { $(el).datepicker({ controlType: 'select', dateFormat: "yyyymmdd" } ) } }, formoptions:{label:'Password Expiry'} },
                     {label:'Use Two Factor',name:'use2Factor', search:false,editable:true , width:65,formoptions:{label:'Use Two Factor Auth'}, formatoptions: { disabled: false}, edittype: "checkbox", editoptions: {value: "1:0"} },
                     {label:'fname',name:'fname', editable:true , width:115, editoptions:{size:26},formoptions:{label:'First Name'}, searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
                     {label:'lname',name:'lname', editable:true , width:115, editoptions:{size:26},formoptions:{label:'Last Name'}, searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
                     {label:'email',name:'email', editable:true ,width:125,editoptions:{size:26},formoptions:{label:'Email'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                     {label:'phone',name:'phone', editable:true ,width:123,editoptions:{size:26},formoptions:{label:'Phone'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                    // {label:'group',name:'group',search:false, editable:true ,width:85,editoptions:{size:26}, formoptions:{label:'group'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                    {label:'roles',name:'roles',search:false, editable:false,hidden: false,editrules: { required: true,edithidden:true} ,width:185,edittype:"textarea",editoptions:{size:285,rows:"1",cols:"20"},formoptions:{label:'roles'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                    {label:'source',name:'source',search:false, editable:false,hidden: false,editrules: { required: true,edithidden:true} ,width:185,edittype:"textarea",editoptions:{size:285,rows:"1",cols:"20"},formoptions:{label:'roles'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                   {label:'Entry Date',name:'date', search:true,editable:false ,width:85,editoptions:{size:26},formoptions:{label:'Last Access'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                    //   {label:'last Access',name:'lastAccess', search:false,editable:false ,width:85,editoptions:{size:26},formoptions:{label:'Last Access'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                  //   {label:'last MSG',name:'msg', search:false,editable:true ,width:85,editoptions:{size:26},formoptions:{label:'Last Message'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                     //{label:'notes',name:'notes',index:'notes', editable:true, hidden: true,,width:450, edittype:"textarea", editoptions:{size:400,rows:"12",cols:"100"},sortable:false,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                 ],
                 pagerpos:"right",
                 loadonce:true,
                 toppager:true,
                 rowNum: 500,
                 rowTotal:5000,
                 "rowList": [],        // disable page size dropdown leave empty array
                "pgbuttons": null,     // disable page control like next, back button
                "pgtext": null,         // disable pager text like 'Page 0 of 10'
                "viewrecords": false,   // disable current view record text like 'View 1-10 of 100' 
                 gridview: true,
                 autoencode: false,            
                 caption: ""          
             }    
                ///===================================================
                grid = $("#"+PPgrid);                
             
                //======================================================
                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:false,
                        add:false,
                        del:false,
                        search:false,
                        refresh:true,
                        cellEdit: false,
                        reloadGridOptions: { fromServer: true },
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        },
                        edittext:'Edit User',
                        deltext:'Delete',
                        addtext:'Add User',
                        refreshtext:'Refresh'
                    },
                    editSettings, 
                    addSettings
                ) ;             
                grid.jqGrid("focusHeaderCell");
                myAddButton = (options) => {
                    grid.jqGrid('navButtonAdd','#'+PPpager,options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };  
                // search in toolbar
                //grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                grid.jqGrid('inlineNav',"#"+PPpager);
          
                        myAddButton ({
                            caption: "New User",
                            title: "Create New User",
                            onClickButton : function (){
                                $( "#dialog-adminuser" ).data("type","update").dialog({title:"New User"}).dialog( "open" );
                            }
                        });
                        myAddButton ({
                            caption: "Edit User",
                            title: "Edit User",
                            onClickButton : function (){
                                let rowId = grid.jqGrid("getGridParam", "selrow") 
                                if (rowId)  {
                                    $( "#dialog-adminuser" ).data("type","edit").dialog({title:"Edit User"}).dialog( "open" );
                                } else {
                                        Alert("please select a row")
                                }
                            }
                        });
                        myAddButton ({
                            caption: "Approve  User",
                            title: "Approve New User",
                            onClickButton : ()=> {
                                let selRowId = grid.jqGrid ('getGridParam', 'selrow');
                                if (selRowId)  {
                                    let conf = false
                                    let userid = grid.jqGrid ('getCell', selRowId, 'userid');
                                    let valid = grid.jqGrid ('getCell', selRowId, 'valid');
                                    let active = grid.jqGrid ('getCell', selRowId, 'active');
                                    if( [1,'1','Yes'].includes(valid ) &&  [1,'1','Yes'].includes(active)){
                                        conf = confirm( `account for ${userid} has been already approve .\n do you sure you want to continue`  )
                                    }
                                    if ( conf || confirm( `You are about to approve user account for ${userid}.\n Are you sure you want to continue`  ) ) {
                                        let url = baseUrl+`/admin/approve/${userid} ` ;
                                        $.ajax({
                                                type:'GET',     
                                                url: url,
                                                dataType: 'json',
                                                success: function( returnedData ) {

                                                    Alert("User Approved");     
                                                    grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');                                                 
                                                },
                                                error: function(jqXHR, textStatus, errorThrown){
                                                    Alert("User Approval failed");                                            
                                                
                                                }
                                        });   
                                        grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                                    }
                                } else {
                                    Alert("please select a user row first")
                                }
                            }
                        });
                        myAddButton ({
                            caption: "Reset Password",
                            title: "Reset AdminUser Password",
                            onClickButton : function (){
                                let $this = $(this) ;
                                let selRowId = $this.jqGrid ('getGridParam', 'selrow');
                                let userid = $this.jqGrid ('getCell', selRowId, 'userid');
                                let url = baseUrl+`/userpassword/reset/${userid}` ;
                                // console.log("reset pwd url= ",url);
                                let data = {userid:userid,tokenid:tokenid};
                                // console.log("data= "+JSON.stringify(data))
                                if ( confirm( "This will reset passsword for user: "+userid+"\n Are you sure you want to continue"  ) ) {
                                    $.ajax({
                                            type:'POST',     
                                            url: url,
                                            data:data,
                                            dataType: 'json',
                                            success: function( returnedData ) {
                                                log("RESET PWD user  result="+returnedData);                                            
                                            },
                                            error: function(jqXHR, textStatus, errorThrown){
                                                log("ajax error "+textStatus +'-'+ errorThrown);
                                            }
                                    });                        
                                }
                            }
                        });     
                        myAddButton ({
                            caption: "Disable User",
                            title: "Disable User",  
                            onClickButton : function (){
                                let selRowId = grid.jqGrid ('getGridParam', 'selrow');
                                if (selRowId)  {
                                    let userid = grid.jqGrid ('getCell', selRowId, 'userid');
                                    if ( confirm( "This will disable the user: "+userid+"\n Are you sure you want to continue") ) {
                                        let url = `/admin/disable/${userid}`
                                        $.ajax({
                                            type:'GET',     
                                            url: url,
                                            success: function( returnedData ) {
                                                grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');                                                                  
                                            },
                                            error: function(jqXHR, textStatus, errorThrown){
                                                log("ajax error "+textStatus +'-'+ errorThrown);
                                            }
                                        });                        
                                    }
                                } else {
                                    Aalert("please select a user row first")
                                }
                            }        
                        })
                       
                       
                       /*
                        myAddButton ({
                            caption: "Edit Config",
                            title: "Edit Config",
                            onClickButton : function (){
                                $( "#dialog-editconfig").dialog('open')
                            }
                        });
                        //*/
                $('#MainPage').hide()
                $(window).bind('resize', function() {
                    grid.setGridWidth($(window).width()-20);
                }).trigger('resize');
                $('#urls').change(function() {
                    $('#url_enter').val($(this).val())
                });
    });            
    //--------------------------------------------------------------------------
    var autoCloseTimer;
    var timeoutObject;
    var countdowntimer;
    var startedCountdown = false
    var countdown = (count) =>{
        if(count > 0) {
            let msg1 =`This window has been inactive for ${screenTimeout/1000/60} minutes and will autoclose in ${count} seconds unless you hit 'Cancel.'  Would you like it to close?`
            $("h4.test").text(msg1);
            countdowntimer = setTimeout(()=>{  countdown(count-1) },1000)
        } else {
            definitelyClose()
        }
    }           
    function promptForClose()  {
        beep()
        startedCountdown = true
        countdown(forcescreenTimeout/1000)
        autoCloseDiv.style.display = 'block'; //shows message on page
        autoCloseTimer = setTimeout("definitelyClose()",forcescreenTimeout);
        $('#autoCloseDiv').focus()
    }
    function autoClose(){
        startedCountdown = true
        autoCloseDiv.style.display = 'block'; //shows message on page
        autoCloseTimer = setTimeout("definitelyClose()",forcescreenTimeout); //starts countdown to closure
    }
    function cancelClose() {
        startedCountdown = false
        clearTimeout(countdowntimer);
        clearTimeout(autoCloseTimer);
        autoCloseDiv.style.display = 'none'; //hides message
    }
    function resetTimeout() {
        if( ! startedCountdown) { 
            clearTimeout(timeoutObject); //stops timer
            clearTimeout(autoCloseTimer); //stops timer
            timeoutObject = setTimeout("promptForClose()",screenTimeout); //restarts timer from 0 
        }
    }
    function definitelyClose() {
        startedCountdown = false
        clearTimeout(countdowntimer);
        logout()
       $("h4.test").text("");
       autoCloseDiv.style.display = 'none'; //hides message
    } 
    //------------------------------------------------------------
    </script>
    <body onmousemove="resetTimeout();" onkeydown="resetTimeout();" onmousedown='resetTimeout();' ontouchstart="resetTimeout();" onload="timeoutObject=setTimeout('promptForClose()',screenTimeout);">
        <%- include login.ejs %>
        <div id="MainPage">
            <div id="statusbar" style="display:none ;height:auto;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:5px; background:#e7949b;">
            </div>
            <div id='autoCloseDiv'  class="ui-layout-center ui-widget-content ui-corner-all" style="display:none;height:auto;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:rgb(243, 190, 190);">        
                <h4 class="test">This window has been inactive for ${screenTimeout} seconds and will autoclose in 5 seconds unless you hit 'Cancel.'  Would you like it to close?</h4>
                <center>
                        <input type='button' value='Close' onclick='definitelyClose();' />
                        <input type='button' value='Cancel' onclick='cancelClose();' />
                </center>
            </div>
            <div id="dialog-editconfig" title='Edit Config'  class="ui-layout-center ui-widget-content ui-corner-all" style="display:none">
                <p></p>
                <div><b>select server or type it in:</b>  
                    <select id="urls">
                        <option value="">select host</option>
                        <option value="https://localhost:7443">local App Server</option>
                        <option value="http://localhost:6002">local Auth Server</option>
                        <option value="https://192.168.160.31:7443">Stage App Server</option>
                        <option value="http://192.168.160.31:6003">Stage Auth Server</option>
                        <option value="https://192.168.180.151:7443">Prod App Server</option>
                        <option value="http://192.168.180.151:6003">Prod Auth Server</option>
                    </select>
                </div>
                <p></p>
                <input  id="url_enter" type="text" style="width:415px">
                <input id="edit_configbtn" type='button' value='Edit config file' onclick='editConfig();' />
                <p></p>
            </div>
            <div id="dialog-adminuser" title='New User'  class="ui-layout-center ui-widget-content ui-corner-all" style="display:none">
                    <form id="editconfig-form" method="POST" action="">
                        <div class="msg">All fields are required</div>    
                        <p></p>
                        <div >
                            <label> User ID </label>
                            <span class="ui-widget-content ui-corner-all">
                                <input autocomplete="off" type="text" value="" class="form-control" id='userid' minlength=2 name="userid" placeholder="User ID"  autofocus>
                            </span>
                        </div>
                        <div >
                            <label > First Name </label>
                            <span class="ui-widget-content ui-corner-all">
                                <input autocomplete="off" type="text" value=""  id='fname' minlength=2 name="fname" placeholder="First Name"  >
                            </span>
                        </div>
                        <div >
                            <label> Last Name</label>
                            <input autocomplete="off" type="text" value=""  id='lname' minlength=2 name="lname" placeholder="Last Name">
                        </div>
                        <div >
                            <label >Mail</label>
                            <input type="email" autocomplete="off"  value=""  id='email' minlength=2 name="email" placeholder="email" >
                        </div>
                        <div >
                            <label>Phone</label>
                            <input autocomplete="off" type="text" value="" class="form-control" id='phone' minlength=2 name="phone" placeholder="phone"  >
                        </div>
                        <div >
                            <label>Use 2 Factor</label>
                            <input autocomplete="off" type="text" value="" class="form-control" id='use2Factor' minlength=2 name="use2Factor" placeholder="use 2 factor"  >
                        </div>
                      
                            <div>
                                <label><b>Roles</b></label>
                                <div>
                                    <input type='button' value='Select All' onclick='selectRoles(true);' />
                                    <input type='button' value='Un-Select All' onclick='selectRoles(false);' />   
                                </div>
                                <div id="roles" class="ui-widget-content ui-corner-all" >   
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="roles" value="FCS_ADD">
                                        <label>FCS_ADD</label> 
                                    </div>    
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="roles" value="FCS_EDIT">
                                        <label>FCS_EDIT</label> 
                                    </div>    
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="roles" value="FCS_VIEW">
                                        <label>FCS_VIEW</label> 
                                    </div>    
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="roles" value="FCS_AUDIT">
                                        <label>FCS_AUDIT</label> 
                                    </div>    
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="roles" value="FCS_REPORTSVIEW">
                                        <label>FCS_REPORTSVIEW</label> 
                                    </div>    
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="roles" value="FCS_REPORTS">
                                        <label>FCS_REPORTS</label> 
                                    </div>    
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="roles" value="FCS_USEREDIT">
                                        <label>FCS_USEREDIT</label> 
                                    </div>   
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="roles" value="FCS_USERDELETE">
                                        <label>FCS_USERDELETE</label> 
                                    </div>   
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="roles" value="FCS_USERREGISTER">
                                        <label>FCS_USERREGISTER</label> 
                                    </div>   
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="roles" value="FCS_ADMINUSERCREATE">
                                        <label>FCS_ADMINUSERCREATE</label> 
                                    </div>
                                </div>   
                        
                            </div>   
                        <div>
                            <label><b>Source</b></label>
                                <div>
                                    <input type='button' value='Select All' onclick='selectSource(true)' />
                                    <input type='button' value='Un-Select All' onclick='selectSource(false);' />   
                                </div>
                                <div id="source" class="ui-widget-content ui-corner-all" >   
                                    <div>
                                        <input class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="asource" value="HIXNY">
                                        <lable>HIXNY</lable>
                                    </div>
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="asource" value="BRONX">
                                        <label>BRONX</label> 
                                    </div>
                                    <div > 
                                        <input  class="checkbox ui-widget-content ui-corner-all"  type="checkbox" name="asource" value="HEALTHIX" >
                                        <lable>HEALTHIX</lable>
                                    </div>
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all"  type="checkbox" name="asource" value="HEALTHELINK" >
                                        <lable>HEALTHELINK</lable>
                                    </div>
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="asource" value="HEALTHECONN" >
                                        <label>HEALTHECONN</lable>
                                    </div>
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="asource" value="GRRHIO" >
                                        <label>GRRHIO</lable>
                                    </div>
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="asource" value="DOHMPI" >
                                        <label>DOHMPI</lable>
                                    </div>
                                    <div>
                                        <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="asource" value="STATEWIDE" >
                                        <label>STATEWIDE</lable>
                                    </div>    
                                </div> 
                        </div>   
                        <br>  
                
                    </form>
            </div>
            
            <div class="toolbar" id="loginHeader" class="ui-widget-header:"  >     	     
                <table id="adminuserslist"></table> 
                <div id="adminuserspager"></div>                        
            </div>    
           
         
        </div>
    </body>
  
