<script src="/js/jquery.validate.js"></script>
   <style>
    .imgcontainer {
        text-align: center;
        margin: 12px 0 12px 0;
    }
    </style>
    <script>
 //---------------------------------------------------------------------------------
            let logout = ()=>{
                let url = `/logout?tokenid=${tokenid}`
                $('#btn-loginAccess').show()
                $('#btn-login').hide()
                $('#login-scrn').hide()  
                $('#btn-fcs').hide()
                $('#btn-logout').hide()
                //
                $('#login-scrn').html("")
                    $('#edit-config').hide()
                   // showmessage("Logged Out")
                     $('#MainPage').hide()
                     $("#logout-user").hide();  
                     $("#login-user").show();
                //
                     tokenid = ""
                closeWindows()
                $('#login-panel').hide()
                showmessage("",false)
                $.get(url,(result)=>{
                    
                })
            }           
            //--------------------------------------------------------------------
            let getToken = (tokenid,callback) =>{
                let url = `/token/token/${tokenid}`
                console.log("getToken url",url)
                $.ajax({
                    type:'GET',     
                    url: url,
                    success: ( _token ) => {
                        callback(_token)                
                    },
                    error: (jqXHR, textStatus, errorThrown) => {
                        console.log("ajax error "+textStatus +'-'+ errorThrown);
                        callback({"error":errorThrown})
                    }
                });      
            }
             //----------------------------------------------------------
             function validateUser(callback) {
                    let valid = true
                    var password = $('#pwd_enter').val();
                    var userid = $('#uid_enter').val();
                    
                    var data = {password,userid};
                    if(isEmpty(password) || isEmpty(userid)){
                        valid = false
                        Alert( "valid Userid and password need to be entered" );
                        return valid;
                    }
                    if(valid) {
                        var url =  "/login"
                        console.log(url,data);
                        $.ajax({
                            type:'POST',     
                            url: url,
                            data:data,
                            success: ( _tokenid ) => {
                                tokenid = _tokenid
                                verify(tokenid,(msg)=>{
                                   // showmessage(msg)
                                })
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                console.log("ajax error "+textStatus +'-'+ errorThrown);
                            }
                        }) 
                    } else {
                        callback(false ,"n/a")
                    }
                    return valid
            }
              //-----------------------------------------------------------
              let verifycode=(tokenid) => {
                    let code = $('#asacode_enter').val()
                    getToken(tokenid,(token) =>{
                        if(token){
                            if(token.passcode == code){
                                
                                verifyAccess(token.tokenid,"ADMIN_ALL,ADMIN_VIEW",(verified)=>{
                                    if(verified){
                                       // $('#edit-config').hide()
                                        $('#asacode').hide()
                                        $('#login-scrn').show()
                                        $('#login-scrn').html("<b>Welcome "+token.fname + " "+token.lname+"</b")
                                        $( "#dialog-login" ).dialog( "close" );
                                        $("#logout-user").show();  
                                        $("#login-user").hide();
                                        $('#MainPage').show()
                                        verifyAccess(user.tokenid,"CONFIG_EDIT,CONFIG_ALL",(verified)=>{
                                            if(verified) {
                                                $('#edit-config').show()
                                            }
                                        })


                                    } else {
                                        showmessage("No Permission for Administer Users")
                                        logout()
                                    }

                                })
                                   
                            } else {
                                $('#btn-verify').show()
                                let msg ="invalid code" 
                                showmessage(msg)
                                $('#asacode').hide()
                             
                            }
                        } else {
                            showmessage("invalid userid or password for token")
                        }
                    })
                }
            //---------------------------------------------------------------------------------
            let verify = (tokenid,callback)=>{
                if(tokenid == 'n/a') {
                    callback("invalid userid or password") 
                } else{
                    getToken(tokenid,(user) =>{
                        if(user){ 
                            if(user.asasent  ){
                                $('#btn-verify').hide()
                                $('#asacode').show()
                                $('#btn-verifycode').show()
                                $('#asacode_enter').focus()
                            }
                            if(user.status == "USER OK"){
                            }  else if (user.status == "VERIFIED") {
                                verifyAccess(user.tokenid,"ADMIN_ALL,ADMIN_VIEW",(verified)=>{
                                    //verified = true
                                    if(verified){
                                        //showmessage("Logged in OK")
                                  
                                      //  $('#edit-config').hide()
                                        $('#asacode').hide()
                                        $('#login-scrn').show()
                                        $('#login-scrn').html("<b>Welcome "+user.fname + " "+user.lname+"</b")
                                        $( "#dialog-login" ).dialog( "close" );
                                        $("#logout-user").show();  
                                        $("#login-user").hide();
                                        $('#MainPage').show()
                                        verifyAccess(user.tokenid,"CONFIG_EDIT,CONFIG_ALL",(verified)=>{
                                            if(verified) {
                                                $('#edit-config').show()
                                            }
                                        })
                                    } else {
                                        showmessage("No Permission for Administer Users")
                                        //logout()
                                    }
                                })

                            } else if (user.status == "ACCOUNT INVALID") {
                            } else if (user.status == "INVALID TOKEN") {
                            } else if (user.status == "RESET PASSWORD") {
                                changePassword()
                            }  else if (user.status == "EXPIRED PASSWORD") {
                            }  else if (user.status == "ASA CODE SENT") {
                            } else if (user.status ==  "PASSWORD NOT VERIFIED") {
                            } else if (user.status ==  "USER NOT FOUND") {
                            }
                        } else {
                            showmessage("user or password do not match")
                        }
                        callback(user.msg) 
                    })                                        
                }                                                           
            }
            //-----------------------------------------------------------
            $(() => {          
               
                //--------------------------------------------------------
                let login = ()=>{
                    let userid = $('#uid_enter').val()
                    let password = $('#pwd_enter').val()
                    let url = `/login`
                    console.log("regCode:",registerCode)
                    if(! isEmpty(registerCode)) {
                        url = `/slogin/${registerCode}`
                        console.log(url)
                        $.get(url,(_tokenid)=>{
                            console.log("reg tokenid",_tokenid)
                            verify(_tokenid,(msg)=>{
                               // showmessage(msg)
                              
                            })
                        })
                    } else {
                        if(isEmpty(userid) || isEmpty(password)){
                            let msg = 'please enter a valid userid and password'
                           // showmessage(msg)
                            return
                        }
                        $.post(url,{userid,password,source},(_tokenid)=>{
                            tokenid = _tokenid
                            verify(tokenid,(msg)=>{
                              //  showmessage(msg)
                            })
                            console.log("login-result : "+tokenid)                     
                        })
                    }
                } 
               
                //----------------------------------------------------
                $( "#dialog-login" ).dialog({
                    autoOpen: false,
                    height: 'auto',
                    width: 400,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 500
                    },
                    hide: {
                        effect: "explode",
                        duration: 500
                    },
                    buttons: {
                        Cancel: function() {
                            $( "#dialog-login" ).dialog( "close" );
                        }
                    },
                    open: function(){
                      
                    },              
                    close: function() {
                        $( "#dialog-login" ).dialog('close');
                    }
                }).dialog('widget').find('.ui-dialog-titlebar').hide()         
                
                $( "#login-user" ).button().on( "click", function() {
                    $('#login-panel').show()
                  // $('#loginHeader').hide()
                   $( "#dialog-login" ).dialog( "open" );
                });
                $( "#logout-user" ).button().on( "click", function() {
                    logout()
                    $('#login-scrn').html("")
                    $('#edit-config').hide()
                   // showmessage("Logged Out")
                     $('#MainPage').hide()
                     $("#logout-user").hide();  
                     $("#login-user").show();
                });
                $( "#edit-config" ).button().on( "click", function() {
                     $( "#dialog-editconfig").dialog('open')
                })
                $("#logout-user").hide();
            });
    </script>
     <div class="imgcontainer">
        <a href="HTTP://nyehealth.org/sshin-ny/what-is-the-shin-ny/" target="_blank" >    
            <img id="headerlogo" height="100px"  width='160px' src="/images/nyec-logo.png" alt="NYeC Logo" vertical-align="none"/>
        </a> 
               
        <div  >
            <button   id="login-user"  class="ui-button ui-widget ui-corner-all">Login</button>
            <button style="display:none"  id="logout-user"  class="ui-button ui-widget ui-corner-all">Logout</button>
            <button style="display:none"  id="edit-config"  class="ui-button ui-widget ui-corner-all">Edit config</button>
        </div>
    
           
        <div id="login-scrn" >
        
        </div>
    
    </div>
 
    <div id="statusbar" style="display:none ;height:auto;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:5px; background:#e7949b;"></div>

   	<div id="dialog-login" title='Login' class="ui-layout-center" style="display:none" >
        <div id="login-panel">
            <div><b>UID:</b>  
                <input  id="uid_enter" type="text"  placeholder="Enter UID">
            </div>
            <p></p>
            <div><b>PW  :</b>
                <input id="pwd_enter" type="password"  placeholder="Enter Password">
            </div>
            <p></p>
            <div id="asacode" style="display:none">ASA code :
                <input id="asacode_enter" type="password"  placeholder="Enter Passcode" >
                <button id="btn-verifycode" onclick="verifycode(tokenid)">
                    verify code
                </button> 
            </div>
            <button id="btn-verify" onclick="validateUser()">
                Submit
            </button> 
        </div>     
    </div>
    
 
