

  
   
    <script src="/js/jquery.validate.js"></script>

  
    
    <script>
        var baseUrl = document.location.origin;
        var grid = "";

        $('#newuser-form').validate({
            messages:{
                aemail:"Please enter valid email",
                afname:"Please enter the passcode sent via email",
                auserid:"Please enter a valid password",
                alname:"Please re-enter the new-password"
            },
            fields:{
                aphone: {
                    validators: {
                        phone: {
                            message: 'The input is not a valid US phone number'
                        }
                    }
                },
            },
            rules: {
                'afname': {
                    required:true
                },
                'alname': {
                    required:true
                },
                'auserid': {
                    required:true
                },
                'aemail': {
                    required:true,
                    email:true
                },               
            },
            highlight: function (input) {
                $(input).parents('.form-line').addClass('error');
            },
            unhighlight: function (input) {
                $(input).parents('.form-line').removeClass('error');
            },
            errorPlacement: function (error, element) {
                $(element).parents('.input-group').append(error);
            }
        });                
                     
        //--------------------------
        var selectSource = (flag) =>{
                    $('input:checkbox[name=a_source]').each((i,val)=>{
                        val.checked = flag
                    }) 
                }    
        $( function() {
                var tokenid = 0;
                var form;
                $(window).bind("beforeunload", function() { 
                    closeWindows();
                })
                //-------------------------
                if (isEmpty(tokenid) ) {
                    tokenid = getURLParameter('tokenid') ;
                }     
                      
                //---------------------------
                let forgotPassword = (callback)=>{
                    let data = {}
                    data.userid = $('#fuserid').val()
                    data.email = $('#femail').val()
                    if(isEmpty(data.userid) || isEmpty(data.email)) {
                        Alert("All required fields need to be filled in")
                        return
                    } 
                   
                    let url = "/userpassword/forgot"
                    
                    $.ajax({
                        type:'POST',     
                        url: url,
                        data:data,
                        dataType: 'json',
                        success: function( token ) {
                            callback(token)   
                            showmessage(token.msg)          
                            console.log(token)                      
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log("ajax error "+textStatus +'-'+ errorThrown);
                        }
                    });    
                  
                }    
                //--------------------------
                let ChangePassword = (callback)=>{
                    let data = {}
                    data.userid = $('#suserid').val()
                    data.password = $('#spassword').val()
                    data.newpassword = $('#snewpassword').val()
                    data.reenterpassword = $('#sreenterpassword').val()
                    if(isEmpty(data.userid) || isEmpty(data.password)|| isEmpty(data.newpassword)|| isEmpty(data.reenterpassword)) {
                        Alert("All required fields need to be filled in")
                       
                    } 
                    if( (data.newpassword)== (data.reenterpassword)) {
                        let url = "/userpassword/change"
                        $.ajax({
                                type:'POST',     
                                url: url,
                                data:data,
                                dataType: 'json',
                                success: function( returnedData ) {
                                    callback(returnedData)
                                    console.log(returnedData);            
                                    showmessage(returnedData.status)                                
                                },
                                error: function(jqXHR, textStatus, errorThrown){
                                    console.log("ajax error "+textStatus +'-'+ errorThrown);
                                }
                        });    
                    }else{
                        Alert('new passwords do not match')
                    }  
                }
                //------------------------        
                let RegisterUser = (callback) =>{
                  
                    let data = {}
                    let source = []
                    let type = $( "#ddialog-register-user").data('type')

                    data.userid = $('#auserid').val()
                    data.lname =  $( '#alname').val()
                    data.fname =  $('#afname').val()
                    data.email =  $('#aemail').val()
                    data.phone =  $('#aphone').val()
                    $('input[type=checkbox]').each((i,val)=>{
                        if(val.checked){
                            source.push(val.value);
                        }
                    })
                    if(isEmpty(data.userid) || isEmpty(data.email)|| isEmpty(data.lname)|| isEmpty(data.fname)) {
                        alert("All required fields need to be filled in")
                        return
                    } 
                  
                    data.source =  source.join(", ")
                    //console.log(data)
                
                    let url = "/admin/register/user"
                
                    $.ajax({
                            type:'POST',     
                            url: url,
                            data:data,
                            //dataType: 'json',
                            success: function( returnedData ) {
                                callback(returnedData)
                            
                                console.log("returned data",returnedData);            
                                showmessage(returnedData.status)                                
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                console.log("ajax error "+textStatus +'-'+ errorThrown);
                            }
                    });    
                
                   
                }
               $( "#dialog-register-user").dialog({
                    autoOpen: false,
                    width: '480px',
                    modal: true,
                    draggable: true,
                    resizable: true,
                    open: (event,ui) => {
                    },              
                    close: () =>{
                        //$("#sendloader").css("display","none")
                    },
                    buttons: [
                        {
                            text: "Save",
                            click: () => {
                                if ( $('#register-form').valid() ){            
                                    RegisterUser((result)=>{
                                        if(result.error) {
                                            alert(result.status)
                                        } else {
                                            //showmessage("",false)      
                                            $( "#dialog-register-user" ).dialog('close');

                                        }
                                    })
                                }                 
                            }
                        },
                        {
                            text: "Close",
                            click: () => {
                                //showmessage("",false)
                                $( "#dialog-register-user" ).dialog('close');   
                            
                            }
                        }
                    ]
                }).dialog("widget").find(".ui-dialog-titlebar").hide()
                
               $( "#dialog-change-password").dialog({
                    autoOpen: false,
                    width: '480px',
                    modal: true,
                    draggable: true,
                    resizable: true,
                    open: (event,ui) => {
                    },              
                    close: () =>{
                        //$("#sendloader").css("display","none")
                    },
                    buttons: [
                        {
                            text: "Save",
                            click: () => {
                                ChangePassword((result)=>{
                                    if(result.error) {
                                        alert(result.status)
                                    } else {
                                        //showmessage("",false)      
                                        $( "#ddialog-change-password" ).dialog('close');
                                        
                                    }
                                })
                            }
                        },
                        {
                            text: "Close",
                            click: () => {
                                //showmessage("",false)
                                $( "#dialog-change-password" ).dialog('close');   
                            }
                        }
                    ]
                }).dialog("widget").find(".ui-dialog-titlebar").hide()
                
               $( "#dialog-forgot-password").dialog({
                    autoOpen: false,
                    width: '480px',
                    modal: true,
                    draggable: true,
                    resizable: true,
                    open: (event,ui) => {
                    },              
                    close: () =>{
                        //$("#sendloader").css("display","none")
                    },
                    buttons: [
                        {
                            text: "Save",
                            click: () => {
                                forgotPassword((result)=>{
                                    if(result.error) {
                                        alert(result.status)
                                    } else {
                                        //showmessage("",false)      
                                        $( "#dialog-forgot-password" ).dialog('close');
                                    }
                                })            
                            }
                        },
                        {
                            text: "Close",
                            click: () => {
                                //showmessage("",false)
                                $( "#dialog-forgot-password" ).dialog('close');   
                            
                            }
                        }
                    ]
                }).dialog("widget").find(".ui-dialog-titlebar").hide()
            });                       
    </script>
    <div id="dialog-register-user"  class="ui-layout-center ui-widget-content ui-corner-all" style="display:none" >         
        <form id="register-form" method="POST">
            <fieldset>
                <div class="ui-layout-center ui-widget-content ui-corner-all" >
                    <legend>Please provide your name, email address (won't be published) and a user id </legend>
                    <br>
                    <div class="msg">Please select all Sources that you will use</div>    
                </div>
               
                    <label  for="auserid"><b>User ID </b></label>
                    <input autocomplete="off" type="text" value="" id='auserid' minlength=2 name="auserid" placeholder="User ID" required autofocus>
               
                    <label for="afname"> <b>First Name</b> </label>
                    <input autocomplete="off" type="text" value="" class="form-control" id='afname' minlength=2 name="afname" placeholder="First Name" required >
               
                    <label for="alname"><b> Last Name </b></label>
                    <input autocomplete="off" type="text" value="" class="form-control" id='alname' minlength=2 name="alname" placeholder="Last Name" required>
               
                    <label for="aemail"><b>E-Mail</b> </label>
              
                    <label for="aphone"><b> Phone</b> </label>
                    <input autocomplete="off" type="text" value="9907753211" class="form-control" id='aphone' minlength=2 name="aphone" placeholder="phone" required >
                <div>
                    <label for="source"><b>Source</b></label>

                    <div id="source" class="ui-widget-content ui-corner-all" >   
                        <input type='button' value='Select All' onclick='selectSource(true);' />
                        <input type='button' value='Un-Select All' onclick='selectSource(false);' />   
                        <div>
                            <input class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="a_source" value="HIXNY">
                            <lable>HIXNY</lable>
                        </div>
                        <div>
                            <input  class="checkbox ui-widget-content ui-corner-all" type="checkbox" name="a_source" value="BRONX">
                            <label>BRONX</label> 
                        </div>
                        <div > 
                            <input  class="checkbox ui-widget-content ui-corner-all"  type="checkbox" name="a_source" value="HEALTHIX" >
                            <lable>HEALTHIX</lable>
                        </div>
                        <div>
                            <input  class="checkbox ui-widget-content ui-corner-all"  type="checkbox" name="a_source" value="HEALTHELINK" >
                            <lable>HEALTHELINK</lable>
                        </div>
                        <div>
                            <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="a_source" value="HEALTHECONN" >
                            <label>HEALTHECONN</lable>
                        </div>
                        <div>
                            <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="a_source" value="GRRHIO" >
                            <label>GRRHIO</lable>
                        </div>
                        <div>
                            <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="a_source" value="DOHMPI" >
                            <label>DOHMPI</lable>
                        </div>
                        <div>
                            <input  class="checkbox ui-widget-content ui-corner-all"   type="checkbox" name="a_source" value="STATEWIDE" >
                            <label>STATEWIDE</lable>
                        </div>    
                    </div> 
                      

            </fieldset>      
        </form>
          <div id="statusbar" style="display:none ;height:auto;width:auto ;border:0px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:5px; background:#e7949b;"></div>

    </div>
  
    <div id="dialog-change-password"  class="ui-layout-center ui-widget-content ui-corner-all" style="display:none">
        <form id="change-password-form" method="POST">
            <fieldset>      
                    <a class="changepassword" href="javascript:toggleDiv('showChangePassword');">
            Change your password.
            <br>
            </a>
            <div id="showChangePassword" class="changepassword" >
                <br> 
                <label  for="auserid">User ID :</label>
                <input   type="text" value="" id='suserid' minlength=2  placeholder="User ID" class="text ui-widget-content ui-corner-all">
                <br>
                <label class='loginlabel' >Current Password :</label>
                <input type="password" id="spassword" value=""  placeholder="current Password" class="text ui-widget-content ui-corner-all">
                <br>
                <label class='loginlabel'  >New Password :</label>
                <input type="password"  id="snewpassword" value=""  placeholder="new password" class="text ui-widget-content ui-corner-all">
                <br>
                <label class='loginlabel'  >Re-enter Password :</label>
                <input type="password"id="sreenterpassword" value="" placeholder="Re-enter new password" class="text ui-widget-content ui-corner-all">
                <br>
            </div>
        </fieldset>      
    </form>
</div>

<div id="dialog-forgot-password" class="ui-layout-center ui-widget-content ui-corner-all" style="display:none">
    <form id="forgor-password-form" method="POST">
        <fieldset>       
            <a class="forgotpassword" href="javascript:toggleDiv('showForgotPassword');">
            Forgot your password?
            <br>
            </a>
            <div id="showForgotPassword"  >
                <br> 
                <label  for="auserid">User ID :</label>
                <input   type="text" value="" id='fuserid' minlength=2 name="auserid" placeholder="User ID" class="text ui-widget-content ui-corner-all">
                <br>
                <label class='loginlabel'  for="email">Email :</label>
                <input type="text" name="email" id="femail" value="" placeholder="EMail"class="text ui-widget-content ui-corner-all">
                <br>
            
            </div>
        </fieldset>      
    </form>
</div>
           